{%- liquid
  # Use a slider component when more than one slides and load needed css.
  if section.blocks.size > 1 or request.design_mode
    assign wrapper_element = 'swiper-slider'
    render 'import-styles', file_name: 'component-swiper.css'
  endif
-%}

{% comment %} Capture the slides first so we know  {% endcomment %}
{%- capture swiper_slides -%}
  {%- for block in section.blocks -%}
    {%- if block.settings.text != blank -%}
      <div class="swiper-slide announcement-bar__slide text-center text-sm {{ section.settings.color_scheme }}"
        data-swiper-slide-index="{{ forloop.index }}"
        {{ block.shopify_attributes }}
      >
        {%- if block.settings.url != blank -%}
          <a
            href="{{ block.settings.url }}"
            {% if block.settings.target_blank %}
              target="_blank"
              rel="noopener"
            {% endif %}
            class="announcement-bar__message relative m-0 block overflow-hidden text-ellipsis whitespace-nowrap px-4 py-1 text-inherit no-underline states:text-inherit states:no-underline states:opacity-60"
          >
            {{- block.settings.text | escape -}}
          </a>
        {%- else -%}
          <p class="announcement-bar__message relative m-0 block overflow-hidden text-ellipsis whitespace-nowrap px-4 py-1">
            {{- block.settings.text | escape -}}
          </p>
        {%- endif -%}
      </div>
    {%- endif -%}
  {%- endfor -%}
{%- endcapture -%}

{% comment %} Render the content if there are slides {% endcomment %}
{%- if swiper_slides != blank -%}
  {%- capture swiper_options -%}
    data-options='{ "speed": {{ section.settings.swiper_speed }},
    {%- if section.settings.swiper_autoplay %}
      "autoplay": {
        "delay": {{ section.settings.swiper_autoplay_speed }}
      },
    {%- endif %}
    "loop": {{ section.settings.swiper_loop }}, "slidesPerView": 1, "direction": "horizontal" }'
  {%- endcapture -%}

  <div class="announcement-bar relative overflow-hidden lg:z-offcanvas-backdrop">
    <{{ wrapper_element | default: 'div' }}
      role="region"
      aria-label="{% render "render-translation", namespace: "sections.header", key: "announcement", fallback: "Announcement" -%}">
      <div class="swiper" data-swiper {{ swiper_options }}>
        <div class="swiper-wrapper">
          {{ swiper_slides }}
        </div>
      </div>
    </{{ wrapper_element | default: 'div' }}>
  </div>

  <script src="{{ 'swiper-slider.js' | asset_url }}" type="module"></script>
{%- endif -%}

{% schema %}
  {
    "name": "Announcement bar",
    "max_blocks": 4,
    "limit": 1,
    "settings": [
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "select",
        "id": "color_scheme",
        "default": "color-scheme color-scheme--primary",
        "label": "Color scheme",
        "options": [
          {
            "value": "color-scheme color-scheme--gradient",
            "label": "Gradient",
            "group": "Theme"
          },
          {
            "value": "color-scheme color-scheme--primary",
            "label": "Primary",
            "group": "Theme"
          },
          {
            "value": "color-scheme color-scheme--secondary",
            "label": "Secondary",
            "group": "Theme"
          },
          {
            "value": "color-scheme color-scheme--accent",
            "label": "Accent",
            "group": "Theme"
          },
          {
            "value": "color-scheme color-scheme--white",
            "label": "White",
            "group": "Standard"
          },
          {
            "value": "color-scheme color-scheme--gray",
            "label": "Gray",
            "group": "Standard"
          },
          {
            "value": "color-scheme color-scheme--black",
            "label": "Black",
            "group": "Standard"
          }
        ]
      },
      {
        "type": "header",
        "content": "Swiper options"
      },
      {
        "type": "checkbox",
        "id": "swiper_loop",
        "label": "Loop",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "swiper_autoplay",
        "label": "Autoplay",
        "default": false
      },
      {
        "type": "number",
        "id": "swiper_autoplay_speed",
        "label": "Autoplay speed in ms",
        "default": 8000
      },
      {
        "type": "range",
        "id": "swiper_speed",
        "min": 0,
        "max": 2000,
        "step": 50,
        "unit": "ms",
        "label": "Effect speed",
        "default": 750
      }
    ],
    "blocks": [
      {
        "type": "bar",
        "name": "Bar",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Text",
            "default": "Welcome to our store"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Url"
          },
          {
            "type": "checkbox",
            "id": "target_blank",
            "label": "Open in new tab",
            "default": false
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Announcement bar",
        "blocks": [
          {
            "type": "bar"
          }
        ]
      }
    ],
    "enabled_on": {
      "groups": ["header"]
    }
  }
{% endschema %}
