{%- assign cart_json = cart.items | json -%}

{%- if request.page_type != 'cart' -%}
  <cart-drawer class="cart-drawer" data-cart-drawer>
    {%- comment -%} Backdrop {%- endcomment -%}
    <class-toggle-component
      class="cart-drawer__backdrop backdrop group-[.cart-drawer-is-open]/body:backdrop--active z-offcanvas-backdrop"
      tabindex="-1"
      aria-hidden="true"
      data-options='
        {
          "classToToggle": "cart-drawer-is-open"
        }
      '></class-toggle-component>

    {%- comment -%} Cart drawer {%- endcomment -%}
    <div
      id="cartDrawer"
      class="
        fixed bottom-0 end-0 top-0 z-offcanvas flex h-full translate-x-full flex-col overflow-x-hidden text-text-default
        opacity-0
        transition-all
        duration-300
        group-[.cart-drawer-is-open]/body:translate-x-0
        group-[.cart-drawer-is-open]/body:opacity-100
        xs:max-w-sm
        sm:max-w-[584px]
        sm:flex-row-reverse
      "
      role="dialog"
      tabindex="-1"
      aria-label="{%- render 'render-translation', namespace: "general.cart", key: "drawer", fallback: "Cart drawer" -%}">
      {% comment %} Drawer items {% endcomment %}
      <cart-items class="cart-items group/cart-items peer invisible h-full min-w-min max-w-sm bg-white group-[.cart-drawer-is-open]/body:visible {% if cart == empty %}cart-is-empty{% endif %}">
        {%- comment -%} Empty cart {%- endcomment -%}
        <div
          class="cart-drawer__warnings hidden flex-col items-center justify-center px-10 py-24 text-center group-[.cart-is-empty]/cart-items:flex group-[.cart-is-empty]/cart-items:min-h-screen">
          <p class="h4 cart-drawer__empty-text">
            {%- render 'render-translation', namespace: 'sections.cart', key: 'empty', fallback: 'Your cart is empty' -%}
          </p>

          <class-toggle-component
            data-options='
              {
                "classToToggle": "cart-drawer-is-open"
              }
            '>
            <button
              type="button"
              class="button button--link flex px-0 py-0">
              {%- render 'icons', icon: 'chevron-left', icon_size: 'w-5' -%}
              {%- render 'render-translation', namespace: 'general', key: 'continue_shopping', fallback: 'Continue shopping' -%}
            </button>
          </class-toggle-component>
        </div>

        {%- comment -%} Form {%- endcomment -%}
        <form
          action="{{ routes.cart_url }}"
          class="cart-drawer__form flex min-h-full flex-col flex-wrap bg-white group-[.cart-is-empty]/cart-items:hidden"
          method="post"
          id="cart-drawer-form">
          {%- comment -%} Header {%- endcomment -%}
          <header class="cart-drawer__header insex-x-0 sticky top-0 z-20 border-b bg-white p-4">
            <class-toggle-component
              data-options='
                {
                  "classToToggle": "cart-drawer-is-open"
                }
              '>
              <button
                type="button"
                class="button button--link flex px-0 py-0"
                tabindex="0">
                {%- render 'icons', icon: 'chevron-left', icon_size: 'w-5' -%}
                {%- render 'render-translation', namespace: 'general', key: 'continue_shopping', fallback: 'Continue shopping' -%}
              </button>
            </class-toggle-component>
          </header>

          {%- comment -%} Cart drawer items {%- endcomment -%}
          <div
            class="cart-drawer__content relative z-10 px-4 pt-6 group-[.cart-is-empty]/cart-items:hidden"
            id="main-cart-items"
            data-id="{{ section.id }}">
            <div class="js-cart-item-contents group-[.cart-items-is-loading]/cart-items:pointer-events-none group-[.cart-items-is-loading]/cart-items:opacity-40">
              {%- if cart != empty -%}
                <div class="cart-drawer-items">
                  {%- for item in cart.items -%}
                    {%- render 'cart-item', item: item, image_size: 80, view: 'cart-drawer' -%}
                  {%- endfor -%}
                </div>
              {%- endif -%}
            </div>
            <p class="sr-only" id="cart-live-region-text" aria-live="polite" role="status"></p>
            <p
              class="sr-only"
              id="shopping-cart-line-item-status"
              aria-live="polite"
              aria-hidden="true"
              role="status"
              data-shopping-cart-line-item-status>
              {%- render 'render-translation', namespace: 'accessibility', key: 'loading', fallback: 'Loading' -%}
            </p>
            {%- for block in section.blocks -%}
              {%- case block.type -%}
                  {%- comment -%} App block {%- endcomment -%}
                {%- when '@app' -%}
                  <div class="cart-drawer__app-block relative mb-4 border-b py-4 last:mb-0">
                    {%- render block -%}
                  </div>
              {%- endcase -%}
            {%- endfor -%}
          </div>

          {%- comment -%} Cart footer {%- endcomment -%}
          <footer
            class="cart-drawer__footer sticky inset-x-0 bottom-0 z-20 mt-auto justify-self-end border-t bg-white p-4"
            id="main-cart-footer"
            data-id="{{ section.id }}">
            {%- comment -%} Cart subtotal {%- endcomment -%}
            <div class="js-cart-footer-contents">
              {%- comment -%} Totals {%- endcomment -%}
              <div class="cart-drawer__totals relative flex justify-between">
                <span class="font-body">
                  {%- render 'render-translation', namespace: 'sections.cart', key: 'subtotal', fallback: 'Subtotal' -%}
                </span>
                {%- comment -%} Loading animation {%- endcomment -%}
                <div
                  class="cart__loader absolute end-0 top-1/2 z-10 hidden w-6 -translate-y-1/2"
                  data-cart-loader-active="show">
                  {%- render 'icons', icon: 'spinner', icon_class: 'w-6 animate-spin' -%}
                </div>

                <span class="font-body" data-cart-loader-active="hidden">
                  {{- cart.total_price | money_with_currency -}}
                  {% if cart.total_price != cart.original_total_price %}
                    <s class="price--compare">
                      {{- cart.original_total_price | money_with_currency -}}
                    </s>
                  {% endif %}
                </span>
              </div>

              {%- comment -%} Cart errors {%- endcomment -%}
              <div id="cart-errors" class="cart-drawer__cart-error mx-0 my-2 text-sm text-danger empty:hidden"></div>

              {%- if section.settings.show_tax_note -%}
                <p class="cart-drawer__tax-note rte mx-0 mt-2 text-sm opacity-50 contrast-more:opacity-100">
                  {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                    {{ 'sections.cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
                  {%- elsif cart.taxes_included -%}
                    {%- render 'render-translation', namespace: 'sections.cart', key: 'taxes_included_but_shipping_at_checkout', fallback: 'Taxes are included' -%}
                  {%- elsif shop.shipping_policy.body != blank -%}
                    {{ 'sections.cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
                  {%- else -%}
                    {%- render 'render-translation', namespace: 'sections.cart', key: 'taxes_and_shipping_at_checkout', fallback: 'Taxes and shipping are calculated in checkout' -%}
                  {%- endif -%}
                </p>
              {%- endif -%}

              {%- comment -%} Checkout button {%- endcomment -%}
              <div class="mt-4 flex flex-col gap-y-2">
                <noscript>
                  <button type="submit" class="button button--primary w-full">
                    {%- render 'render-translation', namespace: 'sections.cart', key: 'update', fallback: 'Update' -%}
                  </button>
                </noscript>
                <button
                  type="submit"
                  class="button button--primary button--lg w-full"
                  name="checkout"
                  {% if cart == empty %}
                    disabled
                  {% endif %}>
                  {%- render 'render-translation', namespace: 'sections.cart', key: 'checkout', fallback: 'Checkout' -%}
                </button>

                {%- comment -%} Go to cart button {%- endcomment -%}
                {%- if section.settings.show_cart_button -%}
                  <a
                    href="{{ routes.cart_url }}"
                    class="button button--secondary button--lg w-full font-normal">
                    {%- render 'render-translation', namespace: 'general.cart', key: 'view', count: cart.item_count, fallback: 'View cart ({{ count }})' -%}
                  </a>
                {%- endif -%}
              </div>
            </div>
          </footer>
        </form>
      </cart-items>

      {% comment %} Recommendations {% endcomment %}
      <div
        id="main-cart-recommendations"
        data-id="{{ section.id }}"
        class="cart-recommendations sticky top-0 -z-10 min-w-[200px] translate-x-full transition-all delay-[400ms] duration-500 group-[.cart-drawer-is-open]/body:translate-x-0 peer-[.cart-is-empty]:hidden">
        <div class="cart-recommendations__wrapper">
          {%- capture recommendations -%}
            {%- assign count = 0 -%}
            {%- for item in cart.items -%}
              {%- liquid
                # Only render 8 items max
                if count > 8
                  break
                endif
              -%}

              {% comment %} Capture the related products {% endcomment %}
              {%- assign related_product_metafield = item.product.metafields['shopify--discovery--product_recommendation'][section.settings.recommendation_type] -%}
              {%- if related_product_metafield != blank -%}
                {%- for product in related_product_metafield.value -%}
                  {% comment %} Skip items already in the cart or already listed as a related product {% endcomment %}
                  {%- liquid
                    if cart_json contains product.id or product.unavailable == false
                      continue
                    endif

                    if product_ids contains product.id
                      continue
                    else
                      assign product_ids = product_ids | append: product.id | append: '/'
                    endif

                    assign show_quick_shop = false
                    if settings.enable_quick_shop
                      assign show_quick_shop = true
                      assign multiple_first_option = false
                      assign multiple_last_option = false
                      assign quick_shop_render_second_option = false

                      if product.options_with_values.size == 2
                        if product.options_with_values.first.values.size > 1
                          assign multiple_first_option = true
                        endif

                        if product.options_with_values.last.values.size > 1
                          assign multiple_last_option = true
                        endif
                        if multiple_first_option and multiple_last_option
                          assign show_quick_shop = false
                        elsif multiple_last_option
                          assign quick_shop_render_second_option = true
                        endif
                      elsif product.options_with_values.size > 2
                        assign show_quick_shop = false
                      endif
                    endif

                    if product.variants.size == 1
                      assign show_quick_shop = false
                    endif
                  -%}
                  {%- assign count = count | plus: 1 -%}

                  {% comment %} Render the product recommendation {% endcomment %}
                  <article class="cart-drawer-recommendation product-card group/product-card relative flex flex-col gap-1 overflow-hidden rounded-md bg-white p-2 shadow-md" data-product-card>
                    <header>
                      <a href="{{ product.url }}" class="text-text-default no-underline states:underline" tabindex="-1">
                        <div class="mx-auto max-w-[80px]">{{ product.featured_image | image_url: width: 160 | image_tag: width: 160, sizes: '100vw', widths: '160', alt: product.title }}</div>
                        <h3 class="mb-0 text-sm">{{ product.title }}</h3>
                      </a>
                    </header>
                    {%- render 'render-price', product: product, use_variant: false -%}

                    {%- comment -%} The product form, product id will be update by variant.js {%- endcomment -%}
                    <footer class="flex items-center gap-base">
                      {%- if show_quick_shop-%}
                        {% comment %} Render the quickshop wrapper and the trigger because we don't use the hover effect here {% endcomment %}
                        {%- render 'quick-shop', product: product, quick_shop_render_second_option: quick_shop_render_second_option, add_to_cart_behavior: 'open_cart_drawer', is_cart_drawer_recommendations: true -%}
                        <button
                          type="button"
                          class="button button--primary mx-auto rounded-full p-2 touch:p-3"
                          data-quick-shop-toggle>
                          {%- render 'icons', icon: 'cart', icon_class: 'w-5' -%}
                          <span class="sr-only">
                            {%- render 'render-translation', namespace: 'products.product', key: 'add_to_cart', fallback: 'Add to cart' -%}
                          </span>
                        </button>

                      {%- else -%}
                        {%- comment -%} Render a default ATC button without quickshop {%- endcomment -%}
                        <product-form-component class="mx-auto">
                          {%- assign product_form_id = 'product-card-form-' | append: product.id -%}
                          {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                            <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                            <input type="hidden" name="inventory_quantity" value="{{ product.selected_or_first_available_variant.inventory_quantity }}">

                            {%- comment -%} If preorder is enabled for this product add a line proprety when adding to the cart {%- endcomment -%}
                            {%- if settings.enable_pre_order
                              and product.tags contains 'preorder'
                              and product.selected_or_first_available_variant.inventory_quantity <= 0
                              and product.selected_or_first_available_variant.inventory_policy == 'continue'
                            -%}
                              <input
                                type="hidden"
                                name="properties[{%-render 'render-translation', namespace: 'products.product', key: 'pre-order', fallback: 'Pre-order'-%}]"
                                value="{% render 'render-translation', namespace: 'products.product.yes', fallback: 'Yes' %}">
                            {%- endif -%}

                            <button type="submit" name="add" aria-label="Add" class="button button--primary rounded-full p-2 touch:p-3" data-add-to-cart-behavior="open_cart_drawer">
                              {%- render 'icons', icon: 'cart', icon_class: 'w-5' -%}
                              <span class="sr-only">
                                {%- render 'render-translation', namespace: 'products.product', key: 'add_to_cart', fallback: 'Add to cart' -%}
                              </span>
                            </button>
                          {%- endform -%}
                        </product-form-component>
                      {%- endif-%}

                      {% comment %} Link to PDP {% endcomment %}
                      <a href="{{ product.url }}" class="button button--outline mx-auto rounded-full p-2 touch:p-3" tabindex="-1">
                        {%- render 'icons', icon: 'arrow', icon_class: 'w-5' -%}
                        <span class="sr-only">
                          {%- render 'render-translation', namespace: 'products.product', key: 'go_to_product', fallback: 'Go to product page' -%}
                        </span>
                      </a>
                    </footer>
                  </article>
                {%- endfor -%}
              {%- endif -%}
            {%- endfor -%}
          {%- endcapture -%}

          {% comment %} Output the recommendations {% endcomment %}
          {%- if recommendations != blank -%}
            <div class="cart-recommendations__content-wrapper h-screen min-h-full overflow-y-auto bg-gray-100 p-4 {% if section.settings.show_recommendations -%}group-[.cart-drawer-is-open]/body:w-full{% else -%}hidden{%- endif %}">
              {% comment %} Title {% endcomment %}
              {%- if section.settings.rec_title != blank -%}
                <h2 class="cart-recommendations__title h6">{{ section.settings.rec_title }}</h2>
              {%- endif -%}

              {% comment %} Items {% endcomment %}
              <div class="cart-recommendations__items js-cart-drawer-recommendations peer flex flex-col gap-6 transition-opacity duration-100">
                {{ recommendations }}
              </div>
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  </cart-drawer>
  {%- comment -%} Import javascript {%- endcomment -%}
  <script src="{{ 'cart-drawer.js' | asset_url }}" defer></script>
  <script src="{{ 'cart.js' | asset_url }}" defer></script>
  {%- if section.settings.show_recommendations -%}
    <script src="{{ 'product-form-component.js' | asset_url }}" defer></script>
    <script src="{{ 'quickshop.js' | asset_url }}" defer></script>
  {%- endif -%}
{%- endif -%}

{% schema %}
  {
    "name": "Cart drawer",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_cart_button",
        "default": true,
        "label": "Show go to cart button"
      },
      {
        "type": "checkbox",
        "id": "show_tax_note",
        "default": true,
        "label": "Show tax/shipping message in cart drawer"
      },
      {
        "type": "checkbox",
        "id": "show_recommendations",
        "default": true,
        "label": "Show recommendations in cart drawer"
      },
      {
        "type": "text",
        "id": "rec_title",
        "label": "'Recommendations' title",
        "default": "We recommend:"
      },
      {
        "type": "select",
        "id": "recommendation_type",
        "label": "Recommendation type",
        "default": "related_products",
        "options": [
          {
            "value": "related_products",
            "label": "Related products"
          },
          {
            "value": "complementary_products",
            "label": "Complementary products"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "@app"
      }
    ]
  }
{% endschema %}
