{%- if request.page_type != 'cart' -%}
  <cart-drawer class="cart-drawer" data-cart-drawer>
    {%- comment -%} Backdrop {%- endcomment -%}
    <class-toggle-component
      class="cart-drawer__backdrop backdrop group-[.cart-drawer-is-open]/body:backdrop--active z-offcanvas-backdrop hidden xs:block"
      tabindex="-1"
      aria-hidden="true"
      data-options='
        {
          "classToToggle": "cart-drawer-is-open"
        }
      '></class-toggle-component>

    {%- comment -%} Cart drawer {%- endcomment -%}
    <div
      id="cartDrawer"
      data-id="{{ section.id }}"
      class="
        fixed bottom-0 end-0 top-0 z-offcanvas flex h-full max-w-screen translate-x-full flex-col overflow-x-hidden
        text-text-default
        opacity-0
        transition-all
        duration-300
        group-[.cart-drawer-is-open]/body:translate-x-0
        group-[.cart-drawer-is-open]/body:opacity-100
        xs:max-w-sm
        sm:w-min
        sm:min-w-[364px]
        sm:max-w-[584px]
        sm:flex-row-reverse
        md:min-w-[344px]
      "
      role="dialog"
      tabindex="-1"
      aria-label="{%- render 'render-translation', namespace: "general.cart", key: "drawer", fallback: "Cart drawer" -%}">
      {% comment %} Drawer items {% endcomment %}
      <cart-items
        class="cart-items group/cart-items peer invisible h-full min-w-min max-w-screen overflow-hidden bg-white group-[.cart-drawer-is-open]/body:visible xs:max-w-sm sm:min-w-[364px] sm:max-w-[584px] md:min-w-[344px] {% if cart == empty %}cart-is-empty{% endif %}">
        {%- comment -%} Empty cart {%- endcomment -%}
        <div
          class="cart-drawer__warnings hidden flex-col items-center justify-center px-10 py-24 text-center group-[.cart-is-empty]/cart-items:flex group-[.cart-is-empty]/cart-items:min-h-screen">
          <p class="h4 cart-drawer__empty-text">
            {%- render 'render-translation', namespace: 'sections.cart', key: 'empty', fallback: 'Your cart is empty' -%}
          </p>

          <class-toggle-component
            data-options='
              {
                "classToToggle": "cart-drawer-is-open"
              }
            '>
            <button
              type="button"
              class="button button--link flex px-0 py-0">
              {%- render 'icons', icon: 'chevron-left', icon_size: 'w-5' -%}
              {%- render 'render-translation', namespace: 'general', key: 'continue_shopping', fallback: 'Continue shopping' -%}
            </button>
          </class-toggle-component>
        </div>

        {%- comment -%} Form {%- endcomment -%}
        <div class="cart-drawer__form flex h-full flex-col overflow-y-auto bg-white group-[.cart-is-empty]/cart-items:hidden">
          {%- comment -%} Header {%- endcomment -%}
          <header class="cart-drawer__header insex-x-0 sticky top-0 z-20 border-b bg-white p-4">
            <class-toggle-component
              data-options='
                {
                  "classToToggle": "cart-drawer-is-open"
                }
              '>
              <button
                type="button"
                class="button button--link flex px-0 py-0"
                tabindex="0">
                {%- render 'icons', icon: 'chevron-left', icon_size: 'w-5' -%}
                {%- render 'render-translation', namespace: 'general', key: 'continue_shopping', fallback: 'Continue shopping' -%}
              </button>
            </class-toggle-component>
          </header>

          {%- comment -%} Cart drawer items {%- endcomment -%}
          <div
            class="cart-drawer__content relative z-10 flex h-fit flex-col pt-6 group-[.cart-is-empty]/cart-items:hidden"
            id="main-cart-items"
            data-id="{{ section.id }}">
            <div class="js-cart-item-contents flex-1 px-4 group-[.cart-items-is-loading]/cart-items:pointer-events-none group-[.cart-items-is-loading]/cart-items:opacity-40">
              {%- if cart != empty -%}
                <div class="cart-drawer-items">
                  {%- for item in cart.items -%}
                    {%- render 'cart-item', item: item, image_size: 80, view: 'cart-drawer' -%}
                  {%- endfor -%}
                </div>
              {%- endif -%}
            </div>
            <p class="sr-only px-4" id="cart-live-region-text" aria-live="polite" role="status"></p>
            <p
              class="sr-only px-4"
              id="shopping-cart-line-item-status"
              aria-live="polite"
              aria-hidden="true"
              role="status"
              data-shopping-cart-line-item-status>
              {%- render 'render-translation', namespace: 'accessibility', key: 'loading', fallback: 'Loading' -%}
            </p>
            {%- for block in section.blocks -%}
              {%- case block.type -%}
                  {%- comment -%} App block {%- endcomment -%}
                {%- when '@app' -%}
                  <div class="cart-drawer__app-block relative mb-4 border-b py-4 last:mb-0">
                    {%- render block -%}
                  </div>
              {%- endcase -%}
            {%- endfor -%}

            {% comment %} Recommendations slider {% endcomment %}
            <div class="js-cart-drawer-recommendations-swiper">
              {%- capture recommendations -%}
                {%- render 'cart-drawer-recommendations', section: section, is_swiper: true -%}
              {%- endcapture -%}

              {% comment %} Items {% endcomment %}
              <div class="max-w-screen bg-gray-100 py-6 xs:max-w-sm sm:hidden {% if recommendations == blank -%}hidden{%- endif -%}">
                {% comment %} Title {% endcomment %}
                {%- if section.settings.rec_title != blank -%}
                  <h2 class="h6 px-4">{{ section.settings.rec_title }}</h2>
                {%- endif -%}

                <swiper-slider
                  data-options='
                    {
                      "navigation": {
                        "nextEl": ".swiper-button-next-{{ section.id }}",
                        "prevEl": ".swiper-button-prev-{{ section.id }}"
                      },
                      "slidesPerView": 1.4,
                      "spaceBetween": 16,
                      "slidesOffsetBefore": 16,
                      "slidesOffsetAfter": 16
                    }
                  '>
                  <div class="swiper" data-swiper>
                    <div class="swiper-wrapper flex h-full items-stretch">
                      {{ recommendations }}
                    </div>
                    <div class="swiper-navigation site-center">
                      <button
                        class="swiper-button-prev swiper-button-prev-{{ section.id }}"
                        data-swiper-nav="next"
                        aria-label="{%- render 'render-translation',  namespace: 'accessibility.previous_slide', fallback: 'Previous slide'-%}">
                        {% render 'icons', icon: 'chevron-left', icon_class: 'w-5' %}
                      </button>
                      <button
                        class="swiper-button-next swiper-button-next-{{ section.id }}"
                        data-swiper-nav="prev"
                        aria-label="{%- render 'render-translation',  namespace: 'accessibility.next_slide', fallback: 'Next slide'-%}">
                        {% render 'icons', icon: 'chevron-right', icon_class: 'w-5' %}
                      </button>
                    </div>
                  </div>
                </swiper-slider>
              </div>
            </div>
          </div>

          {%- comment -%} Cart footer {%- endcomment -%}
          <footer
            class="cart-drawer__footer sticky inset-x-0 bottom-0 z-20 mt-auto justify-self-end border-t bg-white p-4"
            id="main-cart-footer"
            data-id="{{ section.id }}">
            {%- comment -%} Cart subtotal {%- endcomment -%}
            <div class="js-cart-footer-contents">
              {%- comment -%} Totals {%- endcomment -%}
              <div class="cart-drawer__totals relative flex justify-between">
                <span class="font-body">
                  {%- render 'render-translation', namespace: 'sections.cart', key: 'subtotal', fallback: 'Subtotal' -%}
                </span>
                {%- comment -%} Loading animation {%- endcomment -%}
                <div
                  class="cart__loader absolute end-0 top-1/2 z-10 hidden w-6 -translate-y-1/2"
                  data-cart-loader-active="show">
                  {%- render 'icons', icon: 'spinner', icon_class: 'w-6 animate-spin' -%}
                </div>

                <span class="font-body" data-cart-loader-active="hidden">
                  {{- cart.total_price | money_with_currency -}}
                  {% if cart.total_price != cart.original_total_price %}
                    <s class="price--compare">
                      {{- cart.original_total_price | money_with_currency -}}
                    </s>
                  {% endif %}
                </span>
              </div>

              {%- comment -%} Cart errors {%- endcomment -%}
              <div id="cart-errors" class="cart-drawer__cart-error mx-0 my-2 text-sm text-danger empty:hidden"></div>

              {%- if section.settings.show_tax_note -%}
                <p class="cart-drawer__tax-note rte mx-0 mt-2 text-sm opacity-50 contrast-more:opacity-100">
                  {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                    {{ 'sections.cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
                  {%- elsif cart.taxes_included -%}
                    {%- render 'render-translation', namespace: 'sections.cart', key: 'taxes_included_but_shipping_at_checkout', fallback: 'Taxes are included' -%}
                  {%- elsif shop.shipping_policy.body != blank -%}
                    {{ 'sections.cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
                  {%- else -%}
                    {%- render 'render-translation', namespace: 'sections.cart', key: 'taxes_and_shipping_at_checkout', fallback: 'Taxes and shipping are calculated in checkout' -%}
                  {%- endif -%}
                </p>
              {%- endif -%}

              {%- comment -%} Checkout button {%- endcomment -%}
              <div class="mt-4 flex flex-col gap-y-2">
                <form
                  action="{{ routes.cart_url }}"
                  id="CartDrawer-Form"
                  class="cart__contents cart-drawer__form"
                  method="post">
                  <noscript>
                    <button type="submit" class="button button--primary w-full">
                      {%- render 'render-translation', namespace: 'sections.cart', key: 'update', fallback: 'Update' -%}
                    </button>
                  </noscript>
                  <button
                    type="submit"
                    class="button button--primary button--lg w-full"
                    name="checkout"
                    {% if cart == empty %}
                      disabled
                    {% endif %}>
                    {%- render 'render-translation', namespace: 'sections.cart', key: 'checkout', fallback: 'Checkout' -%}
                  </button>
                </form>

                {%- comment -%} Go to cart button {%- endcomment -%}
                {%- if section.settings.show_cart_button -%}
                  <a
                    href="{{ routes.cart_url }}"
                    class="button button--secondary button--lg w-full font-normal">
                    {%- render 'render-translation', namespace: 'general.cart', key: 'view', count: cart.item_count, fallback: 'View cart ({{ count }})' -%}
                  </a>
                {%- endif -%}
              </div>
            </div>
          </footer>
        </div>
      </cart-items>

      {% comment %} Recommendations {% endcomment %}
      <div
        id="main-cart-recommendations"
        data-id="{{ section.id }}">
        <div class="js-cart-drawer-recommendations">
          {% comment %} Recommendations {% endcomment %}
          {%- capture recommendations -%}
            {%- render 'cart-drawer-recommendations', section: section -%}
          {%- endcapture -%}

          <div class="cart-recommendations sticky top-0 hidden h-screen overflow-y-auto overflow-x-hidden {% if recommendations == blank -%}hidden{% else %}sm:block{%- endif %}">
            {% comment %} Output the recommendations {% endcomment %}
            <div class="cart-recommendations__wrapper min-h-full min-w-[220px] translate-x-full  bg-gray-100 transition-all delay-[400ms] duration-500 group-[.cart-drawer-is-open]/body:translate-x-0 peer-[.cart-is-empty]:hidden sm:p-4 md:min-w-[240px] {% if section.settings.show_recommendations -%}group-[.cart-drawer-is-open]/body:w-full{% else -%}hidden{%- endif %}">
              {% comment %} Title {% endcomment %}
              {%- if section.settings.rec_title != blank -%}
                <h2 class="cart-recommendations__title h6 px-4">{{ section.settings.rec_title }}</h2>
              {%- endif -%}

              {% comment %} Items {% endcomment %}
              <div class="cart-recommendations__items peer flex flex-col gap-y-4 transition-opacity duration-100">
                {{ recommendations }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </cart-drawer>

  {%- comment -%} Import javascript {%- endcomment -%}
  <script src="{{ 'cart-drawer.js' | asset_url }}" defer></script>
  <script src="{{ 'cart.js' | asset_url }}" defer></script>
  {%- if section.settings.show_recommendations -%}
    <script src="{{ 'swiper-slider.js' | asset_url }}" type="module"></script>
  {%- endif -%}
{%- endif -%}

{% schema %}
  {
    "name": "Cart drawer",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_cart_button",
        "default": true,
        "label": "Show go to cart button"
      },
      {
        "type": "checkbox",
        "id": "show_tax_note",
        "default": true,
        "label": "Show tax/shipping message in cart drawer"
      },
      {
        "type": "checkbox",
        "id": "show_recommendations",
        "default": true,
        "label": "Show recommendations in cart drawer"
      },
      {
        "type": "text",
        "id": "rec_title",
        "label": "'Recommendations' title",
        "default": "We recommend:"
      },
      {
        "type": "select",
        "id": "recommendation_type",
        "label": "Recommendation type",
        "default": "related_products",
        "options": [
          {
            "value": "related_products",
            "label": "Related products"
          },
          {
            "value": "complementary_products",
            "label": "Complementary products"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "@app"
      }
    ]
  }
{% endschema %}
