{%- liquid
  assign year = 'now' | date: '%Y'
  assign enable_country_selector = false
  assign enable_language_selector = false
-%}

<footer class="footer pb-4 pt-8 md:pb-6 md:pt-10 {{ section.settings.color_scheme }}">
  <div class="content-wrapper flex flex-col px-content-wrapper-padding">
    <div class="footer__blocks grid grid-cols-12 gap-y-10 md:gap-base">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
            {%- comment -%} App block {%- endcomment -%}
          {%- when '@app' -%}
            <div class="footer-block footer-block--{{ block.type }} col-span-12 md:col-span-3">
              {% render block %}
            </div>

            {%- comment -%} Footer menu {%- endcomment -%}
          {%- when 'menu' -%}
            {%- liquid
              assign target = ''
              if block.settings.title != blank
                assign target = 'data-collapsible-target'
              endif
            -%}

            {%- comment -%}
              Skiplink so users can go straight to the newsletter -- can only be used with a fixed menu, not the drag/drop we have now
              <a class="button button--primary sr-only !absolute inset-[3px] bottom-auto z-popover !p-2 focus:not-sr-only focus:outline-dashed focus:outline-1 states:no-underline" href="#newsletter-form-{{ section.id }}">
                {% render "render-translation", namespace: "accessibility", key: "skip_the_menu", fallback: "Skip the menu" -%}
              </a>
            {%- endcomment -%}

            <div
              class="footer-block footer-block--{{ block.type }} {{ block.settings.width_mobile }} {{ block.settings.width_tablet }} {{ block.settings.width_desktop }}"
              {{ block.shopify_attributes }}>
              {%- comment -%} Create collapsible group for mobile {%- endcomment -%}
              <collapsible-component
                class="collapsible"
                data-options='
                  {
                    "breakpointMax": 768,
                    "closeSiblings": true,
                    "trapFocus": false
                  }
                '>
                {%- comment -%} Output menu and collapsible content {%- endcomment -%}
                <div
                  class="footer-block--menu__target p-0 js:md:!max-h-min"
                  {{ target }}>
                  {%- liquid
                    if block.settings.menu != blank
                      render 'footer-menu', linklist: block.settings.menu, collapsible: block.settings.enable_collapsible
                    endif
                  -%}
                </div>
              </collapsible-component>
            </div>

            {%- comment -%} Social links {%- endcomment -%}
          {%- when 'socials' -%}
            <div class="footer-block footer-block--social {{ block.settings.width_mobile }} {{ block.settings.width_tablet }} {{ block.settings.width_desktop }}">
              {%- render 'global-social-links', icon_shape: block.settings.social_icons_shape, icon_size: block.settings.social_icons_size -%}
            </div>

            {% comment %} Newsletter {% endcomment %}
          {%- when 'newsletter' -%}
            <div
              class="footer-block footer-block--{{ block.type | handleize }} {{ block.settings.width_mobile }} {{ block.settings.width_tablet }} {{ block.settings.width_desktop }}"
              {{ block.shopify_attributes }}>
              {% comment %} Check for Klaviyo first {% endcomment %}
              {%- if block.settings.klaviyo_newsletter != blank -%}
                {{- block.settings.klaviyo_newsletter -}}
                {% comment %} Render the default newsletter {% endcomment %}
              {%- else -%}
                {%- if block.settings.title != blank -%}
                  <p class="mb-3 block w-full font-bold">
                    {{- block.settings.title -}}
                  </p>
                {%- endif -%}
                {%- render 'footer-newsletter', block: block -%}
              {%- endif -%}
            </div>

          {%- when 'localization' -%}
            <div
              class="footer-block footer-block--{{ block.type }} isolate flex flex-wrap gap-10 {{ block.settings.width_mobile }} {{ block.settings.width_tablet }} {{ block.settings.width_desktop }} {{ block.settings.alignment }}"
              {{ block.shopify_attributes }}>
              {%- liquid
                # Currency switcher
                if block.settings.enable_country_selector and localization.available_countries.size > 1
                  assign enable_country_selector = true
                  render 'localization-options', type: 'country', localPosition: 'FooterCountry', color_scheme: section.settings.color_scheme
                endif

                # Language switcher
                if block.settings.enable_language_selector and localization.available_languages.size > 1
                  assign enable_language_selector = true
                  render 'localization-options', type: 'language', localPosition: 'FooterLanguage', color_scheme: section.settings.color_scheme
                endif
              -%}
            </div>

          {%- when 'payment_icons' -%}
            <div class="footer-block footer-block--{{ block.type }} {{ block.settings.width_mobile }} {{ block.settings.width_tablet }} {{ block.settings.width_desktop }} {{ block.settings.alignment }}">
              {%- comment -%} Payment icons {%- endcomment -%}
              <div class="col-span-12 md:col-span-8 xl:col-span-9">
                {%- render 'global-payment-methods', icon_size: block.settings.payment_icons_size, -%}
              </div>
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>

    {%- comment -%} Copyright {%- endcomment -%}
    {%- if section.settings.copyright and section.settings.copyright_text != blank -%}
      <div class="mt-4 text-center">
        <p class="text-sm">
          {{- section.settings.copyright_text | replace: '[year]', year -}}
        </p>
      </div>
    {%- endif -%}
  </div>
</footer>

{%- if enable_country_selector or enable_language_selector -%}
  <script src="{{ 'localization-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "header",
        "content": "Layout settings"
      },
      {
        "type": "select",
        "id": "color_scheme",
        "default": "color-scheme color-scheme--secondary",
        "label": "Color scheme",
        "options": [
          {
            "value": "",
            "label": "Default"
          },
          {
            "value": "color-scheme color-scheme--primary",
            "label": "Primary",
            "group": "Theme"
          },
          {
            "value": "color-scheme color-scheme--secondary",
            "label": "Secondary",
            "group": "Theme"
          },
          {
            "value": "color-scheme color-scheme--accent",
            "label": "Accent",
            "group": "Theme"
          },
          {
            "value": "color-scheme color-scheme--gray",
            "label": "Gray",
            "group": "Standard"
          },
          {
            "value": "color-scheme color-scheme--black",
            "label": "Black",
            "group": "Standard"
          }
        ]
      },
      {
        "type": "header",
        "content": "Copyright"
      },
      {
        "type": "checkbox",
        "id": "copyright",
        "label": "Enable copyright text",
        "default": true
      },
      {
        "type": "text",
        "id": "copyright_text",
        "label": "Copyright text",
        "info": "Add '[year]' to your text string and it will be replaced with the current year.",
        "default": "© H1 Webdevelopment [year]. All rights reserved."
      }
    ],
    "blocks": [
      {
        "type": "@app"
      },
      {
        "type": "menu",
        "name": "Menu",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_collapsible",
            "label": "Enable mobile collapsibles",
            "info": "Show as collapsibles on small screens.",
            "default": true
          },
          {
            "type": "link_list",
            "id": "menu",
            "label": "Menu"
          },
          {
            "type": "header",
            "content": "Layout"
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Alignment",
            "info": "Applies to medium screens and up.",
            "default": "",
            "options": [
              {
                "value": "",
                "label": "Left"
              },
              {
                "value": "md:justify-self-center",
                "label": "Center"
              },
              {
                "value": "md:justify-self-end",
                "label": "right"
              }
            ]
          },
          {
            "type": "select",
            "id": "width_mobile",
            "label": "Width mobile",
            "default": "col-span-12",
            "options": [
              {
                "value": "col-span-12",
                "label": "Full"
              },
              {
                "value": "col-span-6",
                "label": "1/2"
              }
            ]
          },
          {
            "type": "select",
            "id": "width_tablet",
            "label": "Width tablet",
            "default": "md:col-span-8",
            "options": [
              {
                "value": "md:col-span-12",
                "label": "Full"
              },
              {
                "value": "md:col-span-4",
                "label": "1/3"
              },
              {
                "value": "md:col-span-6",
                "label": "1/2"
              },
              {
                "value": "md:col-span-8",
                "label": "2/3"
              }
            ]
          },
          {
            "type": "select",
            "id": "width_desktop",
            "label": "Width desktop",
            "default": "xl:col-span-9",
            "options": [
              {
                "value": "xl:col-span-12",
                "label": "Full"
              },
              {
                "value": "xl:col-span-3",
                "label": "1/4"
              },
              {
                "value": "xl:col-span-4",
                "label": "1/3"
              },
              {
                "value": "xl:col-span-6",
                "label": "1/2"
              },
              {
                "value": "xl:col-span-8",
                "label": "2/3"
              },
              {
                "value": "xl:col-span-9",
                "label": "3/4"
              }
            ]
          }
        ]
      },
      {
        "type": "localization",
        "name": "Localization",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_country_selector",
            "default": true,
            "label": "Enable country selector"
          },
          {
            "type": "checkbox",
            "id": "enable_language_selector",
            "default": true,
            "label": "Enable language selector"
          },
          {
            "type": "header",
            "content": "Layout"
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Alignment",
            "info": "Applies to medium screens and up.",
            "default": "",
            "options": [
              {
                "value": "",
                "label": "Left"
              },
              {
                "value": "md:justify-self-center",
                "label": "Center"
              },
              {
                "value": "md:justify-self-end",
                "label": "right"
              }
            ]
          },
          {
            "type": "select",
            "id": "width_mobile",
            "label": "Width mobile",
            "default": "col-span-12",
            "options": [
              {
                "value": "col-span-12",
                "label": "Full"
              },
              {
                "value": "col-span-6",
                "label": "1/2"
              }
            ]
          },
          {
            "type": "select",
            "id": "width_tablet",
            "label": "Width tablet",
            "default": "md:col-span-8",
            "options": [
              {
                "value": "md:col-span-12",
                "label": "Full"
              },
              {
                "value": "md:col-span-4",
                "label": "1/3"
              },
              {
                "value": "md:col-span-6",
                "label": "1/2"
              },
              {
                "value": "md:col-span-8",
                "label": "2/3"
              }
            ]
          },
          {
            "type": "select",
            "id": "width_desktop",
            "label": "Width desktop",
            "default": "xl:col-span-9",
            "options": [
              {
                "value": "xl:col-span-12",
                "label": "Full"
              },
              {
                "value": "xl:col-span-3",
                "label": "1/4"
              },
              {
                "value": "xl:col-span-4",
                "label": "1/3"
              },
              {
                "value": "xl:col-span-6",
                "label": "1/2"
              },
              {
                "value": "xl:col-span-8",
                "label": "2/3"
              },
              {
                "value": "xl:col-span-9",
                "label": "3/4"
              }
            ]
          }
        ]
      },
      {
        "type": "newsletter",
        "name": "Newsletter",
        "limit": 1,
        "settings": [
          {
            "type": "html",
            "id": "klaviyo_newsletter",
            "label": "Klaviyo newsletter",
            "info": "Add the embed code from Klaviyo."
          },
          {
            "type": "header",
            "content": "Default newsletter",
            "info": "If Klaviyo is used, these settings will be ignored."
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Newsletter"
          },
          {
            "type": "richtext",
            "id": "description",
            "label": "Description",
            "default": "<p>Subscribe to our newsletter to stay updated on sales and special events.</p>"
          },
          {
            "type": "text",
            "id": "input_placeholder",
            "label": "Input field placeholder",
            "default": "Your email address"
          },
          {
            "type": "text",
            "id": "submit",
            "label": "'Submit' button label",
            "default": "Join"
          },
          {
            "type": "richtext",
            "id": "success_message",
            "label": "Success message",
            "default": "<p>You have successfully subscribed.</p>"
          },
          {
            "type": "header",
            "content": "Layout"
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Alignment",
            "info": "Applies to medium screens and up.",
            "default": "",
            "options": [
              {
                "value": "",
                "label": "Left"
              },
              {
                "value": "md:justify-self-center",
                "label": "Center"
              },
              {
                "value": "md:justify-self-end",
                "label": "right"
              }
            ]
          },
          {
            "type": "select",
            "id": "width_mobile",
            "label": "Width mobile",
            "default": "col-span-12",
            "options": [
              {
                "value": "col-span-12",
                "label": "Full"
              },
              {
                "value": "col-span-6",
                "label": "1/2"
              }
            ]
          },
          {
            "type": "select",
            "id": "width_tablet",
            "label": "Width tablet",
            "default": "md:col-span-4",
            "options": [
              {
                "value": "md:col-span-12",
                "label": "Full"
              },
              {
                "value": "md:col-span-4",
                "label": "1/3"
              },
              {
                "value": "md:col-span-6",
                "label": "1/2"
              },
              {
                "value": "md:col-span-8",
                "label": "2/3"
              }
            ]
          },
          {
            "type": "select",
            "id": "width_desktop",
            "label": "Width desktop",
            "default": "xl:col-span-3",
            "options": [
              {
                "value": "xl:col-span-12",
                "label": "Full"
              },
              {
                "value": "xl:col-span-3",
                "label": "1/4"
              },
              {
                "value": "xl:col-span-4",
                "label": "1/3"
              },
              {
                "value": "xl:col-span-6",
                "label": "1/2"
              },
              {
                "value": "xl:col-span-8",
                "label": "2/3"
              },
              {
                "value": "xl:col-span-9",
                "label": "3/4"
              }
            ]
          }
        ]
      },
      {
        "type": "payment_icons",
        "name": "Payment icons",
        "limit": 1,
        "settings": [
          {
            "type": "header",
            "content": "Payment icons",
            "info": "Choose the icons to show by adding a link in the Theme Settings under 'Payment providers'."
          },
          {
            "type": "select",
            "id": "payment_icons_size",
            "label": "Size",
            "default": "w-8",
            "options": [
              {
                "value": "w-6",
                "label": "Medium"
              },
              {
                "value": "w-8",
                "label": "Large"
              },
              {
                "value": "w-12",
                "label": "Extra large"
              }
            ]
          },
          {
            "type": "header",
            "content": "Layout"
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Alignment",
            "info": "Applies to medium screens and up.",
            "default": "",
            "options": [
              {
                "value": "",
                "label": "Left"
              },
              {
                "value": "md:justify-self-center",
                "label": "Center"
              },
              {
                "value": "md:justify-self-end",
                "label": "right"
              }
            ]
          },
          {
            "type": "select",
            "id": "width_mobile",
            "label": "Width mobile",
            "default": "col-span-12",
            "options": [
              {
                "value": "col-span-12",
                "label": "Full"
              },
              {
                "value": "col-span-6",
                "label": "1/2"
              }
            ]
          },
          {
            "type": "select",
            "id": "width_tablet",
            "label": "Width tablet",
            "default": "md:col-span-12",
            "options": [
              {
                "value": "md:col-span-12",
                "label": "Full"
              },
              {
                "value": "md:col-span-4",
                "label": "1/3"
              },
              {
                "value": "md:col-span-6",
                "label": "1/2"
              },
              {
                "value": "md:col-span-8",
                "label": "2/3"
              }
            ]
          },
          {
            "type": "select",
            "id": "width_desktop",
            "label": "Width desktop",
            "default": "xl:col-span-12",
            "options": [
              {
                "value": "xl:col-span-12",
                "label": "Full"
              },
              {
                "value": "xl:col-span-3",
                "label": "1/4"
              },
              {
                "value": "xl:col-span-4",
                "label": "1/3"
              },
              {
                "value": "xl:col-span-6",
                "label": "1/2"
              },
              {
                "value": "xl:col-span-8",
                "label": "2/3"
              },
              {
                "value": "xl:col-span-9",
                "label": "3/4"
              }
            ]
          }
        ]
      },
      {
        "type": "socials",
        "name": "Social icons",
        "limit": 1,
        "settings": [
          {
            "type": "header",
            "content": "Social icons",
            "info": "Choose the icons to show by adding a link in the Theme Settings under 'Social media'."
          },
          {
            "type": "select",
            "id": "social_icons_shape",
            "label": "Icon shape",
            "default": "round",
            "options": [
              {
                "value": "round",
                "label": "Round"
              },
              {
                "value": "regular",
                "label": "Regular"
              }
            ]
          },
          {
            "type": "select",
            "id": "social_icons_size",
            "label": "Size",
            "default": "w-8",
            "options": [
              {
                "value": "w-5",
                "label": "Small"
              },
              {
                "value": "w-6",
                "label": "Medium"
              },
              {
                "value": "w-8",
                "label": "Large"
              },
              {
                "value": "w-12",
                "label": "Extra large"
              }
            ]
          },
          {
            "type": "header",
            "content": "Layout"
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Alignment",
            "info": "Applies to medium screens and up.",
            "default": "",
            "options": [
              {
                "value": "",
                "label": "Left"
              },
              {
                "value": "md:justify-self-center",
                "label": "Center"
              },
              {
                "value": "md:justify-self-end",
                "label": "right"
              }
            ]
          },
          {
            "type": "select",
            "id": "width_mobile",
            "label": "Width mobile",
            "default": "col-span-6",
            "options": [
              {
                "value": "col-span-12",
                "label": "Full"
              },
              {
                "value": "col-span-6",
                "label": "1/2"
              }
            ]
          },
          {
            "type": "select",
            "id": "width_tablet",
            "label": "Width tablet",
            "default": "md:col-span-4",
            "options": [
              {
                "value": "md:col-span-12",
                "label": "Full"
              },
              {
                "value": "md:col-span-4",
                "label": "1/3"
              },
              {
                "value": "md:col-span-6",
                "label": "1/2"
              },
              {
                "value": "md:col-span-8",
                "label": "2/3"
              }
            ]
          },
          {
            "type": "select",
            "id": "width_desktop",
            "label": "Width desktop",
            "default": "xl:col-span-3",
            "options": [
              {
                "value": "xl:col-span-12",
                "label": "Full"
              },
              {
                "value": "xl:col-span-3",
                "label": "1/4"
              },
              {
                "value": "xl:col-span-4",
                "label": "1/3"
              },
              {
                "value": "xl:col-span-6",
                "label": "1/2"
              },
              {
                "value": "xl:col-span-8",
                "label": "2/3"
              },
              {
                "value": "xl:col-span-9",
                "label": "3/4"
              }
            ]
          }
        ]
      }
    ]
  }
{% endschema %}
