{%- comment -%} Capture translations to use multiple times {%- endcomment -%}
{%- liquid
  capture order_nr_str
    render 'render-translation', namespace: 'customer.orders', key: 'order_number', fallback: 'Order number'
  endcapture

  capture order_date_str
    render 'render-translation', namespace: 'customer.orders', key: 'date', fallback: 'Order date'
  endcapture

  capture payment_status_str
    render 'render-translation', namespace: 'customer.orders', key: 'payment_status', fallback: 'Payment status'
  endcapture

  capture fulfillment_status_str
    render 'render-translation', namespace: 'customer.orders', key: 'fulfillment_status', fallback: 'Fulfillment status'
  endcapture

  capture total_str
    render 'render-translation', namespace: 'customer.orders', key: 'total', fallback: 'Total'
  endcapture

  capture view_order_str
    render 'render-translation', namespace: 'customer.orders', key: 'view_order', fallback: 'View order'
  endcapture

  capture page_title
    render 'render-translation', namespace: 'customer.account', key: 'details', fallback: 'Account details'
  endcapture
-%}

{%- capture container_content -%}
  {%- comment -%} Orders {%- endcomment -%}
  <div class="account__orders col-span-12 mb-8 xl:order-1 xl:col-span-8 xl:col-start-5 xl:mb-0 ">
    <h2>{%- render 'render-translation', namespace: 'customer.orders', key: 'title', fallback: 'Orders' -%}</h2>
    {% paginate customer.orders by 20 %}
      {%- if customer.orders.size > 0 -%}
        <div class="orders flex flex-col divide-y">
          {%- for order in customer.orders -%}
            {%- liquid
              capture order_items_total
                if order.item_count == 1
                  render 'render-translation', namespace: 'customer.order', key: 'total_items.one', count: order.item_count, fallback: '1 item'
                else
                  render 'render-translation', namespace: 'customer.order', key: 'total_items.other', count: order.item_count, fallback: '{{ order.item_count }} items'
                endif
              endcapture
            -%}
            <div class="grid w-full grid-cols-2 gap-y-4 py-4 gap-x-base sm:grid-cols-4 md:grid-cols-12">
              {% comment %} Order number {% endcomment %}
              <div class="col-span-2 sm:col-span-1 md:col-span-3">
                {{- order_nr_str -}}:
                <a
                  href="{{ order.customer_url }}"
                  class="font-bold no-underline states:no-underline"
                  tabindex="-1"
                >
                  <span class="sr-only">{{ 'customer.orders.order_number_link' | t: number: order.name }}</span>
                  <span aria-hidden="true">
                    {{ order.name }}
                  </span>
                </a>
                {% comment %} Order date {% endcomment %}
                <p class="text-sm italic">
                  <span class="sr-only">{{- order_date_str -}}:</span> {{ order.created_at | time_tag: '%b %d, %Y' }}
                </p>
              </div>

              {% comment %} Order status {% endcomment %}
              <div class="col-span-2 md:col-span-5">
                {%- if order.cancelled -%}
                  {%- assign cancelled_date = order.cancelled_at | time_tag: '%b %d, %Y' -%}
                  <p class="mb-0">
                    {%- render 'render-translation', namespace: 'customer.order', key: 'cancelled_html', date: cancelled_date, fallback: 'Order cancelled' -%}
                  </p>
                  <p class="mb-0">
                    {{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason_label }}
                  </p>
                {%- else -%}

                  {% comment %} Payment status {% endcomment %}
                  <p class="mb-0">
                    {{- payment_status_str -}}: {{ order.financial_status_label }}
                  </p>
                  {% comment %} Fulfillment status {% endcomment %}
                  <p class="mb-0">
                    {{- fulfillment_status_str -}}: {{ order.fulfillment_status_label }}
                  </p>
                {%- endif -%}
              </div>

              {% comment %} Totals {% endcomment %}
              <div class="col-span-1 flex gap-2 sm:block sm:justify-end sm:text-right md:col-span-2">
                {% comment %} Total items {% endcomment %}
                <p class="mb-0">{{- order_items_total -}}</p>

                {% comment %} Total price {% endcomment %}
                <p class="font-bold">
                  <span class="sr-only">{{- total_str -}}:</span> {{ order.total_price | money_with_currency }}
                </p>
              </div>

              {% comment %} Products preview {% endcomment %}
              <div class="col-span-2 flex gap-2 sm:col-span-4 md:col-span-10">
                {%- for line_item in order.line_items -%}
                  {%- if line_item.product.featured_image != blank -%}
                    {%- render 'responsive-image',
                      image_object: line_item.product.featured_image,
                      crop: 'center',
                      widths: '80, 160',
                      alt: line_item.product.title,
                      title: line_item.product.title
                    -%}
                  {%- endif -%}
                {%- endfor -%}
              </div>

              {% comment %} 'View order' link {% endcomment %}
              <div class="col-span-1 justify-center sm:col-span-4 md:col-span-2 md:col-start-11 md:row-start-1 md:self-center md:text-right">
                <a
                  href="{{ order.customer_url }}"
                  class="button button--primary whitespace-nowrap"
                >
                  <span class="sr-only">{{ 'customer.orders.order_number_link' | t: number: order.name }}</span>
                  <span aria-hidden="true">
                    {{ view_order_str }}
                  </span>
                </a>
              </div>
            </div>
          {%- endfor -%}
        </div>
      {%- else -%}
        <p>
          {%- render 'render-translation', namespace: 'customer.orders', key: 'none', fallback: 'No orders' -%}
        </p>
      {%- endif -%}

      {%- comment -%} Pagination {%- endcomment -%}
      {%- liquid
        if paginate.pages > 1
          render 'pagination', paginate: paginate
        endif
      -%}
    {% endpaginate %}
  </div>

  {%- comment -%} Customer info {%- endcomment -%}
  <div class="account__customer-info customer-info col-span-12 flex flex-col gap-y-4 xl:col-span-3 xl:rounded-md xl:bg-gray-50 xl:p-4 xl:drop-shadow-lg [&>p]:mb-0">
    <h2 class="xl:sr-only">{%- render 'render-translation', namespace: 'customer.account', key: 'details', fallback: 'Account details' -%}</h2>
    {%- if customer.name != blank -%}
      <p class="customer-info__name h5">
        {{- customer.name -}}
      </p>
    {%- endif -%}
    {%- if customer.email != blank -%}
      <p class="customer-info__email">
        {{- customer.email -}}
      </p>
    {%- endif -%}
    {{ customer.default_address | format_address }}
    {% if customer.phone != blank -%}
      <p class="customer-info__address">
        {{- customer.phone | strip -}}
      </p>
    {%- endif -%}
    <div class="customer-info__buttons mx-auto flex max-w-fit flex-col gap-4 xl:mx-0">
      <a href="{{ routes.account_addresses_url }}" class="button button--primary">
        {%- render 'render-translation', namespace: 'customer.account', key: 'edit_details', fallback: 'Edit details' -%}
      </a>
      <a href="{{ routes.account_logout_url }}" class="button button--link py-0">
        {%- render 'icons', icon: 'arrow', icon_class: 'w-6 rotate-180' -%}
        {%- render 'render-translation', namespace: 'customer', key: 'log_out', fallback: 'Log out' -%}
      </a>
    </div>
  </div>
{%- endcapture -%}

{%- liquid
  capture account_header
    render 'account-header'
  endcapture

  # Render the content  echo
  render 'render-container-content', class: 'account', header_content: account_header, content: container_content, content_class: 'account__grid grid grid-cols-12 gap-base'
-%}
