{%- liquid
  assign nav_item_class = 'blog-header__nav-item'
  assign nav_link_class = 'blog-header__nav-link whitespace-nowrap font-bold uppercase text-black no-underline aria-[current=true]:text-primary states:text-primary aria-[current=true]:states:border-none aria-[current=true]:after:content-empty aria-[current=true]:after:absolute aria-[current=true]:after:h-[1px] aria-[current=true]:after:inset-0 aria-[current=true]:after:top-auto aria-[current=true]:after:-bottom-[1px] aria-[current=true]:after:bg-primary relative py-2 block'
  assign nav_link_replace = '<a class="' | append: nav_link_class | append: '" aria-current="false"'
  assign nav_link_replace_active = '<a class="' | append: nav_link_class | append: '" aria-current="true"'

  assign tag_nav = ''

  # Blog tags and current (if it's the case). Tags should have prefix of 'category:'. Won't render if capture is empty.
  for tag in blog.all_tags
    if tag contains 'category:' or tag contains 'Category:'
      assign article_category = tag | downcase | remove: 'category:'
      capture tag_nav
        echo tag_nav
        echo '<li class="' | append: nav_item_class | append: '">'
        if current_tags contains tag
          echo article_category | link_to_remove_tag: tag | replace: '<a ', nav_link_replace_active
        else
          echo article_category | link_to_tag: tag | replace: '<a ', nav_link_replace
        endif
        echo '</li>'
      endcapture
    endif
  endfor
-%}

{%- comment -%} Container header {%- endcomment -%}
{%- capture container_header -%}
  <h1 class="h2 mb-0 {{ section.settings.heading_alignment }}">
    {{- blog.title -}}
  </h1>

  {%- if section.settings.enable_navigation and tag_nav != '' -%}
    <nav class="blog-header__nav blog-nav" aria-label="{%- render 'render-translation', namespace: 'accessibility', key: 'blog_tag_menu', fallback: 'Blog categories' -%}">
      <ul class="blog-header__nav-list article-tags list-menu flex flex-wrap gap-x-6 border-b border-gray-100 text-sm">
        {%- liquid
          assign nav_link_active = false
          unless current_tags.size
            assign nav_link_active = true
          endunless
        -%}

        {%- comment -%} General All blog link {%- endcomment -%}
        <li class="{{- nav_item_class -}}">
          <a class="{{- nav_link_class -}}" aria-current="{{- nav_link_active -}}" href="{{ blog.url }}" title="All">
            {%- render 'render-translation', namespace: "blogs.general", key: "all_tags", fallback: "All" -%}
          </a>
        </li>

        {% comment %} Render the other links {% endcomment %}
        {{- tag_nav -}}
      </ul>
    </nav>
  {%- endif -%}
{%- endcapture -%}

{%- comment -%} Container content {%- endcomment -%}
{%- capture container_content -%}
  <div class="main-blog" id="BlogArticlesGrid">
    {%- liquid
      paginate blog.articles by settings.articles_per_page
        render 'article-grid', blog: blog, paginate: paginate, pagination_type: settings.pagination_view_blog

        if paginate.pages > 1 and settings.pagination_view_blog == ''
          render 'pagination', paginate: paginate, anchor: '', class: ''
        endif
      endpaginate
    -%}
  </div>
{%- endcapture -%}

{%- liquid
  # Container footer
  capture container_footer
    if section.settings.show_back_to_top
      render 'back-to-top'
    endif
  endcapture
-%}

{%- comment -%} Render the blog articles {%- endcomment -%}
{%- render 'render-container-content',
  class: 'main-blog',
  header_class: 'main-blog__header blog-header mb-8 flex gap-y-8 flex-col',
  header_content: container_header,
  content: container_content,
  footer_content: container_footer
-%}

{%- comment -%} Import javascript {%- endcomment -%}
{%- if settings.pagination_view_blog == 'load-more' -%}
  <script src="{{ 'load-more.js' | asset_url }}" defer></script>
{%- endif -%}

{%- if section.settings.show_back_to_top -%}
  <script src="{{ 'back-to-top.js' | asset_url }}" defer></script>
{%- endif -%}

{% schema %}
  {
    "name": "Blog",
    "tag": "section",
    "settings": [
      {
        "type": "select",
        "id": "heading_alignment",
        "label": "Heading alignment",
        "default": "text-center",
        "options": [
          {
            "value": "text-start",
            "label": "Left"
          },
          {
            "value": "text-center",
            "label": "Center"
          },
          {
            "value": "text-end",
            "label": "Right"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "show_back_to_top",
        "default": true,
        "label": "Show back to top button"
      },
      {
        "type": "header",
        "content": "Blog navigation",
        "info": "The navigation is generated based on the blog post tags with the prefix 'category:'"
      },
      {
        "type": "checkbox",
        "id": "enable_navigation",
        "default": true,
        "label": "Enable blog tags navigation"
      }
    ]
  }
{% endschema %}
