{%- liquid
  assign extra_logo_class = ''
  if section.settings.logo_position == 'center'
    assign extra_logo_class = 'md:flex md:justify-center'
  endif
-%}

{%- capture logo -%}
  <h1 class="password-header__logo col-span-6 mb-0 md:col-span-4 {{ extra_logo_class }}">
    {%- render 'global-logo' -%}
  </h1>
{%- endcapture -%}

<header class="password-header  relative z-sticky bg-white">
  <div class="password-header__inner content-wrapper content-wrapper-padding grid grid-cols-12 items-center py-6 gap-base md:gap-6">
    {%- if section.settings.logo_position == 'left' -%}
      {{ logo }}
    {%- endif -%}

    <div class="password-header__content rte hidden md:col-span-4 md:block">
      {%- if shop.password_message != blank -%}
        {{- shop.password_message -}}
      {%- endif -%}
    </div>

    {%- if section.settings.logo_position == 'center' -%}
      {{ logo }}
    {%- endif -%}

    {%- comment -%} Login modal {%- endcomment -%}
    <main-password class="col-span-6 flex justify-end md:col-span-4">
      <button
        type="button"
        class="button button--link flex items-center"
        aria-haspopup="dialog"
        aria-label="{%- render "render-translation", namespace: "general.main_password", key: "modal", fallback: "Password modal" -%}"
        data-dialog-open>
        {%- render 'icons', icon: 'lock', icon_class: 'w-6' -%}
        {%- render 'render-translation', namespace: 'general.main_password', key: 'login_password_button', fallback: 'Enter using password' -%}
      </button>

      <dialog
        class="password-modal"
        data-dialog>
        <div
          class="fixed inset-0 z-10 flex flex-col items-center justify-center bg-white bg-opacity-90 backdrop-blur"
          role="dialog"
          aria-labelledby="DialogHeading"
          aria-modal="true">
          <button
            type="button"
            class="modal__close-button button button--link absolute end-[var(--content-wrapper-padding)] top-4 z-20 flex h-16 w-16 items-center justify-center bg-transparent p-3"
            aria-label="
              {%- render "render-translation",
                namespace: "accessibility",
                key: "close",
                fallback: "Close"
              -%}
            "
            data-dialog-close>
            {%- render 'icons', icon: 'close', icon_class: 'w-6 m-0' -%}
          </button>
          <div
            class="password-modal__content content-wrapper-padding relative z-10 grid min-h-0 w-full grid-cols-1 gap-4 overflow-auto py-24 text-center">
            <h2 class="h3 mb-0" id="DialogHeading">
              {%- render 'render-translation', namespace: 'general.main_password', key: 'login_form_heading', fallback: 'Enter store using password' -%}
            </h2>

            <div class="mx-auto mt-0 w-full max-w-xs">
              {%- form 'storefront_password', class: 'password-form' -%}
                <div class="field">
                  <label class="field__label" for="password">
                    {%- render 'render-translation', namespace: 'general.main_password', key: 'login_form_password_placeholder', fallback: 'Your password' -%}
                  </label>
                  <input
                    type="password"
                    name="password"
                    id="password"
                    class="field__input"
                    autocomplete="current-password"
                    {% if form.errors %}
                      aria-invalid="true"
                      aria-describedby="password-login-form-password-error"
                    {%- endif -%}
                    placeholder="
                      {%- render "render-translation",
                        namespace: "general.main_password",
                        key: "login_form_password_placeholder",
                        fallback: "Your password"
                      -%}
                    "
                    required>
                  {%- if form.errors -%}
                    <div
                      id="password-login-form-password-error"
                      class="field__message field__message--error mt-3"
                      role="status">
                      <p class="flex flex-wrap justify-center gap-3 text-sm text-danger">
                        <span class="sr-only">
                          {%- render 'render-translation', namespace: 'accessibility', key: 'error', fallback: 'Error' -%}
                        </span>
                        {%- render 'icons', icon: 'error', icon_class: 'w-5 shrink-0' -%}
                        {%- render 'render-translation', namespace: 'general.main_password', key: 'login_form_error', fallback: 'Wrong password!' -%}
                      </p>
                    </div>
                    {%- comment -%} Reopen when error is after refresh. {%- endcomment -%}
                    <script>
                      document.querySelector('#shopify-section-main-password dialog.password-modal').showModal();
                    </script>
                  {%- endif -%}
                </div>

                <button type="submit" class="button button--primary button--lg">
                  {%- render 'render-translation', namespace: 'general.main_password', key: 'login_form_submit', fallback: 'Enter' -%}
                </button>
              {%- endform -%}
            </div>

            <p class="flex flex-wrap justify-center gap-1 p-0">
              {%- render 'render-translation', namespace: 'general.main_password', key: 'admin_link_html', fallback: 'Are you the store owner?' -%}
              <a href="/admin" class="link">
                {%- render 'render-translation', namespace: 'general.main_password', key: 'log_in_here', fallback: 'Log in here' -%}
              </a>
            </p>
          </div>
        </div>
      </dialog>
    </main-password>
  </div>
</header>

<script src="{{ 'main-password.js' | asset_url }}" type="module"></script>

{% schema %}
  {
    "name": "Password",
    "tag": "section",
    "settings": [
      {
        "type": "select",
        "id": "logo_position",
        "default": "left",
        "label": "Logo position",
        "info": "This only affects larger screens.",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          }
        ]
      }
    ]
  }
{% endschema %}
