{%- comment -%} Capture translations to use multiple times {%- endcomment -%}
{%- liquid
  capture order_nr_str
    render 'render-translation', namespace: 'customer.orders', key: 'order_number', fallback: 'Order number'
  endcapture

  capture order_date_str
    render 'render-translation', namespace: 'customer.orders', key: 'date', fallback: 'Order date'
  endcapture

  capture payment_status_str
    render 'render-translation', namespace: 'customer.orders', key: 'payment_status', fallback: 'Payment status'
  endcapture

  capture fulfillment_status_str
    render 'render-translation', namespace: 'customer.orders', key: 'fulfillment_status', fallback: 'Fulfillment status'
  endcapture

  capture total_str
    render 'render-translation', namespace: 'customer.orders', key: 'total', fallback: 'Total'
  endcapture

  capture view_order_str
    render 'render-translation', namespace: 'customer.orders', key: 'view_order', fallback: 'View order'
  endcapture

  capture page_title
    render 'render-translation', namespace: 'customer.account', key: 'details', fallback: 'Account details'
  endcapture
-%}

{%- capture container_content -%}
  {%- comment -%} Orders {%- endcomment -%}
  <div class="account__orders col-span-12 mb-8 xl:order-1 xl:col-span-8 xl:mb-0 ">
    <h2>{%- render 'render-translation', namespace: 'customer.orders', key: 'title', fallback: 'Orders' -%}</h2>
    {% paginate customer.orders by 20 %}
      {%- if customer.orders.size > 0 -%}
        <div class="flex flex-col divide-y">
          {%- for order in customer.orders -%}
            {%- liquid
              capture order_items_total
                if order.item_count == 1
                  render 'render-translation', namespace: 'customer.order', key: 'total_items.one', count: order.item_count, fallback: '1 item'
                else
                  render 'render-translation', namespace: 'customer.order', key: 'total_items.other', count: order.item_count, fallback: '{{ order.item_count }} items'
                endif
              endcapture
            -%}
            <div class="grid w-full grid-cols-2 py-4 gap-base sm:grid-cols-4 md:grid-cols-12">
              <div class="col-span-2 sm:col-span-1 md:col-span-3">
                {% comment %} Order number {% endcomment %}
                {{- order_nr_str -}}:
                <a
                  href="{{ order.customer_url }}"
                  aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}"
                  class="font-bold no-underline states:no-underline"
                  tabindex="-1"
                >
                  {{ order.name }}
                </a>
                {% comment %} Order date {% endcomment %}
                <p class="text-sm italic">
                  <span class="sr-only">{{- order_date_str -}}:</span> {{ order.created_at | time_tag: '%b %d, %Y' }}
                </p>
              </div>
              <div class="col-span-2 sm:col-span-2 md:col-span-5">
                {%- if order.cancelled -%}
                  {%- assign cancelled_date = order.cancelled_at | time_tag: '%b %d, %Y' -%}
                  <p class="mb-0">
                    {%- render 'render-translation', namespace: 'customer.order', key: 'cancelled_html', date: cancelled_date, fallback: 'Order cancelled' -%}
                  </p>
                  <p class="mb-0">
                    {{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason_label }}
                  </p>
                {%- else -%}

                  {% comment %} Payment status {% endcomment %}
                  <p class="mb-0">
                    {{- payment_status_str -}}: {{ order.financial_status_label }}
                  </p>
                  {% comment %} Fulfillment status {% endcomment %}
                  <p class="mb-0">
                    {{- fulfillment_status_str -}}: {{ order.fulfillment_status_label }}
                  </p>
                {%- endif -%}
              </div>
              <div class="col-span-1 justify-end self-center sm:col-span-1 sm:text-right md:col-span-2">
                {% comment %} Total items {% endcomment %}
                <p class="mb-0">{{- order_items_total -}}</p>

                {% comment %} Total price {% endcomment %}
                <p class="font-bold">
                  <span class="sr-only">{{- total_str -}}:</span> {{ order.total_price | money_with_currency }}
                </p>
              </div>
              <div class="col-span-1 justify-end self-center text-right sm:col-span-4 md:col-span-2">
                {% comment %} 'View order' link {% endcomment %}
                <a
                  href="{{ order.customer_url }}"
                  aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}"
                  class="button button--primary whitespace-nowrap"
                >
                  {{- view_order_str -}}
                </a>
              </div>
            </div>
          {%- endfor -%}
        </div>
      {%- else -%}
        <p>
          {%- render 'render-translation', namespace: 'customer.orders', key: 'none', fallback: 'No orders' -%}
        </p>
      {%- endif -%}

      {%- comment -%} Pagination {%- endcomment -%}
      {%- liquid
        if paginate.pages > 1
          render 'pagination', paginate: paginate
        endif
      -%}
    {% endpaginate %}
  </div>

  {%- comment -%} Customer info {%- endcomment -%}
  <div class="account__customer-info col-span-12 grid grid-cols-1 gap-4 xl:col-span-3 xl:rounded-md xl:bg-gray-50 xl:p-4 xl:drop-shadow-lg">
    <h2 class="xl:sr-only">{%- render 'render-translation', namespace: 'customer.account', key: 'details', fallback: 'Account details' -%}</h2>
    {%- if customer.name != blank -%}
      <p class="h5 mb-0">
        {{- customer.name -}}
      </p>
    {%- endif -%}
    {%- if customer.email != blank -%}
      <p class="mb-0">
        {{- customer.email -}}
      </p>
    {%- endif -%}
    {{ customer.default_address | format_address }}
    {% if customer.phone != blank -%}
      <p class="mb-0">
        {{- customer.phone | strip -}}
      </p>
    {%- endif -%}
    <a href="{{ routes.account_addresses_url }}" class="button button--primary button--lg justify-self-start">
      {%- render 'render-translation', namespace: 'customer.account', key: 'edit_details', fallback: 'Edit details' -%}
    </a>
    <a href="{{ routes.account_logout_url }}" class="button button--outline button--lg justify-self-start">
      {%- render 'render-translation', namespace: 'customer', key: 'log_out', fallback: 'Log out' -%}
    </a>
  </div>
{%- endcapture -%}

{%- comment -%} Render the account header {%- endcomment -%}
{%- render 'account-header' -%}

{%- comment -%} Render the content {%- endcomment -%}
{%- render 'render-container-content', class: 'account', content: container_content, content_class: 'account__grid grid grid-cols-12 gap-base' -%}
