{%- liquid
  # Import styles for this section
  render 'import-styles', file_name: 'component-form.css', force: true

  capture search_str
    render 'render-translation', namespace: 'sections.main_search', key: 'search', fallback: 'Search'
  endcapture
-%}

{%- capture container_content -%}
  {% comment %} Search form {% endcomment %}
  <form action="{{ routes.search_url }}" method="get" role="search" class="mb-10 grid grid-cols-12">
    <div class="relative col-span-12  md:col-span-6 md:col-start-4 lg:col-span-4 lg:col-start-5">
      <div class="field relative mb-0">
        <label class="field__label sr-only" for="search-in-template" aria-hidden="true">
          {{ search_str }}
        </label>
        <input
          class="field__input"
          id="search-in-template"
          type="search"
          name="q"
          value="{{ search.terms | escape }}"
          placeholder="{{ search_str }}"
        >
        <button type="submit" class="search__button absolute end-4 top-2/4 block -translate-y-2/4 states:text-primary" aria-label="{{ search_str }}">
          {%- render 'icons', icon: 'search', icon_class: 'w-6' -%}
        </button>
      </div>
      <input name="options[prefix]" type="hidden" value="last">
    </div>
  </form>

  {% comment %} Search type navigation {% endcomment %}
  <search-types class="mb-10">
    {%- render 'search-types', search: search -%}
  </search-types>

  {% comment %} Results count {% endcomment %}
  <div id="result-count" class="mb-4">
    <p class="text-center">
      {%- liquid
        if search.performed
          if search.results_count == 0
            echo 'sections.main_search.no_results' | t: terms: search.terms
          else
            echo 'sections.main_search.results_with_count' | t: terms: search.terms, count: search.results_count
          endif
        else
          echo search_str
        endif
      -%}
    </p>
  </div>

  <search-results>
    {% comment %} Loader animation {% endcomment %}
    <div class="loading-overlay absolute inset-0 z-50 flex hidden w-full items-center justify-center bg-bg-default opacity-70" data-loader>
      {%- render 'icons', icon: 'spinner', icon_class: 'w-6 animate-spin' -%}
    </div>

    {% comment %} Results wrapper {% endcomment %}
    <div class="search-results" data-search-results-wrapper>
      {%- render 'search-results', search: search -%}
    </div>
  </search-results>
{%- endcapture -%}

{%- capture container_title -%}
  {%- render 'render-translation', namespace: 'sections.main_search', key: 'title', fallback: 'Search results' -%}
{%- endcapture -%}

{%- comment -%} Render the content {%- endcomment -%}
{%-
  render 'render-container-content',
  content: container_content,
  class: 'mt-8',
  header_class: 'mb-8',
  title: container_title,
  title_tag: 'h1',
  title_class: 'h2 text-center',
-%}

{%- comment -%} Import javascript {%- endcomment -%}
<script src="{{ 'search-results.js' | asset_url }}" defer></script>

{% schema %}
  {
    "name": "Search results",
    "tag": "section",
    "class": "main-search-section",
    "settings": [
      {
        "type": "header",
        "content": "Blog card"
      },
      {
        "type": "checkbox",
        "id": "article_show_date",
        "default": true,
        "label": "Show date"
      },
      {
        "type": "checkbox",
        "id": "article_show_author",
        "default": false,
        "label": "Show author"
      }
    ]
  }
{% endschema %}
