{%- liquid
  assign nav_item_class = 'blog-header__nav-item'
  assign nav_link_class = 'blog-header__nav-link whitespace-nowrap font-bold uppercase text-black no-underline aria-[current=true]:text-primary states:text-primary aria-[current=true]:states:border-none aria-[current=true]:after:content-empty aria-[current=true]:after:absolute aria-[current=true]:after:h-[1px] aria-[current=true]:after:inset-0 aria-[current=true]:after:top-auto aria-[current=true]:after:-bottom-[1px] aria-[current=true]:after:bg-primary relative py-2 block'
  assign nav_link_replace = '<a class="' | append: nav_link_class | append: '" aria-current="false"'
  assign nav_link_replace_active = '<a class="' | append: nav_link_class | append: '" aria-current="true"'

  assign tag_nav = ''

  # Blog tags and current (if it's the case). Tags should have prefix of 'category:'. Won't render if capture is empty.
  for tag in blog.all_tags
    if tag contains 'category:' or tag contains 'Category:'
      assign article_category = tag | downcase | remove: 'category:'
      capture tag_nav
        echo tag_nav
        echo '<li class="' | append: nav_item_class | append: '">'
        if current_tags contains tag
          echo article_category | link_to_remove_tag: tag | replace: '<a ', nav_link_replace_active
        else
          echo article_category | link_to_tag: tag | replace: '<a ', nav_link_replace
        endif
        echo '</li>'
      endcapture
    endif
  endfor
-%}

{%- comment -%} Container header {%- endcomment -%}
{%- capture container_header -%}
  <h1 class="h2 mb-0 {{ section.settings.heading_alignment }}">
    {{- blog.title -}}
  </h1>

  {%- if section.settings.enable_navigation and tag_nav != '' -%}
    <nav class="blog-header__nav blog-nav" aria-label="{%- render 'render-translation', namespace: 'accessibility', key: 'blog_tag_menu', fallback: 'Blog categories' -%}">
      <ul class="blog-header__nav-list article-tags list-menu flex flex-wrap gap-x-6 border-b border-gray-100 text-sm">
        {%- liquid
          assign nav_link_active = false
          unless current_tags.size
            assign nav_link_active = true
          endunless
        -%}

        {%- comment -%} General All blog link {%- endcomment -%}
        <li class="{{- nav_item_class -}}">
          <a class="{{- nav_link_class -}}" aria-current="{{- nav_link_active -}}" href="{{ blog.url }}" title="All">
            {%- render 'render-translation', namespace: "blogs.general", key: "all_tags", fallback: "All" -%}
          </a>
        </li>

        {% comment %} Render the other links {% endcomment %}
        {{- tag_nav -}}
      </ul>
    </nav>
  {%- endif -%}
{%- endcapture -%}

{%- comment -%} Container content {%- endcomment -%}
{%- capture container_content -%}
  {%- paginate blog.articles by section.settings.blog_pagination -%}
    <div class="blog-articles grid grid-cols-12 gap-base">
      {%- for article in blog.articles -%}

        {%- comment -%} Check if first item has an image set in the metafields, if so, display it as a highlight. {%- endcomment -%}
        {%- liquid
          assign highlight = false
          assign col_classes = 'col-span-12 sm:col-span-6 lg:col-span-4'
          if forloop.first and section.settings.show_highlight_article
            assign highlight = true
            assign col_classes = 'col-span-12 mb-8 md:mb-0'
          endif
        -%}

        {%- comment -%} Output article card {%- endcomment -%}
        {%-
          render 'article-card',
            article: article,
            class: col_classes,
            highlight: highlight,
            section: section
        -%}
      {%- endfor -%}
    </div>

    {%- liquid
      # Pagination
      if paginate.pages > 1
        render 'pagination', paginate: paginate
      endif
    -%}

  {%- endpaginate -%}
{%- endcapture -%}

{%- liquid
  # Container footer
  capture container_footer
    if section.settings.show_back_to_top
      render 'back-to-top'
    endif
  endcapture
-%}

{%- comment -%} Render the blog articles {%- endcomment -%}
{%- render 'render-container-content',
  class: 'main-blog',
  header_class: 'main-blog__header blog-header mb-8 flex gap-y-8 flex-col',
  header_content: container_header,
  content: container_content,
  footer_content: container_footer
-%}

{%- if section.settings.show_back_to_top -%}
  <script src="{{ 'back-to-top.js' | asset_url }}" defer></script>
{%- endif -%}

{% schema %}
  {
    "name": "Blog",
    "tag": "section",
    "settings": [
      {
        "type": "select",
        "id": "heading_alignment",
        "label": "Heading alignment",
        "default": "text-center",
        "options": [
          {
            "value": "text-start",
            "label": "Left"
          },
          {
            "value": "text-center",
            "label": "Center"
          },
          {
            "value": "text-end",
            "label": "Right"
          }
        ]
      },
      {
        "type": "number",
        "id": "blog_pagination",
        "label": "Articles per page",
        "default": 10
      },
      {
        "type": "checkbox",
        "id": "show_back_to_top",
        "default": true,
        "label": "Show back to top button"
      },
      {
        "type": "header",
        "content": "Blog navigation",
        "info": "The navigation is generated based on the article tags with the prefix 'category:'"
      },
      {
        "type": "checkbox",
        "id": "enable_navigation",
        "default": true,
        "label": "Enable blog tags navigation"
      },
      {
        "type": "header",
        "content": "Highlighted article"
      },
      {
        "type": "checkbox",
        "id": "show_highlight_article",
        "default": true,
        "label": "Highlight the first article",
        "info": "Optionally, you can upload an additional image that will be used when the article is highlighted (metafield 'Highlighted article image')."
      },
      {
        "type": "checkbox",
        "id": "show_highlight_image",
        "default": true,
        "label": "Show image"
      },
      {
        "type": "checkbox",
        "id": "show_highlight_author",
        "default": false,
        "label": "Show author"
      },
      {
        "type": "checkbox",
        "id": "show_highlight_date",
        "default": true,
        "label": "Show date"
      },
      {
        "type": "checkbox",
        "id": "show_highlight_category",
        "default": true,
        "label": "Show category"
      },
      {
        "type": "checkbox",
        "id": "show_highlight_excerpt",
        "default": true,
        "label": "Show excerpt"
      },
      {
        "type": "select",
        "id": "content_color_scheme",
        "label": "Text background",
        "default": "color-scheme color-scheme--white",
        "options": [
          {
            "value": "color-scheme color-scheme--primary",
            "label": "Primary",
            "group": "Theme"
          },
          {
            "value": "color-scheme color-scheme--secondary",
            "label": "Secondary",
            "group": "Theme"
          },
          {
            "value": "color-scheme color-scheme--accent",
            "label": "Accent",
            "group": "Theme"
          },
          {
            "value": "color-scheme color-scheme--gray",
            "label": "Gray",
            "group": "Standard"
          },
          {
            "value": "color-scheme color-scheme--black",
            "label": "Black",
            "group": "Standard"
          },
          {
            "value": "color-scheme color-scheme--white",
            "label": "White",
            "group": "Standard"
          }
        ]
      },
      {
        "type": "header",
        "content": "Text positioning"
      },
      {
        "type": "select",
        "id": "highlight_position_horizontal",
        "label": "Horizontal position",
        "default": "justify-start",
        "options": [
          {
            "value": "justify-start",
            "label": "Left"
          },
          {
            "value": "justify-center",
            "label": "Center"
          },
          {
            "value": "justify-end",
            "label": "Right"
          }
        ]
      },
      {
        "type": "select",
        "id": "highlight_position_vertical",
        "label": "Vertical position",
        "default": "items-end",
        "options": [
          {
            "value": "items-start",
            "label": "Top"
          },
          {
            "value": "items-center",
            "label": "Center"
          },
          {
            "value": "items-end",
            "label": "Bottom"
          }
        ]
      },
      {
        "type": "select",
        "id": "highlight_text_align",
        "label": "Text align",
        "default": "text-start",
        "options": [
          {
            "value": "text-start",
            "label": "Left"
          },
          {
            "value": "text-center",
            "label": "Center"
          },
          {
            "value": "text-end",
            "label": "Right"
          }
        ]
      },
      {
        "type": "header",
        "content": "Image aspect ratios"
      },
      {
        "type": "select",
        "id": "min_ratio_mobile",
        "label": "Mobile screens",
        "default": "aspect-[9/16]",
        "options": [
          {
            "value": "",
            "label": "Default"
          },
          {
            "value": "aspect-[1/1]",
            "label": "Square"
          },
          {
            "value": "aspect-[2/1]",
            "label": "2x1",
            "group": "Landscape"
          },
          {
            "value": "aspect-[4/3]",
            "label": "4x3",
            "group": "Landscape"
          },
          {
            "value": "aspect-[5/2]",
            "label": "5x2",
            "group": "Landscape"
          },
          {
            "value": "aspect-[16/9]",
            "label": "16x9",
            "group": "Landscape"
          },
          {
            "value": "aspect-[3/4]",
            "label": "3x4",
            "group": "Portrait"
          },
          {
            "value": "aspect-[9/16]",
            "label": "9x16",
            "group": "Portrait"
          }
        ]
      },
      {
        "type": "select",
        "id": "min_ratio_tablet",
        "label": "Tablet screens",
        "info": "Only applies to devices larger than 768 pixels and smaller than 1280 pixels.",
        "default": "md:aspect-[2/1]",
        "options": [
          {
            "value": "",
            "label": "Default (same as mobile)"
          },
          {
            "value": "md:aspect-[1/1]",
            "label": "Square"
          },
          {
            "value": "md:aspect-[2/1]",
            "label": "2x1",
            "group": "Landscape"
          },
          {
            "value": "md:aspect-[4/3]",
            "label": "4x3",
            "group": "Landscape"
          },
          {
            "value": "md:aspect-[5/2]",
            "label": "5x2",
            "group": "Landscape"
          },
          {
            "value": "md:aspect-[16/9]",
            "label": "16x9",
            "group": "Landscape"
          },
          {
            "value": "aspect-[3/4]",
            "label": "3x4",
            "group": "Portrait"
          },
          {
            "value": "aspect-[9/16]",
            "label": "9x16",
            "group": "Portrait"
          }
        ]
      },
      {
        "type": "select",
        "id": "min_ratio_desktop",
        "label": "Desktop and up",
        "info": "Only applies to devices larger than 1280 pixels.",
        "default": "xl:aspect-[3/1]",
        "options": [
          {
            "value": "",
            "label": "Default (same as tablet)"
          },
          {
            "value": "xl:aspect-[1/1]",
            "label": "Square"
          },
          {
            "value": "xl:aspect-[2/1]",
            "label": "2x1",
            "group": "Landscape"
          },
          {
            "value": "xl:aspect-[3/1]",
            "label": "3x1",
            "group": "Landscape"
          },
          {
            "value": "xl:aspect-[4/3]",
            "label": "4x3",
            "group": "Landscape"
          },
          {
            "value": "xl:aspect-[5/2]",
            "label": "5x2",
            "group": "Landscape"
          },
          {
            "value": "xl:aspect-[16/9]",
            "label": "16x9",
            "group": "Landscape"
          }
        ]
      }
    ]
  }
{% endschema %}
