{%- liquid
  capture icons
    echo '<div class="field__icons">'
    render 'icons', icon: 'checkmark', icon_class: 'w-5'
    render 'icons', icon: 'cross', icon_class: 'w-5'
    echo '</div>'
  endcapture

  capture email_str
    render 'render-translation', namespace: 'customer.login_page', key: 'email', fallback: 'Email'
  endcapture

  capture password_str
    render 'render-translation', namespace: 'customer.login_page', key: 'password', fallback: 'Password'
  endcapture
-%}

{%- capture container_content -%}
  <div class="mx-auto max-w-sm md:mb-28">

    {%- comment -%} Recover password {%- endcomment -%}
    <div id="recover" class="peer/recover hidden target:block" tabindex="-1">
      {%- form 'recover_customer_password' -%}

        {%- assign recover_success = form.posted_successfully? -%}

        <p class="text-center">
          {%- render "render-translation", namespace: "customer.recover_password.subtext", fallback: "We will send you an email to reset your password" -%}
        </p>

        <div class="field">
          <label class="field__label" for="RecoverEmail">
            {{- email_str -}}
          </label>
          <input
            class="field__input"
            type="email"
            value=""
            name="email"
            id="RecoverEmail"
            autocapitalize="off"
            autocomplete="email"
            required
            {% if form.errors %}
              aria-invalid="true"
              aria-describedby="RecoverEmail-email-error"
              autofocus
            {% endif %}
            placeholder="{{ email_str }}"
          >
          {{- icons -}}
          <div class="field__message field__message--error" id="RecoverEmail-email-error">
            {%- render "render-translation", namespace: "customer.login_page", key: "email_message_error", fallback: "This email is not in the correct format." -%}
          </div>
        </div>

        <div class="mt-8 flex items-center justify-center gap-4">
          <button class="button button--primary">
            {%- render "render-translation", namespace: "customer.login_page", key: "submit", fallback: "Submit" -%}
          </button>
          <a href="#login" class="button button--link prevent-hashjump px-0">
            {%- render "render-translation", namespace: "customer.login_page", key: "cancel", fallback: "Cancel" -%}
          </a>
        </div>
      {%- endform -%}
    </div>

    {%- comment -%} Login form {%- endcomment -%}
    <div id="login" class="peer-target/recover:hidden" tabindex="-1">
      {%- if recover_success == true -%}
        <p class="font-bold" tabindex="-1" autofocus>
          {%- render "render-translation", namespace: "customer.recover_password", key: "success", fallback: "We've sent you an email with a link to update your password." -%}
        </p>
      {%- else -%}
        {% comment %} Register link {% endcomment %}
        <p class="mb-8 text-center">
          {%- render 'render-translation', namespace: 'customer.login_page', key: 'register_html', fallback: 'Register here' -%}
        </p>
      {%- endif -%}

      {%- form 'customer_login', novalidate: 'novalidate', class: 'form' -%}
        <div class="field">
          <label class="field__label" for="CustomerEmail">
            {{ email_str }}
          </label>
          <input
            class="field__input"
            type="email"
            name="customer[email]"
            id="CustomerEmail"
            autocomplete="off"
            autocapitalize="off"
            required
            placeholder="{{ email_str }}"
          >
          {{- icons -}}
          <div class="field__message field__message--error">
            {%- render "render-translation", namespace: "customer.login_page", key: "email_message_error", fallback: "This email is not in the correct format." -%}
          </div>
        </div>

        {%- if form.password_needed -%}
          <div class="field">
            <label class="field__label" for="CustomerPassword">
              {{- password_str -}}
            </label>
            <input
              type="password"
              name="customer[password]"
              value=""
              class="field__input"
              id="CustomerPassword"
              autocomplete="current-password"
              required
              {% if form.errors contains 'form' %}
                aria-invalid="true"
                aria-describedby="LoginForm-form-error"
              {% endif %}
              placeholder="{{ password_str }}"
            >
            {{- icons -}}
            {%- if form.errors contains 'form' -%}
              <div class="field__message field__message--error text-start" id="LoginForm-form-error">
                {{- form.errors | default_errors -}}
              </div>
            {%- endif -%}
          </div>
        {%- endif -%}

        <div class="mt-8 flex items-center justify-center gap-4">
          <button type="submit" class="button button--primary">
            {%- render "render-translation", namespace: "customer.login_page", key: "button_sign_in", fallback: "Log in" -%}
          </button>

          {%- if form.password_needed -%}
            <a href="#recover" class="button button--link prevent-hashjump px-0">
              {%- render "render-translation", namespace: "customer.login_page", key: "forgot_password", fallback: "Forgot your password?" -%}
              {%- render 'icons', icon: 'arrow', icon_class: 'w-4' -%}
            </a>
          {%- endif -%}
        </div>
      {%- endform -%}
    </div>

    {%- comment -%} Guest login. {%- endcomment -%}
    {%- if shop.checkout.guest_login -%}
      <div id="guest-login">
        <hr>
        <p class="text-sm font-bold">
          {%- render "render-translation", namespace: "customer.login_page", key: "guest_title", fallback: "Continue as guest" -%}
        </p>

        {%- form 'guest_login', class: 'form' -%}
          <button class="button button--primary">
            {%- render "render-translation", namespace: "customer.login_page", key: "guest_continue", fallback: "Continue" -%}
          </button>
        {%- endform -%}
      </div>
    {%- endif -%}
  </div>
{%- endcapture -%}

{%- render 'account-header' -%}

{%- comment -%} Render the content {%- endcomment -%}
{%- render 'render-container-content', content: container_content -%}
