{%- capture container_content -%}
  <cart-items class="group/cart-items cart relative col-span-12 block text-sm lg:col-span-8 lg:col-start-3 {% if cart == empty %} cart-is-empty{% endif %}">

    {%- comment -%} Empty cart {%- endcomment -%}
    <div class="cart__warnings hidden flex-col items-center justify-center px-6 py-24 text-center group-[.cart-is-empty]/cart-items:flex">
      <p class="h4 cart__empty-text mb-4">
        {%- render "render-translation", namespace: "sections.cart", key: "empty", fallback: "Your cart is empty" -%}
      </p>
    </div>

    {%- comment -%} Header {%- endcomment -%}
    <div class="cart__header mb-6 group-[.cart-is-empty]/cart-items:hidden lg:mb-14">
      <h1 class="h4 {{ section.settings.heading_alignment }}">
        {%- render "render-translation", namespace: "sections.cart", key: "title", fallback: "Cart" -%}
      </h1>
    </div>

    {%- comment -%} Cart items {%- endcomment -%}
    <form action="{{ routes.cart_url }}" class="cart__contents group-[.cart-is-empty]/cart-items:hidden" method="post" id="cart">
      <div class="gap-base lg:grid lg:grid-cols-12">

        {% comment %} Left column {% endcomment %}
        <div class="col-span-8">
          <div class="cart__items relative lg:mb-8" id="main-cart-items" data-id="{{ section.id }}">
            <div class="js-cart-item-contents group-[.cart-items-is-loading]/cart-items:pointer-events-none group-[.cart-items-is-loading]/cart-items:opacity-40">
              {%- if cart != empty -%}
                <div class="cart-items">
                  {%- for item in cart.items -%}
                    {%- render 'cart-item', item: item, view: 'cart-page' -%}
                  {%- endfor -%}
                </div>
              {%- endif -%}
            </div>
          </div>

          <p class="sr-only" id="cart-live-region-text" aria-live="polite" role="status"></p>

          <p
            class="hidden"
            id="shopping-cart-line-item-status"
            aria-live="polite"
            aria-hidden="true"
            role="status"
            data-shopping-cart-line-item-status
          >
            {%- render 'render-translation', namespace: 'accessibility', key: 'loading', fallback: 'Loading' -%}
          </p>
        </div>

        {% comment %} Right column {% endcomment %}
        {%- comment -%} Cart footer {%- endcomment -%}
        <div
          id="main-cart-footer"
          data-id="{{ section.id }}"
          class="col-span-4">
          <div class="cart__footer mb-8 grid grid-cols-8 md:mt-14 lg:my-0 lg:grid-cols-1 lg:gap-base">

            <div class="col-span-8 grid grid-cols-1 gap-y-6 md:col-span-3 lg:col-span-1">

              {%- comment -%} USPs & @app blocks {%- endcomment -%}
              {%- capture sidebar_content -%}
                {%- for block in section.blocks -%}
                  {%- case block.type -%}

                    {%- when '@app' -%}
                      <div class="cart__app-block relative border-b py-4">
                        {%- render block -%}
                      </div>

                    {%- when 'cart-note' -%}
                      <cart-note class="cart__note field block">
                        <label for="Cart-note" class="field__label font-body text-xs">
                          {%- render "render-translation", namespace: "sections.cart", key: "note", fallback: "Instructions about shipping, taxes and/or returns." -%}
                        </label>
                        <textarea
                          name="note"
                          placeholder="{% render "render-translation", namespace: "sections.cart", key: "message", fallback: "Leave a comment here" -%}"
                          class="field__input"
                          id="Cart-note"
                          data-cart-note
                        >
                          {{- cart.note -}}
                        </textarea>
                      </cart-note>

                    {%- when 'usp' -%}
                      {%- if block.settings.text != blank -%}
                        <p class="usp peer flex w-full items-center justify-items-start gap-4 text-start text-xs peer-[.usp]:-mt-5" {{ block.shopify_attributes }}>
                          {%- if block.settings.icon != 'none' -%}
                            <span class="usp__icon rounded-full bg-primary-200 p-2">
                              {%- render 'icons', icon: block.settings.icon, icon_class: 'w-4 shrink-0 grow-0' -%}
                            </span>
                          {%- endif -%}
                          <span class="usp__text">
                            {{- block.settings.text -}}
                          </span>
                        </p>
                      {%- endif -%}
                  {%- endcase -%}
                {% endfor %}
              {%- endcapture -%}

              {%- if sidebar_content != blank -%}
                <div class="flex flex-col gap-y-5">
                  {{- sidebar_content -}}
                </div>
              {%- endif -%}

            </div>

            {%- comment -%} Cart subtotal {%- endcomment -%}
            <div class="cart__subtotal fixed inset-x-0 bottom-0 z-20 col-span-8 bg-white px-[var(--content-wrapper-padding)] drop-shadow-[0_1px_15px_rgba(0,0,0,0.15)] md:relative md:col-span-3 md:col-start-6 md:px-0 md:drop-shadow-none lg:col-span-1  lg:bg-transparent">

              <div class="js-cart-footer-contents" {{ block.shopify_attributes }}>

                {%- comment -%} Totals {%- endcomment -%}
                <div class="cart__totals relative flex flex-wrap items-center justify-between p-4 md:p-0">
                  <p class="cart__totals-subtotal mb-0 font-body text-base leading-7">
                    {%- render 'render-translation', namespace: 'sections.cart', key: 'subtotal', fallback: 'Subtotal' -%}
                  </p>

                  {%- comment -%} Loading animation {%- endcomment -%}
                  <div
                    class="cart__loader absolute end-4 top-1/2 z-10 hidden w-6 -translate-y-1/2 md:end-0"
                    data-cart-loader-active="show">
                    {%- render 'icons', icon: 'spinner', icon_class: 'w-6 animate-spin' -%}
                  </div>

                  <p class="cart__totals-subtotal-value font-body text-base leading-7" data-cart-loader-active="hidden">
                    {{ cart.total_price | money_with_currency }}
                    {% if cart.total_price != cart.original_total_price %}
                      <s class="price--compare">{{- cart.original_total_price | money_with_currency -}}</s>
                    {% endif   %}
                  </p>
                </div>

                {%- comment -%} Cart errors {%- endcomment -%}
                <div id="cart-errors" class="cart__cart-error my-2 text-sm text-danger empty:hidden"></div>

                <p class="cart__tax-note rte mb-6 mt-2 hidden text-sm text-gray-500 md:block">
                  {%- liquid
                    if cart.taxes_included and shop.shipping_policy.body != blank
                      echo 'sections.cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url
                    elsif cart.taxes_included
                      render 'render-translation', namespace: 'sections.cart', key: 'taxes_included_but_shipping_at_checkout', fallback: 'Taxes are included'

                    elsif shop.shipping_policy.body != blank
                      echo 'sections.cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url
                    else
                      render 'render-translation', namespace: 'sections.cart', key: 'taxes_and_shipping_at_checkout', fallback: 'Taxes and shipping are calculated in checkout'
                    endif
                  -%}
                </p>

              </div>

              {%- comment -%} Checkout button {%- endcomment -%}
              <div class="cart__ctas grid grid-cols-1 gap-y-2" {{ block.shopify_attributes }}>
                <noscript>
                  <button type="submit" class="button button--secondary button--lg w-full">
                    {%- render 'render-translation', namespace: 'sections.cart', key: 'update', fallback: 'Update' -%}
                  </button>
                </noscript>
                <button
                  type="submit"
                  class="button button--primary button--lg"
                  name="checkout"
                  {% if cart == empty %}
                    disabled
                  {% endif %}
                >
                  {%- render 'render-translation', namespace: 'sections.cart', key: 'checkout', fallback: 'Checkout' -%}
                </button>
              </div>

              {% comment %} 'Continue shopping' link {% endcomment %}
              <a href="{{ routes.all_products_collection_url }}" class="link flex gap-2 py-4 text-center">
                {%- render "render-translation", namespace: "general", key: "continue_shopping", fallback: "Continue shopping" -%}
                {%- render 'icons', icon: 'chevron-right', icon_class: 'w-3' -%}
              </a>
            </div>
          </div>
        </div>
      </div>
    </form>
  </cart-items>
{%- endcapture -%}

{%- comment -%} Output cart content {%- endcomment -%}
{%- if container_content -%}
  {%- liquid
    # Render the content  echo
    render 'render-container-content', class: 'mb-0', content_class: 'content-wrapper', content: container_content
  -%}

  {%- comment -%} Import javascript {%- endcomment -%}
  <script src="{{ 'cart.js' | asset_url }}" defer></script>
{%- endif -%}

{% schema %}
  {
    "name": "Cart",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_cart_note",
        "default": false,
        "label": "Enable cart note",
        "info": "When selected, a text field will be displayed on the cart page for customers to add a note to their order."
      },
      {
        "type": "select",
        "id": "heading_alignment",
        "label": "Heading alignment",
        "default": "text-center",
        "options": [
          {
            "value": "text-start",
            "label": "Left"
          },
          {
            "value": "text-center",
            "label": "Center"
          },
          {
            "value": "text-end",
            "label": "Right"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "@app"
      },
      {
        "type": "cart-note",
        "name": "Cart note",
        "limit": 1
      },
      {
        "type": "usp",
        "name": "Cart USP",
        "settings": [
          {
            "type": "select",
            "id": "icon",
            "label": "Icon name",
            "options": [
              {
                "value": "account",
                "label": "Account"
              },
              {
                "value": "arrow",
                "label": "Arrow"
              },
              {
                "value": "box",
                "label": "Box"
              },
              {
                "value": "cart",
                "label": "Cart"
              },
              {
                "value": "caret",
                "label": "Caret"
              },
              {
                "value": "chat_bubble",
                "label": "Chat bubble"
              },
              {
                "value": "checkmark",
                "label": "Check mark"
              },
              {
                "value": "close",
                "label": "Cross"
              },
              {
                "value": "error",
                "label": "Error"
              },
              {
                "value": "eye",
                "label": "Eye"
              },
              {
                "value": "heart",
                "label": "Heart"
              },
              {
                "value": "iron",
                "label": "Iron"
              },
              {
                "value": "leaf",
                "label": "Leaf"
              },
              {
                "value": "leather",
                "label": "Leather"
              },
              {
                "value": "lock",
                "label": "Lock"
              },
              {
                "value": "map_pin",
                "label": "Map pin"
              },
              {
                "value": "pants",
                "label": "Pants"
              },
              {
                "value": "plane",
                "label": "Plane"
              },
              {
                "value": "play",
                "label": "Play"
              },
              {
                "value": "plus",
                "label": "Plus"
              },
              {
                "value": "price_tag",
                "label": "Price tag"
              },
              {
                "value": "question_mark",
                "label": "Question mark"
              },
              {
                "value": "search",
                "label": "Search"
              },
              {
                "value": "shirt",
                "label": "Shirt"
              },
              {
                "value": "shoe",
                "label": "Shoe"
              },
              {
                "value": "star",
                "label": "Star"
              },
              {
                "value": "success",
                "label": "Success"
              },
              {
                "value": "truck",
                "label": "Truck"
              },
              {
                "value": "washing",
                "label": "Washing"
              },
              {
                "value": "zoom",
                "label": "Zoom"
              }
            ],
            "default": "plus"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Text"
          }
        ]
      }
    ]
  }
{% endschema %}
