{%- comment -%}
  Implementation of Shopifys predictive search
  https://shopify.dev/themes/navigation-search/search/predictive-search
{%- endcomment -%}

{%- if predictive_search.performed -%}
  {%- capture results -%}

    {%- if predictive_search.resources.products.size > 0 and settings.predictive_search_products -%}
      <div class="predictive-search__group mb-4 border-b  last:mb-0">
        <div class="predictive-search__group__header mb-4 flex items-center justify-between">
          <p class="text-sm font-bold uppercase text-primary">
            {%-
              render "render-translation",
              namespace: "sections.predictive_search",
              key: "products",
              fallback: "Products"
            -%}
          </p>
          <a
            href="{{ routes.search_url }}?q={{ predictive_search.terms }}&type=product&options[prefix]=last"
            class="button button--link button--sm px-0"
          >
            {%-
              render "render-translation",
              namespace: "sections.predictive_search",
              key: "see_all",
              fallback: "See all"
            -%}
            {%- render 'icons', icon: 'arrow', icon_class: 'w-3' -%}
          </a>
        </div>
        <ul class="predictive-search__list" role="listbox" aria-labelledby="predictive-search-products">
          {%- for product in predictive_search.resources.products -%}
            <li class="predictive-search__list-item mb-4" role="option">
              <a href="{{ product.url }}" class="predictive-search__list__link flex gap-4 text-inherit no-underline hover:opacity-70 active:opacity-100 states:no-underline" tabindex="-1">
                <div class="predictive-search__item__image w-16">
                  {%- render 'responsive-image',
                    image_object: product.featured_media,
                    max_width: 64,
                    aspect_ratio: "1/1"
                  -%}
                </div>
                <div class="predictive-search__item__content flex-1">
                  <p class="predictive-search__item__title mb-2 text-sm font-medium">
                    {{- product.title | highlight: predictive_search.terms -}}
                  </p>
                  <div class="predictive-search__item__price text-sm">
                    {% render 'render-price', product: product %}
                  </div>
                </div>
              </a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    {%- endif -%}

    {%- if predictive_search.resources.collections.size > 0 and settings.predictive_search_collections -%}
      <div class="predictive-search__group mb-4 border-b  last:mb-0">
        <div class="predictive-search__group__header mb-4 flex items-center justify-between">
          <p class="text-sm font-bold uppercase text-primary">
            {%-
              render "render-translation",
              namespace: "sections.predictive_search",
              key: "collections",
              fallback: "Collections"
            -%}
          </p>
        </div>
        <ul class="predictive-search__list" role="listbox" aria-labelledby="predictive-search-products">
          {%- for collection in predictive_search.resources.collections -%}
            <li class="predictive-search__list-item mb-4" role="option">
              <a href="{{ collection.url }}" class="predictive-search__list__link flex gap-4 text-inherit hover:opacity-70 active:opacity-100 states:no-underline" tabindex="-1">
                <div class="predictive-search__item__image w-16">
                  {%- render 'responsive-image',
                    image_object: collection.image,
                    max_width: 64,
                    aspect_ratio: "1/1"
                  -%}
                </div>
                <div class="predictive-search__item__content flex-1">
                  <p class="predictive-search__item__title text-sm font-medium">
                    {{- collection.title | highlight: predictive_search.terms -}}
                  </p>
                </div>
              </a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    {%- endif -%}

    {%- if predictive_search.resources.articles.size > 0 and settings.predictive_search_articles -%}
      <div class="predictive-search__group mb-4 border-b  last:mb-0">
        <div class="predictive-search__group__header mb-4 flex items-center justify-between">
          <p class="text-sm font-bold uppercase text-primary">
            {%-
              render "render-translation",
              namespace: "sections.predictive_search",
              key: "blog",
              fallback: "Blog"
            -%}
          </p>
          <a
            href="{{ routes.search_url }}?q={{ predictive_search.terms }}&type=article&options[prefix]=last"
            class="button button--link button--sm px-0 py-1"
          >
            {%-
              render "render-translation",
              namespace: "sections.predictive_search",
              key: "see_all",
              fallback: "See all"
            -%}
            {%- render 'icons', icon: 'arrow', icon_class: 'w-3' -%}
          </a>
        </div>
        <ul class="predictive-search__list" role="listbox" aria-labelledby="predictive-search-products">
          {%- for article in predictive_search.resources.articles -%}
            <li class="predictive-search__list-item mb-4" role="option">
              <a href="{{ article.url }}" class="predictive-search__list__link flex gap-4 text-inherit hover:opacity-70 active:opacity-100 states:no-underline" tabindex="-1">
                <div class="predictive-search__item__image w-16">
                  {%- render 'responsive-image',
                    image_object: article.image,
                    max_width: 64,
                    aspect_ratio: "1/1"
                  -%}
                </div>
                <div class="predictive-search__item__content flex-1">
                  <p class="predictive-search__item__title text-sm font-medium">
                    {{- article.title | highlight: predictive_search.terms -}}
                  </p>
                  <div class="predictive-search__item__price text-sm">
                    {% render 'render-price', product: product %}
                  </div>
                </div>
              </a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    {%- endif -%}

    {%- if predictive_search.resources.pages.size > 0 and settings.predictive_search_pages -%}
      <div class="predictive-search__group mb-4 border-b  last:mb-0">
        <div class="predictive-search__group__header mb-4 flex items-center justify-between">
          <p class="text-sm font-bold uppercase text-primary">
            {%-
              render "render-translation",
              namespace: "sections.predictive_search",
              key: "pages",
              fallback: "Pages"
            -%}
          </p>
          <a
            href="{{ routes.search_url }}?q={{ predictive_search.terms }}&type=page&options[prefix]=last"
            class="button button--link button--sm px-0 py-1"
          >
            {%-
              render "render-translation",
              namespace: "sections.predictive_search",
              key: "see_all",
              fallback: "See all"
            -%}
            {%- render 'icons', icon: 'arrow', icon_class: 'w-3' -%}
          </a>
        </div>
        <ul class="predictive-search__list" role="listbox" aria-labelledby="predictive-search-products">
          {%- for page in predictive_search.resources.pages -%}
            <li class="predictive-search__list-item mb-4" role="option">
              <a href="{{ page.url }}" class="predictive-search__list__link flex gap-4 text-inherit hover:opacity-70 active:opacity-100 states:no-underline" tabindex="-1">
                <div class="predictive-search__item__content flex-1">
                  <p class="predictive-search__item__title text-sm font-medium">
                    {{- page.title | highlight: predictive_search.terms -}}
                  </p>
                </div>
              </a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    {%- endif -%}

  {%- endcapture -%}

  <div class="predictive-search-results">
    <div class="predictive-search-results__inner mx-auto my-14 px-0 lg:w-full lg:max-w-md">
      {%- if results != blank -%}
        {{- results -}}
        {%- comment -%} Only show the go to /search with params when products, articles or pages is enabled. The normal /search page is not supporting collections. {%- endcomment -%}
        {%- if settings.predictive_search_products or settings.predictive_search_articles or settings.predictive_search_pages -%}
          {%- comment -%} Create types for show all link {%- endcomment -%}
          {% liquid
            if settings.predictive_search_products and settings.predictive_search_articles and settings.predictive_search_pages
              assign type_query = ''
            else
              assign types = ''
              if settings.predictive_search_products
                assign types = types | append: 'product'
              endif
              if settings.predictive_search_articles
                assign types = types | append: 'article,'
              endif
              if settings.predictive_search_pages
                assign types = types | append: 'page,'
              endif
              assign types = types | replace_last: ',', ''
              assign type_query = '&type=' | append: types
            endif
          %}
          <div class="predictive-search__group predictive-search__group--footer mb-4 mt-4">
            <a
              href="{{ routes.search_url }}?q={{ predictive_search.terms }}{{ type_query }}&options[prefix]=last"
              class="button button--link button--sm px-0"
              tabindex="-1">
              {%-
                render "render-translation",
                namespace: "sections.predictive_search",
                key: "button_submit_label",
                fallback: 'Search for "{{ html }}".',
                html: predictive_search.terms
              -%}
              {%- render 'icons', icon: 'arrow', icon_class: 'w-3' -%}
            </a>
          </div>
        {%- endif -%}
      {%- else -%}
        {%- render 'render-translation', namespace: 'sections.predictive_search', key: 'nothing_found_title', fallback: 'Nothing found' -%}
      {%- endif -%}
    </div>
  </div>
{%- endif -%}
