{%- comment -%} Import styles for this section {%- endcomment -%}
{%- liquid
  # Container styles
  render 'import-styles', file_name: 'component-swiper.css'

  # Styles based on swiper_indication setting
  case section.settings.swiper_indication
    when 'pagination'
      assign swiper_indication_class = ' swiper-pagination-active'
    when 'scrollbar'
      assign swiper_indication_class = ' swiper-scrollbar-active'
    else
      assign swiper_indication_class = ''
  endcase
-%}

{%- comment -%} Capture container data for slider {%- endcomment -%}
{%- capture swiper_options -%}
  data-options='
  {
    "slidesPerView": 1.2,
    "spaceBetween": 16,
    "slidesOffsetBefore": 16,
    "slidesOffsetAfter": 16,
    {% case section.settings.swiper_indication %}
      {% when 'pagination' %}
        "pagination": {
          "el": ".swiper-pagination-{{ section.id }}",
          "type": "bullets",
          "clickable": true
        },
      {% when 'scrollbar' %}
        "scrollbar": {
          "el": ".swiper-scrollbar-{{ section.id }}",
          "draggable": true
        },
    {% endcase %}
    {% if section.settings.swiper_navigation %}
      "navigation": {
        "nextEl": ".swiper-button-next-{{ section.id }}",
        "prevEl": ".swiper-button-prev-{{ section.id }}"
      },
    {% endif %}
    "breakpoints": {
      "480": {
        "slidesPerView": 2,
        "spaceBetween": 16,
        "slidesOffsetBefore": 16,
        "slidesOffsetAfter": 16
      },
      "768": {
        "slidesPerView": 3,
        "spaceBetween": 32,
        "slidesOffsetBefore": 32,
        "slidesOffsetAfter": 32
      },
      "1024": {
        "slidesPerView": 4,
        "spaceBetween": 32,
        "slidesOffsetBefore": 32,
        "slidesOffsetAfter": 32
      },
      "1441": {
        "slidesPerView": 4,
        "spaceBetween": 32,
        "slidesOffsetBefore": 0,
        "slidesOffsetAfter": 0
      }
    }
  }'
{%- endcapture -%}

{%- capture container_content -%}
  <swiper-slider>
    <div class="swiper overflow-visible">

      {%- comment -%} Render swiper navigation {%- endcomment -%}
      {%- if section.settings.swiper_navigation -%}
        <div class="content-wrapper absolute inset-x-4 inset-y-0 md:inset-x-8">
          <button
            class="swiper-button-prev swiper-button-prev-{{ section.id }} {% if section.settings.swiper_indication != '' %}translate-y-[-50%]{%- endif -%}"
            aria-label="{% render "render-translation", namespace: "accessibility", key: "previous_slide", fallback: "Previous slide" %}"
          >
            {%- render 'icons', icon: 'chevron-left', icon_class: 'w-5' -%}
          </button>
          <button
            class="swiper-button-next swiper-button-next-{{ section.id }} {% if section.settings.swiper_indication != '' %}translate-y-[-50%]{%- endif -%}"
            aria-label="{% render "render-translation", namespace: "accessibility", key: "next_slide", fallback: "Next slide" %}"
          >
            {%- render 'icons', icon: 'chevron-right', icon_class: 'w-5' -%}
          </button>
        </div>
      {%- endif -%}

      <div
        class="overflow-hidden {{ swiper_indication_class }} 2xl:px-[var(--content-wrapper-padding)]"
        data-swiper
        {{ swiper_options }}>
        <div class="swiper-wrapper" data-recommended-products>
          {%- if recommendations.performed? and recommendations.products_count > 0 -%}
            {%- for recommendation in recommendations.products -%}
              <div class="swiper-slide">
                {%- render 'product-card', product_object: recommendation -%}
              </div>
            {%- endfor -%}
          {%- else -%}
            {%- comment -%} Prefill collection slider to prevent CLS scores {%- endcomment -%}
            {%- assign coll = product.collections.first -%}
            {%- for col_product in coll.products limit: 6 -%}
              <div class="swiper-slide">
                {%- render 'product-card', product_object: col_product -%}
              </div>
            {%- endfor -%}
          {%- endif -%}
        </div>

        {%- comment -%} Import swiper indication {%- endcomment -%}
        {%- case section.settings.swiper_indication -%}
          {%- when 'pagination' -%}
            <div class="swiper-pagination swiper-pagination-{{ section.id }}"></div>
          {%- when 'scrollbar' -%}
            <div class="swiper-scrollbar swiper-scrollbar-{{ section.id }}"></div>
        {%- endcase -%}
      </div>

    </div>
  </swiper-slider>
{%- endcapture -%}

{%- comment -%} Capture container data {%- endcomment -%}
{%- capture container_data -%}
  {%- if product.id -%}
    data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&intent={{ section.settings.intent }}&limit={{ section.settings.limit }}"
  {%- endif -%}
{%- endcapture -%}

{%- comment -%} Set container classses and title {%- endcomment -%}
{%- liquid
  # Container class
  assign container_class = 'product-recommendations block overflow-hidden ' | append: section.settings.container_width
  if section.settings.color_scheme != blank
    assign container_class = container_class | append: ' container--background my-0 group/color-scheme ' | append: section.settings.color_scheme
  endif

  # Container title
  assign container_title = section.settings.heading | escape
-%}

{%- comment -%} Render the content {%- endcomment -%}
{%- render 'render-container-content',
  class: container_class,
  tag: 'product-recommendations',
  title: container_title,
  title_class: 'h4 product-recommendations__heading',
  content: container_content,
  content_class: 'p-0',
  data: container_data
-%}

{%- comment -%} Import javascript {%- endcomment -%}
<script src="{{ 'product-recommendations.js' | asset_url }}" type="module"></script>

{% schema %}
  {
    "name": "Product recommendations",
    "tag": "section",
    "limit": 1,
    "class": "product-recommendation-section",
    "settings": [
      {
        "type": "paragraph",
        "content": "Dynamic recommendations use order and product information to change and improve over time. [Learn more](https://help.shopify.com/en/themes/development/recommended-products)"
      },
      {
        "type": "select",
        "id": "container_width",
        "label": "Section content width",
        "default": "",
        "options": [
          {
            "value": "",
            "label": "Default"
          },
          {
            "value": "container--wide",
            "label": "Wide"
          }
        ]
      },
      {
        "type": "select",
        "id": "color_scheme",
        "default": "",
        "label": "Color scheme",
        "options": [
          {
            "value": "",
            "label": "Default"
          },
          {
            "value": "color-scheme color-scheme--gray",
            "label": "Gray"
          }
        ]
      },
      {
        "type": "text",
        "id": "heading",
        "default": "Recommendations",
        "label": "Heading"
      },
      {
        "type": "select",
        "id": "intent",
        "label": "Intent",
        "options": [
          {
            "value": "related",
            "label": "Related"
          },
          {
            "value": "complementary",
            "label": "Complementary"
          }
        ],
        "default": "related",
        "info": "Recommended products for each intent can be configured via the Shopify Search & Discovery app. [Read more](https://shopify.dev/themes/product-merchandising/recommendations#recommendation-intents) about recommendation intents."
      },
      {
        "type": "range",
        "id": "limit",
        "min": 2,
        "max": 10,
        "step": 1,
        "label": "Limit",
        "default": 8,
        "info": "Limits the number of results. The value can range from 1 to 10."
      },
      {
        "type": "header",
        "content": "Slider settings"
      },
      {
        "type": "select",
        "id": "swiper_indication",
        "label": "Slider indication",
        "default": "pagination",
        "options": [
          {
            "value": "",
            "label": "None"
          },
          {
            "value": "pagination",
            "label": "Pagination"
          },
          {
            "value": "scrollbar",
            "label": "Scrollbar"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "swiper_navigation",
        "label": "Show Navigation",
        "default": true
      }
    ],
    "presets": [
      {
        "name": "Product recommendations"
      }
    ],
    "enabled_on": {
      "templates": ["product"]
    }
  }
{% endschema %}
