{%- if cart != empty -%}
  {%- for item in cart.items -%}
    <div id="cart-notification-product-{{ item.id }}" class="cart-item">
      {%- if item.image != blank -%}
        {%- render 'responsive-image', image_object: item.image, alt: item.title, widths: '80, 160', aspect_ratio: '1/1', class: 'w-20 border' -%}
      {%- endif -%}
      <div class="flex grow flex-col">
        <p class="cart-notification-product__name my-0 font-bold">
          {{ item.product.title }}
        </p>

        {% comment %} Price {% endcomment %}
        {% render 'render-price', product: item.variant %}

        <div class="mt-auto">
          {%- unless item.product.has_only_default_variant -%}
            {%- for option in item.options_with_values -%}
              <dl class="cart-notification-product__option mb-0 text-xs {% if forloop.first %} mt-3{% endif %}">
                <dt class="m-0 inline-block">{{ option.name }}:</dt>
                <dd class="m-0 inline-block">
                  {{ option.value }}
                </dd>
              </dl>
            {%- endfor -%}
          {%- endunless -%}
          {%- if item.selling_plan_allocation != null -%}
            <p class="cart-notification-product__option mb-0 text-xs">
              {{- item.selling_plan_allocation.selling_plan.name -}}
            </p>
          {%- endif -%}
        </div>
      </div>
    </div>
  {%- endfor -%}
{%- endif -%}
