{% comment %}
  Handles all the account pages: customers/account, customers/activate_account, customers/addresses, customers/login, customers/order, customers/register, customers/reset_password.
{% endcomment %}

{%- assign h1_classes = 'block text-center text-sm uppercase tracking-widest mb-0' -%}
{%- assign h1_classes_bold = h1_classes | append: ' font-bold' -%}

<header class="account-header content-wrapper content-wrapper-padding my-14">
  {%- case request.page_type -%}
    {%- when 'customers/account' -%}
      <h1 class="{{ h1_classes_bold }}">
        {%- render 'render-translation', namespace: 'customer.account', key: 'details', fallback: 'Account details' -%}
      </h1>
    {%- when 'customers/activate_account' -%}
      <h1 class="{{ h1_classes_bold }}">
        {%- render 'render-translation', namespace: 'customer.activate_account', key: 'title', fallback: 'Activate account' -%}
      </h1>
    {%- when 'customers/addresses' -%}
      <div class="grid items-center">
        <div class="col-span-12 md:col-span-4">
          <a href="{{ routes.account_url }}" class="button button--link px-0">
            {%- render 'icons', icon: 'chevron-left', icon_class: 'w-4' -%}
            {%- render 'render-translation', namespace: 'customer.account', key: 'return', fallback: 'Return' %}
          </a>
        </div>
        <div class="col-span-12 md:col-span-4">
          <h1 class="{{ h1_classes_bold }}">
            {%- render 'render-translation', namespace: 'customer.addresses', key: 'title', fallback: 'Addresses' -%}
          </h1>
        </div>
      </div>
    {%- when 'customers/login' -%}
      <div class="flex justify-center gap-4 px-6 md:gap-10">
        <h1 class="{{ h1_classes_bold }} text-primary">
          {%- render 'render-translation', namespace: 'customer.login_page', key: 'title', fallback: 'Login' -%}
        </h1>
        <a
          href="{{ routes.account_register_url }}"
          class="{{ h1_classes }} text-inherit">
          {%- render 'render-translation', namespace: 'customer.register', key: 'title', fallback: 'Register' -%}
        </a>
      </div>
    {%- when 'customers/order' -%}
      <div class="grid items-center">
        <div class="col-span-12 md:col-span-4">
          <a href="{{ routes.account_url }}" class="button button--link px-0">
            {%- render 'icons', icon: 'chevron-left', icon_class: 'w-4' -%}
            {%- render 'render-translation', namespace: 'customer.account', key: 'return', fallback: 'Return' %}
          </a>
        </div>
        <div class="col-span-12 md:col-span-4">
          <h1 class="{{ h1_classes_bold }}">
            {%- render 'render-translation', namespace: 'customer.orders', key: 'details', fallback: 'Order details' -%}
          </h1>
        </div>
      </div>
    {%- when 'customers/register' -%}
      <div class="flex items-center justify-center gap-4 px-6 md:gap-10">
        <a
          href="{{ routes.account_login_url }}"
          class="{{ h1_classes }} text-inherit">
          {%- render 'render-translation', namespace: 'customer.login_page', key: 'title', fallback: 'Login' -%}
        </a>
        <h1 class="{{ h1_classes_bold }} text-primary">
          {%- render 'render-translation', namespace: 'customer.register', key: 'title', fallback: 'Register' -%}
        </h1>
      </div>
    {%- when 'customers/reset_password' -%}
      <h1 class="{{ h1_classes_bold }}">
        {%- render 'render-translation', namespace: 'customer.reset_password', key: 'title', fallback: 'Reset password' -%}
      </h1>
    {%- else -%}
  {%- endcase -%}
</header>
