{%- comment -%} Capture container content {%- endcomment -%}
{%- capture container_content -%}
  {%- if blog.comments_enabled? -%}
    {%- if article.comments_count > 0 -%}

      {%- comment -%} COmments {%- endcomment -%}
      {%- paginate article.comments by 5 -%}
        <div class="comments__wrapper space-y-4">
          {%- for comment in article.comments -%}
            {%- if comment.status == 'pending' and comment.content -%}
              {%- comment -%} Comment pending {%- endcomment -%}
              <article
                id="{{ comment.id }}"
                class="comment comments--pending bg-gray-100 p-4"
              >
                <header class="comment__heading font-bold">
                  {{- comment.author -}}
                </header>
                <main class="comment__content rte max-w-none text-sm">
                  {{- comment.content -}}
                </main>
              </article>
            {%- else  -%}
              {%- comment -%} Comment {%- endcomment -%}
              <article
                id="{{ comment.id }}"
                class="comment bg-gray-100 p-4"
              >
                <header class="comment__heading">
                  <span class="font-bold text-primary">
                    {{- comment.author -}}
                  </span>
                  <span class="italic text-secondary-300">
                    {{- comment.created_at | time_tag: format: 'month_year' -}}
                  </span>
                </header>
                <main class="comment__content rte max-w-none text-sm">
                  {{- comment.content -}}
                </main>
              </article>
            {%- endif -%}
          {%- endfor -%}

          {%- comment -%} Pagination {%- endcomment -%}
          {%- assign anchorId = '#Comments-' | append: article.id -%}
          {%- render 'pagination', paginate: paginate, anchor: anchorId -%}
        </div>
      {%- endpaginate -%}
    {%- endif -%}

    {%- comment -%} New comment form {%- endcomment -%}
    {%- form 'new_comment', article, class: 'form' -%}

      {%- comment -%} Form title  {%- endcomment -%}
      <h2 class="h3 text-center">
        {%- render 'render-translation',
          namespace: 'blogs.article',
          key: 'comment_form_title',
          fallback: 'Leave a comment'
        -%}
      </h2>

      {%- comment -%} Capture post form message {%- endcomment -%}
      {%- liquid
        capture post_message
          render 'render-translation', namespace: 'blogs.article', key: 'success', fallback: 'Your comment was posted successfully! Thank you!'
        endcapture
        if blog.moderated? and comment.status == 'unapproved'
          capture post_message
            render 'render-translation', namespace: 'blogs.article', key: 'success_moderated', fallback: 'Your comment was posted successfully. We will publish it in a little while, as our blog is moderated.'
          endcapture
        endif
      -%}

      {%- comment -%} Output form message {%- endcomment -%}
      {%- if form.posted_successfully? -%}
        <div class="mt-4" role="status">
          <p class="text-positive" tabindex="-1" autofocus>
            {{- post_message -}}
          </p>
        </div>
      {%- endif -%}

      {%- comment -%} Field name {%- endcomment -%}
      <div class="mt-4">
        <div class="field">
          <label class="field__label" for="CommentForm-author">
            {% render 'render-translation',
              namespace: 'blogs.article',
              key: 'name',
              fallback: 'Name'
            -%}
            <span aria-hidden="true">*</span>
          </label>
          <input
            type="text"
            name="comment[author]"
            value="{{ customer.first_name | capitalize }}"
            placeholder="{% render "render-translation", namespace: "blogs.article", key: "name", fallback: "Name" -%}"
            id="CommentForm-author"
            class="field__input"
            autocomplete="name"
            aria-required="true"
            {%- if form.errors contains 'author' -%}
              aria-invalid="true"
              aria-describedby="CommentForm-author-error"
            {%- endif -%}
          >
          {%- if form.errors contains 'author' -%}
            <div class="field__message field__message--error" id="CommentForm-author-error">
              {%- render 'render-translation',
                namespace: 'blogs.article',
                key: 'name',
                fallback: 'Name'
              -%}
              {{ form.errors.messages.author -}}
            </div>
          {%- endif -%}
        </div>

        {%- comment -%} Field email {%- endcomment -%}
        <div class="field">
          <label class="field__label" for="CommentForm-email">
            {%- render 'render-translation',
              namespace: 'blogs.article',
              key: 'email',
              fallback: 'E-mail'
            -%}
            <span aria-hidden="true">*</span>
          </label>
          <input
            type="email"
            name="comment[email]"
            value="{{ customer.email }}"
            placeholder="{% render "render-translation", namespace: "blogs.article", key: "email", fallback: "E-mail" -%}"
            id="CommentForm-email"
            class="field__input"
            autocomplete="email"
            autocapitalize="off"
            aria-required="true"
            {% if form.errors contains 'email' %}
              aria-invalid="true"
              aria-describedby="CommentForm-email-error"
            {% endif %}
          >
          {%- if form.errors contains 'email' -%}
            <div class="field__message field__message--error" id="CommentForm-email-error">
              {%- render 'render-translation',
                namespace: 'blogs.article',
                key: 'email',
                fallback: 'E-mail'
              %}
              {{ form.errors.messages.email -}}
            </div>
          {%- endif -%}
        </div>

        {%- comment -%} Field comment {%- endcomment -%}
        <div class="field">
          <label class="field__label" for="CommentForm-body">
            {%- render 'render-translation',
              namespace: 'blogs.article',
              key: 'message',
              fallback: 'Comment'
            -%}
            <span aria-hidden="true">*</span>
          </label>
          <textarea
            rows="5"
            name="comment[body]"
            placeholder="{% render "render-translation", namespace: "blogs.article", key: "message", fallback: "Comment" -%}"
            id="CommentForm-body"
            class="text-area field__input"
            aria-required="true"
            {% if form.errors contains 'body' %}
              aria-invalid="true"
              aria-describedby="CommentForm-body-error"
            {% endif %}
          >
              {{- form.body -}}
            </textarea>
          {%- if form.errors contains 'body' -%}
            <div class="field__message field__message--error" id="CommentForm-body-error">
              {%- render 'render-translation',
                namespace: 'blogs.article',
                key: 'message',
                fallback: 'Comment'
              %}
              {{ form.errors.messages.body -}}
            </div>
          {%- endif -%}
        </div>
      </div>

      {%- comment -%} Submit {%- endcomment -%}
      <div class="form__actions">
        {%- if blog.moderated? -%}
          <p class="article-comment-warning my-2 text-xs italic">
            {% render 'render-translation',
              namespace: 'blogs.article',
              key: 'moderated',
              fallback: 'Please note, comments need to be approved before they are published.'
            -%}
          </p>
        {%- endif -%}
        <input
          type="submit"
          class="button button--secondary"
          value="{% render "render-translation", namespace: "blogs.article", key: "post", fallback: "Post comment" -%}"
        >
      </div>
    {% endform %}

    {%- comment -%} Import styles for this section {%- endcomment -%}
    {%- render 'import-styles', file_name: 'component-form.css' -%}
  {%- endif -%}
{%- endcapture -%}

{%- comment -%} Check if there is content for the comments {%- endcomment -%}
{%- if container_content != blank -%}
  {% comment %} Capture container class {% endcomment %}
  {%- capture container_class -%}
    {{- class }} comments
  {%- endcapture -%}

  {%- assign container_title = 'blogs.article.comments' | t: count: article.comments_count -%}

  {%- comment -%} Render the content {%- endcomment -%}
  {%- render 'render-container-content',
    tag: 'section',
    content: container_content,
    class: container_class,
    title: container_title,
    title_class: 'h4 text-center',
    content_class: 'mx-auto max-w-screen-lg space-y-8'
  -%}
{%- endif -%}
