{%- comment -%} Capture container content {%- endcomment -%}
{%- capture container_content -%}
  {%- for block in section.blocks -%}
    {%- liquid
      assign show_type = ''
      if block.settings.blog_show_type
        assign show_type = 'show-type'
      endif
    -%}

    {%- case block.type -%}
        {% comment %} Title {% endcomment %}
      {%- when 'title' -%}

        <div
          class="article-header__information {{ show_type }} mx-auto grid max-w-screen-lg items-center gap-y-6 gap-x-base md:text-center"
          {{ block.shopify_attributes }}
        >
          {% comment %} Tag {% endcomment %}
          {%- if block.settings.blog_show_type -%}
            {% for tag in article.tags %}
              {%- if tag contains 'type:' or tag contains 'Type:' -%}
                {%- assign article_type = tag | downcase | remove: 'type:' -%}
              {%- endif -%}
              <p class="article-header__type text-sm font-medium uppercase text-primary">
                {{ article_type }}
              </p>
            {% endfor %}
          {%- endif -%}

          {% comment %} Title {% endcomment %}
          <h1 class="article-header__title">
            {{ article.title | escape }}
          </h1>

          <div class="article-header__author-and-date flex items-center justify-between gap-4 md:justify-center">
            {% comment %} Author {% endcomment %}
            {%- if block.settings.blog_show_author -%}
              <address class="article-header__author text-sm font-medium not-italic">
                {{ 'blogs.article.written_by' | t: author: article.author }}
              </address>
            {%- endif -%}

            {%- if block.settings.blog_show_author and block.settings.blog_show_date -%}
              <p class="hidden text-secondary-200 md:block">|</p>
            {%- endif -%}

            {% comment %} Date {% endcomment %}
            {%- if block.settings.blog_show_date -%}
              <p class="article-header__date text-secondary-200">
                {{ article.published_at | time_tag: format: 'day_month_year' }}
              </p>
            {%- endif -%}
          </div>
        </div>

        {% comment %} Featured image {% endcomment %}
      {%- when 'featured_image' -%}
        {%- assign article_title = article.title | escape -%}
        {%- if article.image -%}
          <div
            class="article-header__featured-image"
            {{ block.shopify_attributes }}
          >
            {%- render 'responsive-image',
              image_object: article.image,
              alt: article.title,
              max_width: 1360,
              lazy: false,
              sizes: '(min-width: 1440px) 1360px, 100vw',
              class: 'max-w-full h-auto block mx-auto',
              alt: article_title,
              title: article_title
            -%}
          </div>
        {%- endif -%}
    {%- endcase -%}
  {%- endfor -%}
{%- endcapture -%}

{% comment %} Capture container class {% endcomment %}
{%- capture container_class -%}
  {{- class }} article-header space-y-8
{%- endcapture -%}

{%- comment -%} Render the content {%- endcomment -%}
{%- render 'format-container', tag: 'header', class: container_class, content_class: 'space-y-8', content: container_content -%}
