{% comment %}
  # Parameters:
    article:            { Object }  | Required  | The article object
    class:              { String }  | Optional  | Add a class to the article element
    image_max_width:    { String }  | Optional  | The max width of the image
    image_sizes:        { String }  | Optional  | The sizes of the image
    image_aspect_ratio: { String }  | Optional  | The aspect ratio of the image
    highlight:     { Boolean } | Optional  | If the most recent article has a metafield set for article.image, then it's treated as a 'highlight' and displayed with the image on the blog overview page.
    show_image:         { Boolean } | Optional  |
    show_category:          { Boolean } | Optional  |
    show_excerpt:       { Boolean } | Optional  |
    show_date:          { Boolean } | Optional  |
    show_author:        { Boolean } | Optional  |

  Usage:
    {%- render 'article-card', article: article -%}

  Defaults:
{% endcomment %}

{%- liquid
  unless highlight
    assign highlight = false
  endunless

  unless image_aspect_ratio != blank
    assign image_aspect_ratio = '4/3'
  endunless

  unless image_lazy != null
    assign image_lazy = true
  endunless

  unless image_sizes != blank
    assign image_sizes = '(min-width: 1440px) 432px, (min-width: 1024px) 33vw, (min-width: 480px) 50vw, 100vw'
  endunless

  unless image_max_width != blank
    assign image_max_width = 464
  endunless

  unless show_image != null
    assign show_image = settings.show_article_image
  endunless

  unless show_category != null
    assign show_category = settings.show_article_category
  endunless

  unless show_excerpt != null
    assign show_excerpt = settings.show_article_excerpt
  endunless

  unless show_date != null
    assign show_date = settings.show_article_date
  endunless

  unless show_author != null
    assign show_author = settings.show_article_author
  endunless

  assign image_object = article.image
  if highlight and article.metafields.article.image.value != blank
    assign image_object = article.metafields.article.image.value
  endif

  if highlight
    assign class = class | append: ' article-card--highlighted'
  endif
-%}

{%- capture read_more_button -%}
  <span>
    {%- render 'render-translation', namespace: 'blogs.article', key: 'read_more', fallback: 'Read more' -%}
    <span class="sr-only">: {{ article.title }}</span>
  </span>
  {%- render 'icons', icon: 'arrow', icon_class: 'w-4' -%}
{%- endcapture -%}

{%- capture article_excerpt -%}
  <p class="article-card__excerpt mb-0 line-clamp-3 text-sm">
    {{- article.excerpt | strip_html -}}
  </p>
{%- endcapture -%}

{%- liquid
  capture article_date
    echo article.published_at | time_tag: format: 'day_month_year'
  endcapture

  capture article_author
    render 'render-translation', namespace: 'blogs.article', key: 'written_by', author: article.author, fallback: article.author
  endcapture
-%}

{%- comment -%} Capture tags, don't show category for highlighted items {%- endcomment -%}
{%- capture tag_categories -%}
  {%- liquid
    if show_category
      for tag in article.tags
        assign tag_downcase = tag | downcase
        if tag_downcase contains 'category:'
          assign category_name = tag | downcase | split: ':' | last

          # Used for regular article cards
          capture tags_as_badges
            echo tags_as_badges
            echo category_name | link_to_tag: tag | replace: '<a', '<a tabindex="-1" class="badge capitalize no-underline states:scale-110"'
          endcapture

          # Used for highlighted article
          capture tags_as_string
            echo tags_as_string
            echo category_name | capitalize | upcase | link_to_tag: tag | replace: '<a', '<a tabindex="-1" class="label no-underline inverted"' | prepend: ' | '
          endcapture
        endif
      endfor
    endif
  -%}

  {% comment %} Add a wrapper {% endcomment %}
  {%- if tags_as_badges != blank -%}
    <div class="product-card__badges flex-gap-1 badges absolute z-10 flex {% if image_object -%}left-4 top-4{%- endif -%}">
      {{ tags_as_badges }}
    </div>
  {%- endif -%}
{%- endcapture -%}

{%- comment -%} Render cart {%- endcomment -%}
<article class="article-card flex flex-col gap-y-4 {{ class }} {% unless highlight -%}motion-safe:animate-fadein motion-safe:opacity-0{%- endunless -%}">
  {% comment %} Highlighted card {% endcomment %}
  {%- if highlight -%}
    <div class="relative {% if settings.show_highlight_image -%}flex overflow-hidden rounded-md p-6 lg:p-10 {{ settings.ha_position_horizontal }} {{ settings.ha_position_vertical }} {{ settings.ha_text_align }} {{ settings.ha_min_ratio_mobile }} {{ settings.ha_min_ratio_tablet }} {{ settings.ha_min_ratio_desktop }}{%- endif -%}">
      {%- if settings.show_highlight_image -%}
        {% comment %} Image {% endcomment %}
        <div class="article-card__image absolute inset-0 -z-10 flex-none bg-black">
          {%- liquid
            # Image
            assign image_classes = 'article-card__image w-full h-full object-cover group-hover/article-card:scale-105 duration-300 motion-safe:animate-zoomout motion-safe:opacity-0 motion-safe:scale-125 transition-all'
            if settings.show_highlight_image
              render 'responsive-image', image_object: image_object, alt: article.title, max_width: 1360, sizes: '(min-width: 1440px) 1360px, 100vw', class: image_classes
            endif
          -%}
        </div>
      {%- endif -%}

      {% comment %} Content {% endcomment %}
      <div class="article-card__content-wrapper">
        <div class="article-card__content flex flex-col gap-y-4 {% if settings.show_highlight_image -%}max-w-full p-6 md:max-w-lg{%- endif %} {{ settings.ha_content_color_scheme }} opacity-95 backdrop-blur-md">
          <header class="article-card__header flex flex-col gap-y-2">
            {% comment %} Category and date {% endcomment %}
            {%- if settings.show_highlight_category or settings.show_highlight_date -%}
              <div class="has-gap-4 flex items-center justify-between">
                {% comment %} Category {% endcomment %}
                {%- if settings.show_highlight_category and tags_as_string != blank -%}
                  {%- assign categories = tags_as_string | remove_first: '|' | strip -%}
                  {{- categories -}}
                {%- endif -%}

                {% comment %} Date {% endcomment %}
                {%- if settings.show_highlight_date -%}
                  <p class="article-card__published_at mb-0 text-sm italic">
                    {{- article_date -}}
                  </p>
                {%- endif -%}
              </div>
            {%- endif -%}

            {% comment %} Title {% endcomment %}
            <a href="{{ article.url }}" class="no-underline">
              <h2 class="article-card__title h4 mb-0">
                {{- article.title -}}
              </h2>
            </a>

            {% comment %} Author {% endcomment %}
            {%- if settings.show_highlight_author -%}
              <span class="article-card__author opacity-50 contrast-more:opacity-100">
                {{- article_author -}}
              </span>
            {%- endif -%}
          </header>

          {% comment %} Excerpt {% endcomment %}
          {%- if settings.show_highlight_excerpt and article.excerpt != blank -%}
            {{- article_excerpt -}}
          {%- endif -%}

          {% comment %} Read more {% endcomment %}
          <footer>
            <a href="{{ article.url }}" class="button">
              {{- read_more_button -}}
            </a>
          </footer>
        </div>
      </div>
    </div>

    {% comment %} Default card {% endcomment %}
  {%- else -%}
    <header class="article-card__header relative flex flex-col gap-y-4">
      {% comment %} Article category {% endcomment %}
      {%- if tag_categories != blank -%}
        {{- tag_categories -}}
      {%- endif -%}

      {% comment %} Article image and title {% endcomment %}
      <a
        href="{{ article.url }}"
        class="article-card__link group/article-card relative block overflow-hidden rounded-md"
        tabindex="-1">
        {%- if show_image -%}
          <div class="article-card__image-wrapper">
            {%- render 'responsive-image',
              image_object: image_object,
              alt: article.title,
              aspect_ratio: image_aspect_ratio,
              max_width: image_max_width,
              sizes: image_sizes,
              class: 'article-card__image w-full group-hover/article-card:scale-105 duration-300 transition-all object-cover'
            -%}
          </div>
        {%- endif -%}
      </a>
      <div class="flex flex-col gap-y-1">
        <a
          href="{{ article.url }}"
          class="article-card__title text-text-default no-underline transition-colors states:text-primary"
          tabindex="-1">
          <h2 class="h5 mb-0">
            {{- article.title -}}
          </h2>
        </a>
        {%- if show_date or show_author -%}
          <p class="article-card__meta mb-0 flex flex-wrap gap-1 text-sm leading-6 opacity-50 contrast-more:opacity-100">
            {%- if show_date -%}
              <span class="article-card__published-at">
                {{- article_date -}}
              </span>
            {%- endif -%}
            {%- if show_date and show_author -%}
              <span>|</span>
            {%- endif -%}
            {%- if show_author -%}
              <span class="article-card__author">
                {{- article_author -}}
              </span>
            {%- endif -%}
          </p>
        {%- endif -%}
      </div>
    </header>

    {% comment %} Excerpt {% endcomment %}
    {%- if show_excerpt and article.excerpt.size > 0 -%}
      {{- article_excerpt -}}
    {%- endif -%}

    {% comment %} Read more {% endcomment %}
    <footer>
      <a href="{{ article.url }}" class="button button--primary button--xs">
        {{- read_more_button -}}
      </a>
    </footer>
  {%- endif -%}
</article>
