{% comment %} Button aria label {% endcomment %}
{%- liquid
  capture open_cart_drawer_string
    render 'format-translation', namespace: 'general.cart', key: 'open_drawer', fallback: 'Open cart drawer'
  endcapture

  capture cart_item_count
    render "format-translation", namespace: "sections.header", key: "cart_count", count: cart.item_count, fallback: "{{ count }} item(s) in cart"
  endcapture

  assign aria_label = cart_item_count | append: '. ' | append: open_cart_drawer_string

  comment
    Cart icon
  endcomment
  assign cart_icon = 'cart_empty'
  if cart != empty
    assign cart_icon = 'cart'
  endif
-%}

{% comment %} The actual cart icon {% endcomment %}
<cart-icon-bubble class="cart-icon-bubble flex">
  <a
    id="cart-icon-bubble"
    class="header__icon relative px-1 py-3 text-inherit states:text-primary"
    href="{{- routes.cart_url -}}"
    {%- if template.name != 'cart' -%}
      aria-controls="cart-drawer"
      aria-haspopup="dialog"
    {%- endif -%}
    aria-label="{{- aria_label -}}"
    data-cart-icon-bubble
  >
    {%- render 'global-icon', icon: cart_icon, icon_class: 'w-6' -%}

    <div class="cart-icon-bubble__count absolute right-0 top-2 flex h-4 min-w-[16px] items-center justify-center rounded-full bg-secondary px-1 text-2xs leading-4 text-white empty:hidden{% if cart == empty %} hidden{% endif -%}">
      <span class="cart-count">
        {{- cart.item_count -}}
      </span>
      <span class="sr-only">
        {{- 'sections.header.cart_count' | t: count: cart.item_count -}}
      </span>
    </div>
  </a>
</cart-icon-bubble>

<script src="{{ 'cart-icon-bubble.js' | asset_url }}" type="module"></script>
