{% comment %}
  Card item

  # Standard parameters
    item          | Object  | Required | line_item

  Usage:
    {%- render 'cart-item', item: line_item -%}
{% endcomment %}

{%- liquid
  unless image_size
    assign image_size = 96
  endunless

  unless aspect_ratio
    assign aspect_ratio = '3/4'
  endunless

  unless class
    assign class = 'object-contain'
  endunless
-%}

<div
  class="cart-item relative mb-6 flex gap-x-4 gap-y-0 border-b pb-6 last:mb-0 last:border-none"
  id="CartItem-{{ item.index | plus: 1 }}">
  {%- comment -%} Product image {%- endcomment -%}
  <a
    href="{{ item.product.url }}"
    class="cart-item__media block w-24 shrink-0 cursor-pointer"
    title="{{ item.product.title }}">
    {%- if item.image -%}
      {%- render 'responsive-image', image_object: item.image, alt: item.title, max_width: image_size, aspect_ratio: aspect_ratio, class: class -%}
    {%- endif -%}
  </a>

  <div class="cart-item__content flex grow flex-col">
    {%- comment -%} Title and Price and item errors {%- endcomment -%}
    <div class="cart-item__title {% if settings.show_cart_remove -%}pe-12{%- endif -%}">
      {%- comment -%} Title {%- endcomment -%}
      <a
        href="{{ item.product.url }}"
        class="break-words text-sm font-bold text-inherit">
        {{- item.product.title | escape -}}
      </a>

      <div class="cart-item__prices">
        {% render 'render-price', product: item.variant %}
      </div>

      {%- comment -%} Cart errors {%- endcomment -%}
      <p class="cart-item__error" id="Line-item-error-{{ item.index | plus: 1 }}">
        <span class="cart-item__error-text mt-2 text-xs leading-3 text-danger empty:hidden"></span>
      </p>
    </div>

    <div class="mt-auto flex flex-wrap justify-between gap-2 md:flex-nowrap md:gap-4">
      {%- comment -%} Variants and properties {%- endcomment -%}
      <div class="cart-item__meta self-end text-xs">
        {%- if settings.show_cart_vendor -%}
          <p class="product-option inline-block text-xs">
            {{- item.product.vendor -}}
          </p>
        {%- endif -%}

        {%- if item.product.has_only_default_variant == false or item.properties.size != 0 or item.selling_plan_allocation != null -%}
          <dl>
            {%- if item.product.has_only_default_variant == false -%}
              {%- for option in item.options_with_values -%}
                <div class="product-option mt-0.5 flex gap-1 text-xs">
                  <dt>{{ option.name }}:</dt>
                  <dd>{{ option.value }}</dd>
                </div>
              {%- endfor -%}
            {%- endif -%}

            {%- for property in item.properties -%}
              {%- assign property_first_char = property.first | slice: 0 -%}
              {%- if property.last != blank and property_first_char != '_' -%}
                <div class="product-option mt-0.5 flex gap-1 text-xs">
                  <dt>{{ property.first }}:</dt>
                  <dd>
                    {%- if property.last contains '/uploads/' -%}
                      <a href="{{ property.last }}" target="_blank">
                        {{ property.last | split: '/' | last }}
                      </a>
                    {%- else -%}
                      {{ property.last }}
                    {%- endif -%}
                  </dd>
                </div>
              {%- endif -%}
            {%- endfor -%}
          </dl>

          {% if item.selling_plan_allocation != null %}
            <p class="product-option mt-1.5 text-xs">
              {{- item.selling_plan_allocation.selling_plan.name -}}
            </p>
          {% endif %}
        {%- endif -%}
      </div>

      {%- comment -%} Quantity. When only one item is in the cart, add trash icon for minus {%- endcomment -%}
      <div class="cart-item__quantity flex max-w-[7.5rem] justify-self-end">
        {%- comment %} Quantity input {%- endcomment %}
        {%- assign qty_id = item.index | plus: 1 -%}
        {%- render 'quantity-input', id: qty_id, value: item.quantity, qty_product: item.product, type: 'cart' -%}

        {%- comment -%} Cart remove {%- endcomment -%}
        {%- if settings.show_cart_remove -%}
          <cart-remove-button
            class="inline-block"
            id="Remove-{{ item.index | plus: 1 }}"
            data-index="{{ item.index | plus: 1 }}"
            type="button">
            <a
              href="{{ item.url_to_remove }}"
              class="button button--outline button--sm absolute -top-2 end-0 h-9 w-9 rounded-full border-0"
              aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}">
              {% render 'icons', icon: 'trash', icon_class: 'w-4' %}
            </a>
          </cart-remove-button>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>
