{% comment %} Button aria label {% endcomment %}
{%- liquid
  capture open_cart_drawer_string
    render 'format-translation', namespace: 'general.cart', key: 'open_drawer', fallback: 'Open cart drawer'
  endcapture

  capture cart_item_count
    render "format-translation", namespace: "sections.header", key: "cart_count", count: cart.item_count, fallback: "{{ count }} item(s) in cart"
  endcapture

  assign aria_label = cart_item_count | append: '. ' | append: open_cart_drawer_string

  assign classes = 'header__icon relative'
  if request.page_type == 'cart'
    assign classes = classes | append: ' pointer-events-none active'
  endif
-%}

{% comment %} The actual cart icon {% endcomment %}
<cart-icon-bubble class="cart-icon-bubble no-js-hidden -mr-3 flex">
  <class-toggle-component
    data-options='
      {
        "classToToggle": "cart-drawer-is-open",
        "ariaExpanded": true
      }
    '>
    {%- if settings.enable_cart_drawer_section -%}
      <button
        type="button"
        id="cart-icon-bubble"
        class="{{ icon_classes }} {{ classes }}"
        aria-controls="cartDrawer"
        aria-label="{{- aria_label -}}"
        aria-haspopup="dialog"
        aria-expanded="false"
        data-cart-icon-bubble>
    {%- else -%}
      <a
        id="cart-icon-bubble"
        class="{{ classes }}"
        href="{{- routes.cart_url -}}"
        {%- if template.name != 'cart' -%}
          aria-controls="cartDrawer"
          aria-haspopup="dialog"
        {%- endif -%}
        aria-label="{{- aria_label -}}"
        data-cart-icon-bubble>
    {%- endif -%}

    {%- render 'icons', icon: 'cart', icon_class: 'w-6' -%}
    <span class="cart-icon-bubble__count button active absolute right-2 top-2 flex h-4 min-w-[16px] items-center justify-center rounded-full p-0 text-2xs leading-none empty:hidden{% if cart == empty %} hidden{% endif -%}">
      <span class="cart-count">
        {{- cart.item_count -}}
      </span>
      <span class="sr-only">
        {{- 'sections.header.cart_count' | t: count: cart.item_count -}}
      </span>
    </span>

    {%- if settings.enable_cart_drawer_section -%}
      </button>
    {%- else -%}
      </a>
    {%- endif -%}
  </class-toggle-component>
</cart-icon-bubble>

{%- comment -%} No-js cart link {%- endcomment -%}
<a href="{{ routes.cart_url }}" class="no-js[visible] hidden">
  <span class="visually-hidden">
    {% render 'format-translation', namespace: 'general.cart', key: 'view', count: cart.item_count, fallback: 'View cart' %}
  </span>
  {%- render 'icons', icon: 'cart' -%}
</a>

{% comment %} <script src="{{ 'cart-icon-bubble.js' | asset_url }}" type="module"></script> {% endcomment %}
