{%- comment -%}
  Main collection product grid
  Accepts:
  - section:         {Object} main-collection.liquid section object (required)
{%- endcomment -%}

{%- assign container_title = section.settings.title | escape -%}

{% comment %} Loader animation {% endcomment %}
{%- capture loading_overlay -%}
  <div class="loading-overlay fixed inset-0 z-50 hidden w-full items-center justify-center opacity-70 bg-color-default group-[.loading]/collection:flex" data-loader>
    {%- render 'icons', icon: 'spinner', icon_class: 'w-12 animate-spin' -%}
  </div>
{%- endcapture -%}

{%- comment -%} Collection content {%- endcomment -%}
{%- capture container_content -%}
  <div
    id="CollectionProductGrid"
    class="group/collection"
    data-collection-product-grid
  >
    {{ loading_overlay }}
    <div
      class="collection relative"
      id="main-collection-product-grid"
      data-collection-handle="{{ collection.handle }}"
      data-id="{{ section.id }}"
    >
      {%- if collection.products.size == 0 -%}
        {% comment %} No products found {% endcomment %}
        <div class="title-wrapper text-center">
          <p class="title title--primary">
            {%- render 'render-translation',
              namespace: 'sections.collection_template',
              key: 'empty',
              fallback: 'No products found.'
            -%}
          </p>
          <p>
            {{
              'sections.collection_template.use_fewer_filters_html'
              | t: link: collection.url, class: ''
            }}
          </p>
        </div>
      {%- else -%}
        {%- paginate collection.products by settings.products_per_page -%}
          {%- render 'product-grid',
            collection: collection,
            paginate: paginate,
            view: section.settings.pagination_view,
            product_card_extra_id: section.id
          -%}

          {%- if paginate.pages > 1 and section.settings.pagination_view == '' -%}
            {%- render 'pagination', paginate: paginate, anchor: '', class: '' -%}
          {%- endif -%}
        {%- endpaginate -%}

        {%- if section.settings.show_back_to_top == true -%}
          {%- render 'back-to-top' -%}
        {%- endif -%}
      {%- endif -%}

    </div>
  </div>
{%- endcapture -%}

{%- render 'render-container-content', class: 'collection-wrapper mt-0', title: container_title, content: container_content -%}

{%- comment -%} Import javascript {%- endcomment -%}
{%- if section.settings.pagination_view == 'load-more' -%}
  <script src="{{ 'load-more.js' | asset_url }}" defer></script>
{%- endif -%}
<script src="{{ 'product-card.js' | asset_url }}" type="module"></script>
<script src="{{ 'back-to-top.js' | asset_url }}" defer></script>
