{%- comment -%}
  Main collection product grid
  Accepts:
  - section:         {Object} main-collection.liquid section object (required)
{%- endcomment -%}

{% comment %} Loader animation, keep both the flex and hidden class because we toggle it to show the loader {% endcomment %}
{%- capture loading_overlay -%}
  <div class="loading-overlay absolute inset-0 z-50 flex hidden w-full items-center justify-center bg-bg-default opacity-70" data-loader>
    {%- render 'icons', icon: 'spinner', icon_class: 'w-6 animate-spin' -%}
  </div>
{%- endcapture -%}

{%- comment -%} Collection content {%- endcomment -%}
{%- capture container_content -%}
  <div
    id="CollectionProductGrid"
    class="group/collection relative"
  >
    {{ loading_overlay }}
    <div
      class="collection relative"
      id="main-collection-product-grid"
      data-collection-product-grid
      data-collection-handle="{{ collection.handle }}"
      data-id="{{ section.id }}"
    >
      {%- liquid
        paginate collection.products by settings.products_per_page
          render 'product-grid', collection: collection, paginate: paginate, pagination_type: settings.pagination_view, product_card_extra_id: section.id

          if paginate.pages > 1 and settings.pagination_view == ''
            render 'pagination', paginate: paginate, anchor: '', class: ''
          endif
        endpaginate
      -%}
    </div>
  </div>
{%- endcapture -%}

{%- liquid
  # Container footer
  capture container_footer
    if section.settings.show_back_to_top
      render 'back-to-top'
    endif
  endcapture
-%}

{%- render 'render-container-content', class: 'collection-wrapper mt-0', title: section.settings.title, content: container_content, footer_content: container_footer -%}

{%- comment -%} Import javascript {%- endcomment -%}
{%- if settings.pagination_view == 'load-more' -%}
  <script src="{{ 'load-more.js' | asset_url }}" defer></script>
{%- endif -%}
<script src="{{ 'back-to-top.js' | asset_url }}" defer></script>
