{%- comment -%}
  Renders the country picker for the localization form

  Accepts:
    - localPosition: pass in the position in which the form is coming up to create specific IDs
{%- endcomment -%}

<div class="localization-form relative">
  <button
    type="button"
    class="localization-form__button flex items-center gap-4 whitespace-nowrap bg-white p-2"
    aria-expanded="false"
    aria-controls="{{ localPosition }}List"
    aria-describedby="{{ localPosition }}Label"
  >
    <span>
      {{- localization.country.currency.iso_code }}
      {{ localization.country.currency.symbol }} | {{ localization.country.name -}}
    </span>
    {% render 'global-icon', icon: 'chevron-down' %}
  </button>
  <div
    class="localization-form__list-wrapper absolute top-10 bg-white p-2"
    hidden
    data-localization-list
  >
    <ul id="{{ localPosition }}List" role="list" class="localization-form__list list-unstyled">
      {%- for country in localization.available_countries -%}
        {%- if localization.country.currency.iso_code != country.currency.iso_code -%}
          <li class="localization-form__item" tabindex="-1">
            <a
              class="link link--text localization-form__link caption-large focus-inset{% if country.iso_code == localization.country.iso_code %} localization-form__link--active{% endif %}"
              href="#"
              {% if country.iso_code == localization.country.iso_code %}
                aria-current="true"
              {% endif %}
              data-value="{{ country.iso_code }}"
            >
              <span class="localization-form__currency">
                {{- country.currency.iso_code }}
                {{ country.currency.symbol }} |</span
              >
              {{ country.name }}
            </a>
          </li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
  </div>
</div>
<input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
