{%- comment -%}
  Output price filter

  Accepts:
    - filter: {Object} filter object returned from collection.filters. (required)
    - filter_index: forloop.index from the collection.filters loop. (required)
{%- endcomment -%}

{% comment %}
  Unused but maybe handy in the future
  assign currencies_using_comma_decimals = 'ANG,ARS,BRL,BYN,BYR,CLF,CLP,COP,CRC,CZK,DKK,EUR,HRK,HUF,IDR,ISK,MZN,NOK,PLN,RON,RUB,SEK,TRY,UYU,VES,VND' | split: ','
  assign uses_comma_decimals = false
  if currencies_using_comma_decimals contains cart.currency.iso_code
    assign uses_comma_decimals = true
  endif
{% endcomment %}
{%- liquid
  assign range_max = filter.max_value.value | default: filter.range_max
  assign value_min = filter.min_value.value | default: 0
  assign value_max = filter.max_value.value | default: filter.range_max
-%}

{%- capture summary_content -%}
  <price-range class="filter-options__price relative flex flex-col">
    <div class="range-slider relative mb-4 h-4 w-full before:absolute before:top-1.5
      before:block before:h-1.5 before:w-full before:bg-gray-100 before:content-empty
      ">
      <label class="sr-only" for="filter-{{ filter.label | handleize }}-{{ filter_index }}-min">{{ filter.label }} min</label>
      <input id="filter-{{ filter.label | handleize }}-{{ filter_index }}-min"
        type="range"
        name="{{ filter.min_value.param_name }}"
        class="min-price top-1.5"
        value="{{ value_min | divided_by: 100 | ceil }}"
        min="0"
        max="{{ range_max | divided_by: 100 | ceil }}"
        step="1" data-price-range-min-input>
      <label class="sr-only" for="filter-{{ filter.label | handleize }}-{{ filter_index }}-max">{{ filter.label }} max</label>
      <input
        id="filter-{{ filter.label | handleize }}-{{ filter_index }}-max"
        type="range"
        name="{{ filter.max_value.param_name }}"
        class="max-price top-1.5"
        value="{{ value_max | divided_by: 100 | ceil }}"
        min="0"
        max="{{ range_max | divided_by: 100 | ceil }}"
        step="1" data-price-range-max-input>
    </div>
    <div class="range-index flex justify-between" data-price-range-values>
      <span data-price-range-min>{{ filter.min_value.value | default: 0 | money_with_currency }}</span>
      <span data-price-range-max>{{ filter.max_value.value | default: filter.range_max | money_with_currency }}</span>
    </div>
  </price-range>
{%- endcapture -%}

{%- render 'filter-group', summary_content: summary_content, label: filter.label, filter_index: filter_index, collapsible: collapsible -%}
