{%- liquid
  comment
    Render linklist

    Accepts:
    - linklist:                     {Object} The list to render (required).
    - prefix:                       {String} Prefix for the linklist (optional).
    - collapsible:                  {Boolean} Whether the linklist is collapsible (optional).

    Example:
      render linklist,
        linklist: block.settings.menu,
        collapsible: false
  endcomment

  assign data_collapsible_group = ''
  assign data_collapsible_target = ''
  assign data_collapsible_trigger = ''

  if collapsible
    assign data_collapsible_group = 'data-collapsible-group'
    assign data_collapsible_target = 'data-collapsible-target'
    assign data_collapsible_trigger = 'data-collapsible-trigger'
  endif

  assign menu = linklists[linklist]
  assign level_1_class = 'level-1 basis-full md:basis-auto shrink-0'

  assign link_class = 'inline-flex py-2 md:pt-0 text-inherit text-start'
  assign link_class_with_hover = link_class | append: ' no-underline states:no-underline'
  assign link_active_class = 'active'

  assign collapsible_button_class = 'flex items-center gap-2'

  assign grid_cols = 'md:grid-cols-' | append: menu.links.size
  if menu.links.size > 3
    assign grid_cols = 'md:grid-cols-3'
  endif
-%}

{%- if menu.links.size > 0 -%}
  {%- comment -%} Level 1 {%- endcomment -%}
  <ul class="footer-menu level-1 grid {{ grid_cols }} list-none gap-base">
    {%- for level_1_link in menu.links -%}
      {%- comment -%} Get link and fix deep link to native filters {%- endcomment -%}
      {%- liquid
        assign link_1_url = level_1_link.url
        if link_1_url contains 'collections' and link_1_url contains 'filter'
          assign link_1_url = link_1_url | replace: '%3F', '?'
        endif

        # if link is active
        assign level_1_is_active = false
        if level_1_link.current
          assign level_1_is_active = true
        endif
      -%}

      {%- if level_1_link.links == blank -%}
        {%- comment -%} Level 1 without submenu {%- endcomment -%}
        <li
          class="footer-menu__item {{ level_1_class }}">
          <a
            href="{{ link_1_url }}"
            class="footer-menu__link level-1 {{ link_class_with_hover }} {% if level_1_is_active -%}{{ link_active_class }}{%- endif %}"
            {%- if level_1_link.current %}
              aria-current="page"
            {% endif %}>
            {{ level_1_link.title }}
          </a>
        </li>
      {%- else -%}
        {%- comment -%} Level 1 with submenu {%- endcomment -%}
        <li
          class="footer-menu__item group level-1 {{ level_1_class }}"
          {{ data_collapsible_group }}>

          {%- liquid
            # Show button as active when child link is available
            if level_1_link.current
              assign level_1_is_active = true
            endif

            # create the element
            assign start_el = 'span'
            assign end_el = 'span'
            assign has_link = false
            if link_1_url != '#'
              assign start_el = 'a href="' | append: link_1_url | append: '"'
              assign end_el = 'a'
              assign has_link = true
            endif
          -%}

          {%- capture level_1_link_markup -%}
            <{{ start_el }} class="footer-menu__link level-1 {{ collapsible_button_class }} {% if has_link -%}level-1 font-bold {{ link_class_with_hover }}{%- else -%}{{ link_class }}{%- endif %} {% if level_1_is_active -%}{{ link_active_class }}{%- endif -%}"

              {%- if level_1_link.current -%}
                aria-current="page"
              {%- endif %}

              {% if has_link -%}
                {{- data_collapsible_trigger -}}
              {%- endif -%}>

              {{- level_1_link.title -}}
              {%- render 'icons', icon: 'collapsible', icon_class: 'w-4 group-[.collapsible-is-open.level-1]:rotate-180 md:hidden' -%}
            </{{ end_el }}>
          {%- endcapture -%}

          {%- unless has_link -%}
            <button
              type="button"
              class="footer-menu__link {{ collapsible_button_class }} level-1 font-bold md:pointer-events-none {% if level_1_is_active -%}{{ link_active_class }}{%- endif %}"
              {{ data_collapsible_trigger }}>
          {%- endunless -%}
            {{ level_1_link_markup }}
          {%- unless has_link -%}
            </button>
          {%- endunless -%}

          {%- comment -%} Level 2 {%- endcomment -%}
          <ul
            class="footer-menu__list level-2 list-none"
            tabindex="-1"
            {{ data_collapsible_target }}>
            {%- for level_2_link in level_1_link.links -%}
              {%- liquid
                # Get link and fix deep link to native filters
                assign level_2_url = level_2_link.url
                if level_2_url contains 'collections' and level_2_url contains 'filter'
                  assign level_2_url = level_2_url | replace: '%3F', '?'
                endif

                # if link is active
                assign level_2_is_active = false
                if level_2_link.current
                  assign level_2_is_active = true
                endif
              -%}

              {%- if level_2_link.links == blank -%}
                {%- comment -%} Level 2 without submenu {%- endcomment -%}
                <li class="footer-menu__item level-2">
                  <a
                    href="{{ level_2_url }}"
                    class="footer-menu__link level-2 text-sm {{ link_class_with_hover }} {% if level_2_is_active -%}{{ link_active_class }}{%- endif %}"
                    {% if level_2_link.current %}
                      aria-current="page"
                    {% endif %}>
                    {{- level_2_link.title -}}
                  </a>
                </li>
              {%- else -%}

                {%- liquid
                  # Show button as active when child link is available
                  if level_2_link.child_active or level_2_link.current
                    assign level_2_is_active = true
                  endif

                  assign start_el = 'span'
                  assign end_el = 'span'
                  assign has_link = false
                  if link_2_url != '#'
                    assign start_el = 'a href="' | append: level_2_link.url | append: '"'
                    assign end_el = 'a'
                    assign has_link = true
                  endif
                -%}
                {%- comment -%} Level 2 with submenu {%- endcomment -%}
                <li
                  class="footer-menu__item group level-2"
                  {{ data_collapsible_group }}>

                  {%- capture level_2_link_markup -%}
                    <{{ start_el }} class="footer-menu__link level-2 text-sm {{ link_class_with_hover }} {% if has_link -%}{{ collapsible_button_class }}{%- endif %} {% if level_2_is_active -%}{{ link_active_class }}{%- endif %}"

                      {% if has_link -%}
                        {{- data_collapsible_trigger -}}
                      {%- endif -%}>

                      {{- level_2_link.title -}}
                      {%- render 'icons', icon: 'collapsible', icon_class: 'w-4 group-[.collapsible-is-open.level-2]:rotate-180' -%}

                    </{{ end_el }}>
                  {%- endcapture -%}

                  {%- unless has_link -%}
                    <button
                      type="button"
                      class="footer-menu__link {{ collapsible_button_class }} level-2 font-bold {% if level_1_is_active -%}{{ link_active_class }}{%- endif %}"
                      {{ data_collapsible_trigger }}>
                  {%- endunless -%}
                    {{ level_2_link_markup }}
                  {%- unless has_link -%}
                    </button>
                  {%- endunless -%}

                  {%- comment -%} Level 3 {%- endcomment -%}
                  <ul
                    class="footer-menu__list level-3 list-inside list-disc ps-3"
                    {{ data_collapsible_target }}>
                    {%- for level_3_link in level_2_link.links -%}
                      {%- liquid
                        # Get link and fix deep link to native filters
                        assign level_3_link_url = level_3_link.url
                        if level_3_link_url contains 'collections' and level_3_link_url contains 'filter'
                          assign level_3_link_url = level_3_link_url | replace: '%3F', '?'
                        endif

                        # If link is active
                        assign level_3_is_active = false
                        if level_3_link.current
                          assign level_3_is_active = true
                        endif
                      -%}

                      <li class="footer-menu__item level-3">
                        <a
                          href="{{ level_3_link_url }}"
                          class="footer-menu__link {{ link_class_with_hover }} text-sm {% if level_3_is_active -%}{{ link_active_class }}{%- endif %}"
                          {% if level_3_link.current %}
                            aria-current="page"
                          {% endif %}>
                          {{- level_3_link.title -}}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                </li>
              {%- endif -%}
            {%- endfor -%}
          </ul>
        </li>
      {%- endif -%}
    {%- endfor -%}
  </ul>
{%- endif -%}
