{%- liquid
  assign customer_accounts = false
  if shop.customer_accounts_enabled or shop.customer_accounts_optional
    assign customer_accounts = true
  endif
-%}

{%- comment -%}
  Icon list with search, account and cart icons.
{%- endcomment -%}
<ul class="icon-list col-span-4 flex flex-wrap items-center justify-end gap-y-6 pb-3 pt-3 lg:col-span-2">
  {%- comment -%} Search icon {%- endcomment -%}
  {%- if section.settings.show_search_icon or section.settings.md_show_search_icon -%}
    {%- liquid
      assign search_item_class = 'hidden'
      if section.settings.show_search_icon
        assign search_item_class = 'block'
      endif
      assign search_item_class_md = 'md:hidden'
      if section.settings.md_show_search_icon
        assign search_item_class_md = 'md:block'
      endif
    -%}
    <li
      class="icon-list__item {{ search_item_class }} {{ search_item_class_md }}"
      data-header-search>
      <search-toggle
        class="flex"
        data-options='
          {
            "classToToggle": "header-search-is-open",
            "target": "body",
            "focusTarget": "#desktopSearchInModal"
          }
        '>
        <button
          type="button"
          aria-expanded="false"
          aria-controls
          aria-haspopup="dialog"
          aria-label="{%- render "format-translation", namespace: "general.search", key: "search", fallback: "Search" -%}"
          class="px-1 py-3 text-inherit states:text-primary">
          {%- render 'icons', icon: 'search', icon_class: 'w-6' -%}
        </button>
      </search-toggle>
    </li>
  {%- endif -%}

  {%- comment -%} Customer icon {%- endcomment -%}
  {%- if customer_accounts and section.settings.show_customer_icon or section.settings.md_show_customer_icon -%}
    {%- liquid
      assign customer_item_class = 'hidden'
      if section.settings.show_customer_icon
        assign customer_item_class = 'block'
      endif
      assign customer_item_class_md = 'md:hidden'
      if section.settings.md_show_customer_icon
        assign customer_item_class_md = 'md:block'
      endif
    -%}
    <li class="icon-list__item {{ customer_item_class }} {{ customer_item_class_md }}">
      <a
        href="{%- if customer -%}{{- routes.account_url -}}{%- else -%}{{- routes.account_login_url -}}{%- endif -%}"
        class="header__icon block px-1 py-3 text-inherit states:text-primary">
        {%- render 'icons', icon: 'user', icon_class: 'w-6' -%}
        <span class="sr-only">
          {%- liquid
            if customer
              echo 'customer.account_fallback' | t
            else
              echo 'customer.log_in' | t
            endif
          -%}
        </span>
      </a>
    </li>
  {%- endif -%}

  {%- comment -%} Cart icon {%- endcomment -%}
  {%- if section.settings.show_cart_icon or section.settings.md_show_cart_icon -%}
    {%- liquid
      assign cart_item_class = 'hidden'
      if section.settings.show_cart_icon
        assign cart_item_class = 'block'
      endif
      assign cart_item_class_md = 'md:hidden'
      if section.settings.md_show_cart_icon
        assign cart_item_class_md = 'md:block'
      endif
    -%}
    <li class="icon-list__item {{ cart_item_class }} {{ cart_item_class_md }}">
      {%- render 'cart-icon-bubble' -%}
    </li>
  {%- endif -%}
</ul>
