{%- case icon -%}
  {%- when '3d_model' -%}
    <svg class="{{ class }}" {{ svg_attributes }} viewBox="0 0 18 21">
      <path fill="currentColor" d="M7.67998 20.629L1.28002 16.723C0.886205 16.4784 0.561675 16.1368 0.337572 15.731C0.113468 15.3251 -0.00274623 14.8686 -1.39464e-05 14.405V6.59497C-0.00238367 6.13167 0.113819 5.6755 0.33751 5.26978C0.561202 4.86405 0.884959 4.52227 1.278 4.27698L7.67796 0.377014C8.07524 0.131403 8.53292 0.000877102 8.99999 9.73346e-08C9.46678 -0.000129605 9.92446 0.129369 10.322 0.374024V0.374024L16.722 4.27399C17.1163 4.51985 17.4409 4.86287 17.6647 5.27014C17.8885 5.67742 18.0039 6.13529 18 6.59998V14.409C18.0026 14.8725 17.8864 15.3289 17.6625 15.7347C17.4386 16.1405 17.1145 16.4821 16.721 16.727L10.321 20.633C9.92264 20.8742 9.46565 21.0012 8.99999 21C8.53428 20.9998 8.07761 20.8714 7.67998 20.629V20.629ZM8.72398 2.078L2.32396 5.97803C2.22303 6.04453 2.14066 6.13551 2.08452 6.24255C2.02838 6.34959 2.00031 6.46919 2.00298 6.59003V14.4C2.00026 14.5205 2.02818 14.6396 2.08415 14.7463C2.14013 14.853 2.22233 14.9438 2.32298 15.01L7.99999 18.48V10.919C8.00113 10.5997 8.08851 10.2867 8.25292 10.0129C8.41732 9.73922 8.65267 9.51501 8.93401 9.36401L15.446 5.841L9.28001 2.08002C9.19614 2.02738 9.09901 1.99962 8.99999 2C8.90251 1.99972 8.8069 2.02674 8.72398 2.078V2.078Z"/>
    </svg>
  {%- when 'account' -%}
    <svg
      class="{{ class }}"
      viewBox="0 0 18 19"
      xmlns="http://www.w3.org/2000/svg"
      role="presentation"
    >
      <title>{% render "format-translation", namespace: "customer.account.title", fallback: "Account" %}</title>
      <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M6 4.5a3 3 0 116 0 3 3 0 01-6 0zm3-4a4 4 0 100 8 4 4 0 000-8zm5.58 12.15c1.12.82 1.83 2.24 1.91 4.85H1.51c.08-2.6.79-4.03 1.9-4.85C4.66 11.75 6.5 11.5 9 11.5s4.35.26 5.58 1.15zM9 10.5c-2.5 0-4.65.24-6.17 1.35C1.27 12.98.5 14.93.5 18v.5h17V18c0-3.07-.77-5.02-2.33-6.15-1.52-1.1-3.67-1.35-6.17-1.35z"/>
    </svg>
  {%- when 'arrow' -%}
    <svg class="{{ class }}" {{ svg_attributes }} viewBox="0 0 14 10">
      <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z"/>
    </svg>
  {%- when 'box' -%}
    <svg class="{{ class }}" {{ svg_attributes }} viewbox="0 0 16 16">
      <path fill="currentColor" d="M14.41 3.37L8.27 1.41a1 1 0 00-.61 0L1.52 3.37a1 1 0 00-.7.95v7.86c0 .41.25.78.63.93l6.14 2.46c.24.1.5.1.75 0l6.14-2.46a1 1 0 00.62-.93V4.32a1 1 0 00-.69-.95zM7.96 2.36l6.05 1.93-2.7.9L5.35 3.2l2.63-.84zm-.46 12.1l-5.68-2.28V5.3L7.5 7.2v7.26zM8 6.3L1.96 4.28l2.58-.82 5.99 2L8 6.3zm6.1 5.89l-5.6 2.24V7.19l5.6-1.87v6.87z"/>
    </svg>
  {%- when 'cart_empty' -%}
    <svg
      class="{{ class }}"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9999 2C9.79079 2 7.99993 3.79086 7.99993 6V6.01362C6.12113 6.16847 4.58487 7.6271 4.35943 9.52922L3.5298 16.5292C3.24783 18.9083 5.10625 21 7.502 21H16.4979C18.8936 21 20.752 18.9083 20.4701 16.5292L19.6404 9.52922C19.415 7.6271 17.8787 6.16847 15.9999 6.01362V6C15.9999 3.79086 14.2091 2 11.9999 2ZM13.9999 8V9C13.9999 9.55228 14.4476 10 14.9999 10C15.5522 10 15.9999 9.55228 15.9999 9V8.02748C16.8626 8.17185 17.5483 8.87017 17.6543 9.76461L18.484 16.7646C18.6249 17.9542 17.6957 19 16.4979 19H7.502C6.30412 19 5.37492 17.9542 5.5159 16.7646L6.34553 9.76461C6.45154 8.87017 7.13725 8.17185 7.99993 8.02748V9C7.99993 9.55228 8.44765 10 8.99993 10C9.55222 10 9.99993 9.55228 9.99993 9V8H13.9999ZM13.9999 6C13.9999 4.89543 13.1045 4 11.9999 4C10.8954 4 9.99993 4.89543 9.99993 6H13.9999Z" fill="currentColor"/>
    </svg>
  {%- when 'cart' -%}
    <svg
      class="{{ class }}"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <title>{% render "format-translation", namespace: "templates.cart.title", fallback: "Cart" %}</title>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9999 2C9.79079 2 7.99993 3.79086 7.99993 6V6.01362C6.12113 6.16847 4.58487 7.6271 4.35943 9.52922L3.5298 16.5292C3.24783 18.9083 5.10625 21 7.502 21H16.4979C18.8936 21 20.752 18.9083 20.4701 16.5292L19.6404 9.52922C19.415 7.6271 17.8787 6.16847 15.9999 6.01362V6C15.9999 3.79086 14.2091 2 11.9999 2ZM13.9999 8V9C13.9999 9.55228 14.4476 10 14.9999 10C15.5522 10 15.9999 9.55228 15.9999 9V8.02748C16.8626 8.17185 17.5483 8.87017 17.6543 9.76461L18.484 16.7646C18.6249 17.9542 17.6957 19 16.4979 19H7.502C6.30412 19 5.37492 17.9542 5.5159 16.7646L6.34553 9.76461C6.45154 8.87017 7.13725 8.17185 7.99993 8.02748V9C7.99993 9.55228 8.44765 10 8.99993 10C9.55222 10 9.99993 9.55228 9.99993 9V8H13.9999ZM13.9999 6C13.9999 4.89543 13.1045 4 11.9999 4C10.8954 4 9.99993 4.89543 9.99993 6H13.9999Z" fill="currentColor"/>
    </svg>
  {%- when 'chevron-right' -%}
    <svg
      class="{{ class }}"
      {{ svg_attributes }}
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path fill-rule="evenodd" clip-rule="evenodd" d="M8.29289 5.29289C7.90237 5.68342 7.90237 6.31658 8.29289 6.70711L13.5858 12L8.29289 17.2929C7.90237 17.6834 7.90237 18.3166 8.29289 18.7071C8.68342 19.0976 9.31658 19.0976 9.70711 18.7071L15.7071 12.7071C16.0976 12.3166 16.0976 11.6834 15.7071 11.2929L9.70711 5.29289C9.31658 4.90237 8.68342 4.90237 8.29289 5.29289Z" fill="currentColor"/>
    </svg>
  {%- when 'chevron-left' -%}
    <svg
      class="{{ class }}"
      {{ svg_attributes }}
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path fill-rule="evenodd" clip-rule="evenodd" d="M15.7071 5.29289C16.0976 5.68342 16.0976 6.31658 15.7071 6.70711L10.4142 12L15.7071 17.2929C16.0976 17.6834 16.0976 18.3166 15.7071 18.7071C15.3166 19.0976 14.6834 19.0976 14.2929 18.7071L8.29289 12.7071C7.90237 12.3166 7.90237 11.6834 8.29289 11.2929L14.2929 5.29289C14.6834 4.90237 15.3166 4.90237 15.7071 5.29289Z" fill="currentColor"/>
    </svg>
  {%- when 'chevron-down' -%}
    <svg
      class="{{ class }}"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path fill-rule="evenodd" clip-rule="evenodd" d="M5.29289 8.29289C5.68342 7.90237 6.31658 7.90237 6.70711 8.29289L12 13.5858L17.2929 8.29289C17.6834 7.90237 18.3166 7.90237 18.7071 8.29289C19.0976 8.68342 19.0976 9.31658 18.7071 9.70711L12.7071 15.7071C12.3166 16.0976 11.6834 16.0976 11.2929 15.7071L5.29289 9.70711C4.90237 9.31658 4.90237 8.68342 5.29289 8.29289Z" fill="currentColor"/>
    </svg>
  {%- when 'caret' -%}
    <svg
      class="{{ class }}"
      {{ svg_attributes }}
      viewBox="0 0 16 16"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path fill-rule="evenodd" clip-rule="evenodd" d="M5.52876 3.52861C5.26841 3.78896 5.26841 4.21107 5.52876 4.47141L9.05735 8.00001L5.52876 11.5286C5.26841 11.789 5.26841 12.2111 5.52876 12.4714C5.78911 12.7318 6.21122 12.7318 6.47157 12.4714L10.4716 8.47141C10.7319 8.21106 10.7319 7.78895 10.4716 7.52861L6.47157 3.52861C6.21122 3.26826 5.78911 3.26826 5.52876 3.52861Z" fill="currentColor"/>
    </svg>
  {%- when 'collapsible' -%}
    <svg
      class="{{ class }}"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path fill-rule="evenodd" clip-rule="evenodd" d="M5.29289 8.29289C5.68342 7.90237 6.31658 7.90237 6.70711 8.29289L12 13.5858L17.2929 8.29289C17.6834 7.90237 18.3166 7.90237 18.7071 8.29289C19.0976 8.68342 19.0976 9.31658 18.7071 9.70711L12.7071 15.7071C12.3166 16.0976 11.6834 16.0976 11.2929 15.7071L5.29289 9.70711C4.90237 9.31658 4.90237 8.68342 5.29289 8.29289Z" fill="currentColor"/>
    </svg>
  {%- when 'chat_bubble' -%}
    <svg class="{{ class }}" {{ svg_attributes }} viewbox="0 0 16 16">
      <path fill="currentColor" d="M11.3 13.02a6 6 0 111.72-1.72L14 14l-2.7-.98zm2.82-1.62a7 7 0 10-2.72 2.72l2.26.82a1 1 0 001.28-1.28l-.82-2.26z"/>
      <path fill="currentColor" d="M4.9 9.16c.52 0 .86-.36.86-.85 0-.5-.34-.85-.87-.85-.52 0-.86.36-.86.85 0 .5.34.85.86.85zM7.88 9.16c.53 0 .87-.36.87-.85 0-.5-.34-.85-.87-.85-.52 0-.87.36-.87.85 0 .5.35.85.87.85zM10.87 9.16c.52 0 .87-.36.87-.85 0-.5-.35-.85-.87-.85s-.87.36-.87.85c0 .5.35.85.87.85z"/>
    </svg>
  {%- when 'checkmark' -%}
    <svg
      class="{{ class }}"
      {{ svg_attributes }}
      viewBox="0 0 20 20"
      fill="none"
    >
      <path fill-rule="evenodd" clip-rule="evenodd" d="M15.5891 5.24378C15.9147 5.56906 15.915 6.0967 15.5897 6.42229L7.25638 14.764C7.10013 14.9204 6.88812 15.0083 6.66704 15.0083C6.44595 15.0084 6.23391 14.9206 6.07757 14.7643L3.57757 12.2643C3.25214 11.9388 3.25214 11.4112 3.57757 11.0857C3.90301 10.7603 4.43065 10.7603 4.75609 11.0857L6.66654 12.9962L14.4106 5.24437C14.7359 4.91877 15.2635 4.91851 15.5891 5.24378Z" fill="currentColor"/>
    </svg>
  {%- when 'clipboard' -%}
    <svg class="{{ class }}" {{ svg_attributes }} viewbox="0 0 11 13">
      <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M2 1a1 1 0 011-1h7a1 1 0 011 1v9a1 1 0 01-1 1V1H2zM1 2a1 1 0 00-1 1v9a1 1 0 001 1h7a1 1 0 001-1V3a1 1 0 00-1-1H1zm0 10V3h7v9H1z"/>
    </svg>
  {%- when 'close' -%}
    <svg
      class="{{ class }}"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <title>{% render "format-translation", namespace: "accessibility.close", fallback: "Close" %}</title>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M6.34338 6.34315C6.7339 5.95262 7.36707 5.95262 7.75759 6.34315L12.0002 10.5858L16.2429 6.34315C16.6334 5.95262 17.2666 5.95262 17.6571 6.34315C18.0476 6.73367 18.0476 7.36683 17.6571 7.75736L13.4144 12L17.6571 16.2426C18.0476 16.6332 18.0476 17.2663 17.6571 17.6569C17.2666 18.0474 16.6334 18.0474 16.2429 17.6569L12.0002 13.4142L7.75759 17.6569C7.36707 18.0474 6.7339 18.0474 6.34338 17.6569C5.95285 17.2663 5.95285 16.6332 6.34338 16.2426L10.586 12L6.34338 7.75736C5.95285 7.36684 5.95285 6.73367 6.34338 6.34315Z" fill="currentColor"/>
    </svg>
  {%- when 'cross' -%}
    <svg
      class="{{ class }}"
      {{ svg_attributes }}
      viewBox="0 0 20 20"
      fill="none"
    >
      <path fill-rule="evenodd" clip-rule="evenodd" d="M5.28582 5.28595C5.61126 4.96052 6.1389 4.96052 6.46433 5.28595L9.99987 8.82149L13.5354 5.28595C13.8608 4.96052 14.3885 4.96052 14.7139 5.28595C15.0393 5.61139 15.0393 6.13903 14.7139 6.46447L11.1784 10L14.7139 13.5355C15.0393 13.861 15.0393 14.3886 14.7139 14.714C14.3885 15.0395 13.8608 15.0395 13.5354 14.714L9.99987 11.1785L6.46433 14.714C6.1389 15.0395 5.61126 15.0395 5.28582 14.714C4.96039 14.3886 4.96039 13.861 5.28582 13.5355L8.82136 10L5.28582 6.46447C4.96039 6.13903 4.96039 5.61139 5.28582 5.28595Z" fill="currentColor"/>
    </svg>
  {%- when 'discount' -%}
    <svg class="{{ class }}" {{ svg_attributes }} viewBox="0 0 12 12">
      <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M7 0h3a2 2 0 012 2v3a1 1 0 01-.3.7l-6 6a1 1 0 01-1.4 0l-4-4a1 1 0 010-1.4l6-6A1 1 0 017 0zm2 2a1 1 0 102 0 1 1 0 00-2 0z"/>
    </svg>
  {%- when 'dryer' -%}
    <svg class="{{ class }}" {{ svg_attributes }} viewbox="0 0 16 16">
      <path fill="currentColor" d="M2 3a1 1 0 011-1h10a1 1 0 011 1v10a1 1 0 01-1 1H3a1 1 0 01-1-1V3zm1 0v10h10V3H3z" fill-rule="evenodd"/>
      <path fill="currentColor" d="M5.88 10.08a3 3 0 104.24-4.24 3 3 0 00-4.24 4.24zm-.7.7a4 4 0 105.65-5.65 4 4 0 00-5.66 5.66z" fill-rule="evenodd"/>
    </svg>
  {%- when 'error' -%}
    <svg class="{{ class }}" {{ svg_attributes }} viewBox="0 0 13 13">
      <circle cx="6.5" cy="6.50049" r="5.5" stroke-width="2"/>
      <circle stroke="currentColor" fill="currentColor" cx="6.5" cy="6.5" r="5.5" stroke-width="0.7"/>
      <path fill="white" d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z"/>
      <path stroke="currentColor" fill="white" d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" stroke-width="0.7"/>
    </svg>
  {%- when 'eye' -%}
    <svg class="{{ class }}" {{ svg_attributes }} viewbox="0 0 16 16">
      <path fill="currentColor" d="M8 10a2 2 0 100-4 2 2 0 000 4zm0 1a3 3 0 100-6 3 3 0 000 6z" fill-rule="evenodd"/>
      <path fill="currentColor" d="M15.79 8.62L15 8l.79-.62a1 1 0 010 1.24zM1 8l-.79.62.02.02a5.56 5.56 0 00.15.18 15.16 15.16 0 002.05 1.96C3.77 11.84 5.73 13 8 13c2.26 0 4.23-1.16 5.57-2.22a15.17 15.17 0 002.2-2.14l.01-.02L15 8l.79-.62-.02-.02a6.17 6.17 0 00-.6-.67c-.37-.4-.92-.94-1.6-1.47C12.23 4.16 10.27 3 8 3 5.73 3 3.77 4.16 2.43 5.22a15.16 15.16 0 00-2.2 2.14l-.01.02L1 8zm0 0l-.79.62a1 1 0 010-1.24L1 8zm0 0s3.13-4 7-4 7 4 7 4-3.13 4-7 4-7-4-7-4z" fill-rule="evenodd"/>
    </svg>
  {%- when 'filter' -%}
    <svg class="{{ class }}" {{ svg_attributes }} viewBox="0 0 24 24" fill="none">
      <rect x="3" y="6" width="18" height="2" rx="1" fill="currentColor"/>
      <rect x="3" y="16" width="18" height="2" rx="1" fill="currentColor"/>
      <path d="M13 7a3 3 0 11-6 0 3 3 0 016 0z" fill="#fff"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M10 5a2 2 0 100 4 2 2 0 000-4zM6 7a4 4 0 118 0 4 4 0 01-8 0z" fill="currentColor"/>
      <path d="M17 17a3 3 0 11-6 0 3 3 0 016 0z" fill="#fff"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M14 15a2 2 0 100 4 2 2 0 000-4zm-4 2a4 4 0 118 0 4 4 0 01-8 0z" fill="currentColor"/>
    </svg>
  {%- when 'grid-single' -%}
    <svg class="{{ class }}" {{ svg_attributes }} viewBox="0 0 24 24" fill="none">
      <rect x="3.9" y="3.9" width="16.2" height="16.2" rx="2.1" stroke="currentColor" stroke-width="1.8"/>
    </svg>
  {%- when 'grid-double' -%}
    <svg class="{{ class }}" {{ svg_attributes }} viewBox="0 0 24 24" fill="none">
      <rect x="3.9" y="3.9" width="6.2" height="6.2" rx="1.6" stroke="currentColor" stroke-width="1.8"/>
      <rect x="3.9" y="13.9" width="6.2" height="6.2" rx="1.6" stroke="currentColor" stroke-width="1.8"/>
      <rect x="13.9" y="3.9" width="6.2" height="6.2" rx="1.6" stroke="currentColor" stroke-width="1.8"/>
      <rect x="13.9" y="13.9" width="6.2" height="6.2" rx="1.6" stroke="currentColor" stroke-width="1.8"/>
    </svg>
  {%- when 'hamburger' -%}
    <svg
      class="{{ class }}"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <title>{% render "format-translation", namespace: "accessibility.navigation", fallback: "Navigation" %}</title>
      <rect x="4" y="11" width="16" height="2" rx="1" fill="currentColor"/>
      <rect x="4" y="5" width="16" height="2" rx="1" fill="currentColor"/>
      <rect x="4" y="17" width="16" height="2" rx="1" fill="currentColor"/>
    </svg>
  {%- when 'heart' -%}
    <svg class="{{ class }}" {{ svg_attributes }} viewbox="0 0 16 16">
      <path fill="currentColor" d="M8.86 4.38a2.78 2.78 0 013.72-.3c1.4 1.2 1.2 3.11.19 4.13L7.98 13.1c-.05.06-.1.06-.19 0L3.01 8.2a2.8 2.8 0 01.19-4.1c1.06-.9 2.7-.76 3.74.28l.96.98.96-.98zm-.96-.45l.24-.25a3.78 3.78 0 015.07-.38l.01.01v.01a3.82 3.82 0 01.26 5.59l-4.79 4.9a1.12 1.12 0 01-1.45.12l-.1-.06L2.3 8.91a3.8 3.8 0 01.26-5.57 3.79 3.79 0 015.1.33l.01.01.24.25z" fill-rule="evenodd"/>
    </svg>
  {%- when 'iron' -%}
    <svg class="{{ class }}" {{ svg_attributes }} viewbox="0 0 16 16">
      <path fill="currentColor" d="M16.02 7V2a.5.5 0 00-.5-.5h-9a.5.5 0 000 1h8.5V6h-4.68C6.49 6 4.1 7.66 2.7 9.37a9.7 9.7 0 00-1.76 3.3l-.02.07v.03l.97.23s.1-.4.36-1c.75-1.7 2.87-5 8.08-5h4.68v6H1.9l-.98-.23A1 1 0 001.9 14h13.12a1 1 0 001-1V7z"/>
      <path fill="currentColor" d="M7.26 12.06c.33 0 .57-.25.57-.57 0-.32-.24-.57-.57-.57s-.57.25-.57.57c0 .32.25.57.57.57zM9.59 12.06c.32 0 .57-.25.57-.57 0-.32-.25-.57-.57-.57s-.58.25-.58.57c0 .32.25.57.58.57zM11.9 12.06c.33 0 .58-.25.58-.57 0-.32-.25-.57-.57-.57s-.58.25-.58.57c0 .32.25.57.58.57z"/>
    </svg>
  {%- when 'leaf' -%}
    <svg class="{{ class }}" {{ svg_attributes }} viewbox="0 0 16 16">
      <path fill="currentColor" d="M14.63.98a1 1 0 00-.78-.3h-.03l-.07.01-.25.03a41.89 41.89 0 00-3.87.52c-1.1.2-2.31.48-3.38.83a7.15 7.15 0 00-2.74 1.48 6.04 6.04 0 00-.36 8.15L1.53 13.3a.5.5 0 00.71.7l1.61-1.6a6.04 6.04 0 008.2-.31 7.15 7.15 0 001.48-2.74c.36-1.07.63-2.27.83-3.39a46.92 46.92 0 00.53-3.86l.02-.26.01-.07v-.02a1 1 0 00-.29-.78zm-1.72.8l.17-.02-4.89 4.9v-4.1c1.76-.41 3.61-.66 4.72-.78zM8.45 7.81h4.5c-.21.8-.45 1.56-.74 2.2H6.24l2.21-2.2zM7.7 2.68v4.46L5.5 9.35V3.43c.64-.3 1.4-.54 2.2-.75zM4.22 4.26c.2-.2.47-.4.78-.57v6.15L3.86 11a5.04 5.04 0 01.36-6.73zm.34 7.44l1.19-1.18h6.22c-.2.35-.4.65-.62.87a5.04 5.04 0 01-6.8.31zm8.5-4.4h-4.1l4.9-4.9-.03.3a41.1 41.1 0 01-.76 4.6z"/>
    </svg>
  {%- when 'leather' -%}
    <svg class="{{ class }}" {{ svg_attributes }} viewbox="0 0 16 16">
      <path fill="currentColor" d="M5.34 1.79A1 1 0 016.32 1h3.01a1 1 0 01.98.79 2.05 2.05 0 002.9 1.4 1 1 0 011.39.6l.37 1.23a1 1 0 01-.77 1.27 2.84 2.84 0 00-.25 5.52 1 1 0 01.69 1.25l-.42 1.35a1 1 0 01-1.6.47 2.66 2.66 0 00-3.89.51 1 1 0 01-1.64 0 2.66 2.66 0 00-3.8-.6 1 1 0 01-1.55-.49l-.5-1.6a1 1 0 01.61-1.24 2.72 2.72 0 00-.17-5.16 1 1 0 01-.67-1.25l.35-1.13a1 1 0 011.29-.65 2.05 2.05 0 002.7-1.48zm-2.77 2.5A3.05 3.05 0 006.32 2h3.01a3.04 3.04 0 004.31 2.09l.38 1.22a3.83 3.83 0 00-.34 7.46l-.41 1.35a3.64 3.64 0 00-5.36.7 3.69 3.69 0 00-4.33-1.31c-.31.12-.61.29-.89.5l-.5-1.61a3.7 3.7 0 001.35-6.12 3.7 3.7 0 00-1.57-.94l.35-1.12.25.07z" fill-rule="evenodd"/>
    </svg>
  {%- when 'lock' -%}
    <svg class="{{ class }}" {{ svg_attributes }} viewbox="0 0 16 16">
      <path fill="currentColor" d="M7.48 10.57v1.83a.5.5 0 001 0v-1.81a1.1 1.1 0 10-1-.02z"/>
      <path fill="currentColor" d="M13.15 5.66h-2.08V3.79a3.7 3.7 0 00-.8-2.3C9.76.88 8.98.5 8 .5c-.98 0-1.76.37-2.29 1a3.7 3.7 0 00-.79 2.3v1.86H2.83a.5.5 0 00-.5.5V15c0 .28.23.5.5.5h10.32a.5.5 0 00.5-.5V6.16a.5.5 0 00-.5-.5zM5.9 3.92v-.08-.02c.03-.7.22-1.28.56-1.68.32-.39.81-.64 1.52-.64s1.2.26 1.52.64c.34.4.54.98.56 1.68v1.84H5.91V3.92zm6.74 10.58H3.33V6.66h9.32v7.84z"/>
    </svg>
  {%- when 'map_pin' -%}
    <svg class="{{ class }}" {{ svg_attributes }} viewbox="0 0 16 16">
      <path fill="currentColor" d="M6.72 14.63L7.5 14l.78.63-.78.96-.78-.96zm1.41-1.44L7.5 14s-.25-.3-.63-.81C5.63 11.54 3 7.8 3 5.79 3 3.14 5.01 1 7.5 1S12 3.14 12 5.79c0 2.02-2.63 5.75-3.87 7.4zm.15 1.44L7.5 14l-.78.63-.01-.02-.04-.05a26.53 26.53 0 01-.67-.87c-.43-.58-1.01-1.37-1.59-2.26A24.32 24.32 0 012.8 8.62 7.07 7.07 0 012 5.79C2 2.65 4.4 0 7.5 0S13 2.65 13 5.79c0 .9-.36 1.9-.8 2.83-.45.95-1.04 1.93-1.61 2.81a43.67 43.67 0 01-2.26 3.13l-.04.05v.01h-.01z" fill-rule="evenodd"/>
      <path fill="currentColor" d="M7.5 7a1.5 1.5 0 100-3 1.5 1.5 0 000 3zm0 1a2.5 2.5 0 100-5 2.5 2.5 0 000 5z" fill-rule="evenodd"/>
    </svg>
  {%- when 'padlock' -%}
    <svg class="{{ class }}" {{ svg_attributes }} viewBox="0 0 16 21">
      <path fill="currentColor" fill-rule="evenodd" d="M5.03 1.79A3.73 3.73 0 018 .5c1.28 0 2.28.48 2.97 1.29.67.8 1 1.87 1.03 3V7.5h3c.28 0 .5.22.5.5v12a.5.5 0 01-.5.5H1a.5.5 0 01-.5-.5V8c0-.28.22-.5.5-.5h3V4.8c0-1.1.36-2.15 1.03-3.01zM11 6.4v1.09H5V4.82c.03-.99.31-1.82.8-2.4A2.75 2.75 0 018 1.49c1.01 0 1.73.37 2.2.93.49.58.77 1.41.8 2.4V6.4zM1.5 8.49v11h13v-11h-13zm6.51 2.5a1.5 1.5 0 00-.7 2.82v2.5a.68.68 0 001.36 0v-2.47A1.5 1.5 0 008 11l.01-.01z" clip-rule="evenodd" />
    </svg>
  {%- when 'pants' -%}
    <svg class="{{ class }}" {{ svg_attributes }} viewbox="0 0 16 16">
      <path fill="currentColor" d="M12.46 3.34V2.5a1 1 0 00-1-1h-6.8a1 1 0 00-1 1v1.19L2 13.19a1 1 0 00.82 1.15l2.96.51a1 1 0 001.15-.81L8.1 7.4l1.14 6.58a1 1 0 001.15.81l2.96-.5a1 1 0 00.82-1.16l-1.7-9.8zm-7.8-.84h6.8v.91h-6.8V2.5zm5.55 11.32L8.77 5.5H7.4l-1.44 8.37L3 13.35 4.64 3.9h6.9l1.63 9.4-2.96.52z"/>
    </svg>
  {%- when 'plane' -%}
    <svg class="{{ class }}" {{ svg_attributes }} viewbox="0 0 16 16">
      <path fill="currentColor" d="M5.88738 14.9593C5.44143 15.1465 4.9254 14.9877 4.66182 14.5822L3.36629 12.589L1.3731 11.2935C0.967576 11.0299 0.808816 10.5139 0.996049 10.0679C1.18328 9.62198 1.66284 9.37394 2.13498 9.47885L4.01747 9.89713C4.57953 9.09401 5.46955 8.03498 6.5333 6.8911L2.53832 4.29445C2.1328 4.03086 1.97404 3.51483 2.16127 3.06888C2.3485 2.62293 2.82806 2.37489 3.30021 2.4798L9.55731 3.8701C10.5497 2.94933 11.4643 2.17251 12.1944 1.62904C12.6006 1.32664 12.9836 1.07087 13.3088 0.906474C13.4649 0.827523 13.6642 0.740203 13.878 0.698316C14.0386 0.66686 14.5479 0.594299 14.953 0.99939C15.358 1.40443 15.2855 1.91362 15.2541 2.07423C15.2122 2.28805 15.1249 2.48731 15.0459 2.64344C14.8816 2.96855 14.6259 3.35151 14.3236 3.75767C13.7802 4.48763 13.0036 5.40199 12.0831 6.39418L13.4738 12.6534C13.5787 13.1256 13.3307 13.6051 12.8848 13.7924C12.4388 13.9796 11.9228 13.8208 11.6592 13.4153L9.06153 9.4188C7.91838 10.4819 6.86005 11.3714 6.05721 11.9335L6.47646 13.8203C6.58137 14.2925 6.33333 14.772 5.88738 14.9593ZM5.73077 10.9371C6.46992 10.3921 7.43989 9.56739 8.50814 8.5674C8.74908 8.34186 8.99501 8.10741 9.24443 7.86524L12.4976 12.8703L10.9923 6.09567C12.0817 4.9445 12.9801 3.89496 13.5609 3.10728C13.6874 2.93571 13.7988 2.77657 13.8939 2.6315C14.2158 2.14038 14.35 1.81063 14.2459 1.7065C14.1417 1.60236 13.812 1.73659 13.3209 2.05846C13.1758 2.15353 13.0166 2.26498 12.8451 2.39149C12.0572 2.97245 11.0073 3.87109 9.85583 4.96082L3.0833 3.456L8.08685 6.7082C7.84468 6.95762 7.61023 7.20356 7.38469 7.44449C6.38483 8.51263 5.56017 9.48249 5.0153 10.2216C4.84261 10.4558 4.69801 10.6669 4.58486 10.8506C4.56277 10.8864 4.54188 10.9213 4.52221 10.955C4.50833 10.9788 4.49505 11.0021 4.4824 11.0248L1.91808 10.455L4.08913 11.8662L5.50027 14.0372L4.92958 11.4688C4.9519 11.4564 4.97474 11.4433 4.9981 11.4297C5.03103 11.4105 5.06498 11.3901 5.09992 11.3686C5.28402 11.2553 5.49572 11.1103 5.73077 10.9371Z"/>
    </svg>
  {%- when 'play' -%}
    <svg class="{{ class }}" {{ svg_attributes }} viewBox="0 0 10 14">
      <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M1.48177 0.814643C0.81532 0.448245 0 0.930414 0 1.69094V12.2081C0 12.991 0.858787 13.4702 1.52503 13.0592L10.5398 7.49813C11.1918 7.09588 11.1679 6.13985 10.4965 5.77075L1.48177 0.814643Z"/>
    </svg>
  {%- when 'plus' -%}
    <svg class="{{ class }}" {{ svg_attributes }} viewBox="0 0 16 16">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M7.99984 2.66666C8.36803 2.66666 8.6665 2.96513 8.6665 3.33332V7.33332H12.6665C13.0347 7.33332 13.3332 7.6318 13.3332 7.99999C13.3332 8.36818 13.0347 8.66666 12.6665 8.66666H8.6665V12.6667C8.6665 13.0348 8.36803 13.3333 7.99984 13.3333C7.63165 13.3333 7.33317 13.0348 7.33317 12.6667V8.66666H3.33317C2.96498 8.66666 2.6665 8.36818 2.6665 7.99999C2.6665 7.6318 2.96498 7.33332 3.33317 7.33332H7.33317V3.33332C7.33317 2.96513 7.63165 2.66666 7.99984 2.66666Z" fill="currentColor"/>
    </svg>
  {%- when 'minus' -%}
    <svg class="{{ class }}" {{ svg_attributes }} viewBox="0 0 16 16">
      <rect x="2.6665" y="7.33333" width="10.6667" height="1.33333" rx="0.666667" fill="currentColor"/>
    </svg>
  {%- when 'price_tag' -%}
    <svg class="{{ class }}" {{ svg_attributes }} viewbox="0 0 16 16">
      <path fill="currentColor" d="M7.59 1.34a1 1 0 01.7-.29h5.66a1 1 0 011 1v5.66a1 1 0 01-.3.7L7.6 15.5a1 1 0 01-1.42 0L.52 9.83a1 1 0 010-1.42l7.07-7.07zm6.36 6.37l-7.07 7.07-5.66-5.66L8.3 2.05h5.66v5.66z" fill-rule="evenodd"/>
      <path fill="currentColor" d="M9.7 6.3a1 1 0 101.42-1.42 1 1 0 00-1.41 1.41zM9 7a2 2 0 102.83-2.83A2 2 0 009 7z" fill-rule="evenodd"/>
    </svg>
  {%- when 'question_mark' -%}
    <svg class="{{ class }}" {{ svg_attributes }} viewbox="0 0 16 16">
      <path d="M8 14A6 6 0 108 2a6 6 0 000 12zm0 1A7 7 0 108 1a7 7 0 000 14z" fill-rule="evenodd"/>
      <path fill="currentColor" d="M7.64 9.6a.3.3 0 01-.3-.3v-.1c0-.4.07-.75.26-1.07.19-.31.47-.58.85-.87.34-.25.55-.46.67-.66s.17-.4.17-.65v-.01c0-.73-.54-1.25-1.28-1.25-.7 0-1.25.5-1.32 1.31a.3.3 0 01-.3.28H6a.3.3 0 01-.3-.36c.1-1.24 1-2.22 2.32-2.22a2.2 2.2 0 012.28 2.22v.01c0 .42-.1.8-.3 1.14-.2.34-.5.64-.9.93-.34.25-.52.44-.63.6-.1.17-.14.35-.14.64v.06a.3.3 0 01-.3.3h-.39zm.94 1.98c0 .39-.28.72-.69.72-.4 0-.69-.33-.69-.72a.7.7 0 01.7-.71c.4 0 .68.33.68.71z" fill-rule="evenodd"/>
    </svg>
  {%- when 'return' -%}
    <svg class="{{ class }}" {{ svg_attributes }} viewbox="0 0 16 16">
      <path fill="currentColor" d="M9 .5a.5.5 0 000 1h1a4.5 4.5 0 110 9H2.2l3.15-3.15a.5.5 0 10-.7-.7l-4 4a.5.5 0 000 .7l4 4a.5.5 0 00.7-.7L2.21 11.5H10a5.5 5.5 0 100-11H9z"/>
    </svg>
  {%- when 'ruler' -%}
    <svg class="{{ class }}" {{ svg_attributes }} viewbox="0 0 16 16">
      <path fill="currentColor" d="M14.93 4.11L12.1 1.28a1 1 0 00-1.41 0L6.8 5.17.78 11.18a1 1 0 000 1.42l2.82 2.82a1 1 0 001.42 0l9.9-9.9a1 1 0 000-1.4zm-10.6 10.6L1.48 11.9l1.41-1.41 1.06 1.06a.5.5 0 00.71-.71L3.61 9.77l1.42-1.42 1.05 1.06a.5.5 0 00.71-.7L5.73 7.65l1.42-1.42L8.2 7.3c.2.2.5.2.7 0s.2-.5 0-.7L7.85 5.53 9.27 4.1l1.06 1.06a.5.5 0 00.71-.7L9.98 3.4 11.39 2l2.83 2.83-9.9 9.9z"/>
    </svg>
  {%- when 'search' -%}
    <svg
      class="{{ class }}"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <title>{% render "format-translation", namespace: "general.search.search", fallback: "Search" %}</title>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M13.435 6.46447C15.3877 8.41709 15.3877 11.5829 13.435 13.5355C11.4824 15.4882 8.31658 15.4882 6.36396 13.5355C4.41134 11.5829 4.41134 8.41709 6.36396 6.46447C8.31658 4.51184 11.4824 4.51184 13.435 6.46447ZM15.5062 14.1925C17.5618 11.4507 17.3428 7.54385 14.8492 5.05025C12.1156 2.31658 7.68342 2.31658 4.94975 5.05025C2.21608 7.78392 2.21608 12.2161 4.94975 14.9497C7.44334 17.4433 11.3502 17.6623 14.092 15.6067L16.9706 18.4853C17.3611 18.8758 17.9943 18.8758 18.3848 18.4853C18.7753 18.0948 18.7753 17.4616 18.3848 17.0711L15.5062 14.1925Z" fill="currentColor"/>
    </svg>
  {%- when 'share' -%}
    <svg class="{{ class }}" {{ svg_attributes }} viewBox="0 0 13 13">
      <path stroke="currentColor" d="M1.625 8.125V10.2917C1.625 10.579 1.73914 10.8545 1.9423 11.0577C2.14547 11.2609 2.42102 11.375 2.70833 11.375H10.2917C10.579 11.375 10.8545 11.2609 11.0577 11.0577C11.2609 10.8545 11.375 10.579 11.375 10.2917V8.125" stroke-linecap="round" stroke-linejoin="round"/>
      <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M6.14775 1.27137C6.34301 1.0761 6.65959 1.0761 6.85485 1.27137L9.56319 3.9797C9.75845 4.17496 9.75845 4.49154 9.56319 4.6868C9.36793 4.88207 9.05135 4.88207 8.85609 4.6868L6.5013 2.33203L4.14652 4.6868C3.95126 4.88207 3.63468 4.88207 3.43942 4.6868C3.24415 4.49154 3.24415 4.17496 3.43942 3.9797L6.14775 1.27137Z"/>
      <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M6.5 1.125C6.77614 1.125 7 1.34886 7 1.625V8.125C7 8.40114 6.77614 8.625 6.5 8.625C6.22386 8.625 6 8.40114 6 8.125V1.625C6 1.34886 6.22386 1.125 6.5 1.125Z"/>
    </svg>
  {%- when 'shirt' -%}
    <svg class="{{ class }}" {{ svg_attributes }} viewbox="0 0 16 16">
      <path fill="currentColor" d="M15.27 5.1l-3.3-3.3a1 1 0 00-.7-.3h-1.2a1 1 0 00-.74.32l-.04.04c-.7.7-1.86.7-2.56 0l-.05-.04a1 1 0 00-.73-.32H4.76a1 1 0 00-.72.3L.74 5.1a1 1 0 000 1.4L2.4 8.16a1 1 0 001.36.05v5.29a1 1 0 001 1h6.5a1 1 0 001-1V8.22a1 1 0 001.35-.06l1.66-1.65a1 1 0 000-1.42zM12.9 7.45L11.26 5.8v7.69h-6.5V5.8L3.11 7.46 1.45 5.8l3.3-3.3.01.01V2.5h1.19l.07.07a2.81 2.81 0 003.98 0l.06-.07h1.2l3.3 3.3-1.66 1.66z"/>
    </svg>
  {%- when 'shoe' -%}
    <svg class="{{ class }}" {{ svg_attributes }} viewbox="0 0 16 16">
      <path fill="currentColor" d="M15.5 4.54a1 1 0 00-.88-.99l-4.33-.54a1 1 0 00-1.11.85v.02A5.75 5.75 0 018.6 5.5a3.3 3.3 0 01-2.4 1.85c-1.22.2-2.19.41-2.95.67-.75.26-1.38.59-1.85 1.07-.48.5-.7 1.1-.8 1.7C.5 11.36.5 12 .5 12.67a1 1 0 001 1h13a1 1 0 001-1V4.54zm-9.13 3.8C9.63 7.78 10.18 4 10.18 4l4.33.54V11H1.58c.23-1.44 1.16-2.06 4.8-2.67zM1.5 12.66v-.04l.01-.96.02-.17H14.5v1.17h-13z"/>
    </svg>
  {%- when 'silhouette' -%}
    <svg class="{{ class }}" {{ svg_attributes }} viewbox="0 0 16 16">
      <path fill="currentColor" d="M8 1.5a3.5 3.5 0 100 7 3.5 3.5 0 000-7zM5.5 5a2.5 2.5 0 115 0 2.5 2.5 0 01-5 0zM8 9.5c-1.87 0-3.52.17-4.7.98-1.21.85-1.8 2.3-1.8 4.52v.5h13V15c0-2.22-.59-3.67-1.8-4.52-1.18-.81-2.83-.98-4.7-.98zm4.12 1.8c.77.54 1.29 1.46 1.37 3.2H2.5c.08-1.74.6-2.66 1.37-3.2.89-.61 2.24-.8 4.12-.8s3.23.19 4.12.8z"/>
    </svg>
  {%- when 'spinner' -%}
    <svg class="{{ class }}" {{ svg_attributes }} viewbox="0 0 48 48">
      <path d="M8.35 40v-3h6.5l-.75-.6q-3.2-2.55-4.65-5.55-1.45-3-1.45-6.7 0-5.3 3.125-9.525Q14.25 10.4 19.35 8.8v3.1q-3.75 1.45-6.05 4.825T11 24.15q0 3.15 1.175 5.475 1.175 2.325 3.175 4.025l1.5 1.05v-6.2h3V40Zm20.35-.75V36.1q3.8-1.45 6.05-4.825T37 23.85q0-2.4-1.175-4.875T32.75 14.6l-1.45-1.3v6.2h-3V8h11.5v3h-6.55l.75.7q3 2.8 4.5 6t1.5 6.15q0 5.3-3.1 9.55-3.1 4.25-8.2 5.85Z"/>
    </svg>
  {%- when 'star' -%}
    <svg class="{{ class }}" {{ svg_attributes }} viewbox="0 0 16 16">
      <path fill="currentColor" d="M8 1c.21 0 .4.13.47.33l1.62 4.54 4.92.1a.5.5 0 01.29.9l-3.92 2.9 1.42 4.58a.5.5 0 01-.75.56L8 12.17 3.95 14.9a.5.5 0 01-.75-.56l1.42-4.58L.7 6.87a.5.5 0 01.29-.9l4.92-.1 1.62-4.54A.5.5 0 018 1zm0 2L6.74 6.52a.5.5 0 01-.46.33l-3.8.08L5.5 9.17a.5.5 0 01.18.55l-1.1 3.56 3.14-2.13a.5.5 0 01.56 0l3.15 2.13-1.1-3.56a.5.5 0 01.17-.55l3.02-2.23-3.8-.08a.5.5 0 01-.46-.33L8 2.99z"/>
    </svg>
  {%- when 'success' -%}
    <svg class="{{ class }}" {{ svg_attributes }} viewBox="0 0 13 13">
      <path fill="currentColor" d="M6.5 12.35C9.73087 12.35 12.35 9.73086 12.35 6.5C12.35 3.26913 9.73087 0.65 6.5 0.65C3.26913 0.65 0.65 3.26913 0.65 6.5C0.65 9.73086 3.26913 12.35 6.5 12.35Z"/>
      <path stroke="white" d="M5.53271 8.66357L9.25213 4.68197"/>
      <path stroke="white" d="M4.10645 6.7688L6.13766 8.62553" />
    </svg>
  {%- when 'tick' -%}
    <svg class="{{ class }}" {{ svg_attributes }} viewBox="0 0 20 20">
      <path stroke="white" fill="currentColor" d="M16.136 6.979h0l.003-.004a1.499 1.499 0 00-2.275-1.954l-5.945 6.777-1.858-1.859A1.499 1.499 0 103.94 12.06l2.999 3s0 0 0 0c.289.29.675.44 1.1.439h.019a1.5 1.5 0 001.08-.522l6.998-7.998z"/>
    </svg>
  {%- when 'trash' -%}
    <svg class="{{ class }}" {{ svg_attributes }} viewbox="0 -1 16 16">
      <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M8 2a.834.834 0 00-.816.667h1.633A.834.834 0 008 2zM8 .667c-1.14 0-2.075.88-2.16 2H2.667a.667.667 0 100 1.333h.667v7.333A2.667 2.667 0 006 14h4a2.667 2.667 0 002.667-2.667V4h.667a.667.667 0 000-1.333H10.16a2.167 2.167 0 00-2.16-2zM11.334 4H4.667v7.333c0 .737.597 1.334 1.333 1.334h4c.737 0 1.334-.597 1.334-1.334V4zM6.667 5.333c.368 0 .667.299.667.667v4.667a.667.667 0 11-1.334 0V6c0-.368.299-.667.667-.667zM10 6a.667.667 0 10-1.333 0v4.667a.667.667 0 101.333 0V6z"/>
    </svg>
  {%- when 'truck' -%}
    <svg class="{{ class }}" {{ svg_attributes }} viewbox="0 0 16 16">
      <path fill="currentColor" d="M15.64 6.92L9.5 5.12V4a.5.5 0 00-.5-.5H1a.5.5 0 00-.5.5v8.5c0 .28.22.5.5.5h1.27a2.1 2.1 0 004.06 0h3.94a2.1 2.1 0 004.06 0h1.17a.5.5 0 00.5-.5V7.4a.5.5 0 00-.36-.48zM4.3 13.6a1.1 1.1 0 110-2.2 1.1 1.1 0 010 2.2zM6.33 12a2.1 2.1 0 00-4.06 0H1.5V4.5h7V12H6.33zm5.97 1.6a1.1 1.1 0 110-2.2 1.1 1.1 0 010 2.2zM15 12h-.67a2.1 2.1 0 00-4.06 0H9.5V6.17l5.5 1.6V12z"/>
    </svg>
  {%- when 'unavailable' -%}
    <svg class="{{ class }}" {{ svg_attributes }} viewBox="0 0 20 20">
      <path stroke="white" fill="currentColor" d="M13.94 3.94L10 7.878l-3.94-3.94A1.499 1.499 0 103.94 6.06L7.88 10l-3.94 3.94a1.499 1.499 0 102.12 2.12L10 12.12l3.94 3.94a1.497 1.497 0 002.12 0 1.499 1.499 0 000-2.12L12.122 10l3.94-3.94a1.499 1.499 0 10-2.121-2.12z"/>
    </svg>
  {%- when 'user' -%}
    <svg
      class="{{ class }}"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <title>{% render "format-translation", namespace: "customer.account.title", fallback: "Account" %}</title>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M14 6C14 7.10457 13.1046 8 12 8C10.8954 8 10 7.10457 10 6C10 4.89543 10.8954 4 12 4C13.1046 4 14 4.89543 14 6ZM16 6C16 8.20914 14.2091 10 12 10C9.79086 10 8 8.20914 8 6C8 3.79086 9.79086 2 12 2C14.2091 2 16 3.79086 16 6ZM7 17.3333C7 14.9401 8.9401 13 11.3333 13H12.6667C15.0599 13 17 14.9401 17 17.3333C17 17.7015 16.7015 18 16.3333 18H7.66667C7.29848 18 7 17.7015 7 17.3333ZM5 17.3333C5 13.8355 7.83553 11 11.3333 11H12.6667C16.1645 11 19 13.8355 19 17.3333C19 18.8061 17.8061 20 16.3333 20H7.66667C6.19391 20 5 18.8061 5 17.3333Z" fill="currentColor"/>
    </svg>
  {%- when 'washing' -%}
    <svg class="{{ class }}" {{ svg_attributes }} viewbox="0 0 16 16">
      <path fill="currentColor" d="M15.12 4.51a.5.5 0 00-.6.37l-.43 1.72-.04.02-.03.01-.03.02-.03.02-.03.01-.03.02-.03.02-.03.01-.02.01-.03.02-.03.01-.03.01-.02.01-.03.01-.03.01-.02.01-.03.01-.02.01-.02.01h-.03l-.02.01h-.02l-.03.01h-.02l-.02.01h-.02l-.03.01H13.07l-.02-.01h-.02L13 6.86h-.03l-.02-.02h-.02l-.03-.01-.02-.01-.03-.01-.02-.01-.03-.01-.03-.01-.02-.02h-.03l-.03-.02-.03-.02-.03-.01-.02-.02-.03-.01-.03-.02-.03-.01-.03-.02-.03-.02h-.02l-.03-.02-.03-.02-.03-.01-.03-.02-.1-.06-.1-.06-.03-.02-.04-.02-.03-.02-.04-.02-.03-.03-.04-.02-.03-.02-.04-.02-.04-.02-.03-.02-.04-.02-.04-.02-.03-.01-.04-.02-.04-.02-.04-.02-.04-.01-.04-.02-.04-.02-.04-.01-.04-.02-.04-.01-.04-.02-.04-.01-.05-.01-.04-.01-.04-.01-.05-.01-.04-.01-.04-.01h-.05l-.04-.01-.05-.01h-.14l-.04-.01h-.18l-.04.01h-.05l-.04.01-.05.01-.04.01-.05.01-.04.01-.04.01-.05.01-.04.02L10 6l-.04.02-.04.01-.04.02-.05.01-.04.02-.04.02-.04.01-.03.02-.04.02-.04.02-.04.02-.04.02-.03.02-.04.02-.04.02-.03.02-.04.02-.03.02-.04.02-.03.02-.04.02-.23.14-.03.02-.04.02-.03.02-.03.02-.03.01-.03.02-.03.02-.03.01-.03.02-.03.01-.03.02-.02.01-.03.02-.03.01-.03.01-.02.01-.03.01-.03.01-.02.01-.03.01-.02.01-.03.01h-.02l-.03.01-.02.01h-.02l-.02.01h-.05l-.02.01h-.3l-.02-.01H7.8l-.02-.01-.03-.01h-.02l-.02-.02h-.03l-.02-.01-.03-.01-.02-.01-.03-.01-.03-.01-.02-.02H7.5l-.03-.02-.03-.02-.03-.01-.03-.02-.03-.01-.02-.02-.03-.01-.03-.02-.04-.02-.03-.02-.03-.01-.03-.02-.03-.02-.03-.02-.2-.12-.04-.02-.03-.02-.04-.02-.03-.02-.04-.02-.03-.02-.04-.02-.04-.02-.03-.02-.04-.02-.04-.02-.03-.02-.04-.02-.04-.02-.04-.01-.04-.02-.04-.02-.04-.02-.04-.01-.04-.02-.04-.01L6.05 6H6l-.05-.02-.04-.01-.04-.01-.05-.01-.04-.01-.04-.01H5.7l-.04-.01-.05-.01h-.13l-.05-.01h-.18l-.04.01h-.05l-.04.01-.05.01-.04.01h-.05l-.04.02-.04.01-.05.01-.04.02-.04.01-.04.01-.04.02-.04.01-.04.02-.04.02-.04.02-.04.01-.04.02-.04.02-.04.02-.04.02-.04.02-.03.02-.04.02-.04.02-.03.02-.04.02-.03.02-.04.02-.03.02-.04.02-.03.02-.2.12-.03.02-.04.02-.03.02-.03.02-.03.01-.03.02-.03.02-.03.01-.03.02-.03.01-.03.02-.02.01-.03.01-.03.02-.03.01-.02.01-.03.01-.03.01-.02.01-.03.01-.02.01-.03.01H3.1l-.03.01-.02.01h-.02L3 6.88h-.05l-.02.01h-.3l-.03-.01h-.02l-.02-.01-.03-.01h-.02l-.02-.02h-.03l-.02-.01-.03-.01-.03-.01-.02-.01-.03-.01-.02-.02h-.03l-.03-.02-.03-.02-.03-.01-.03-.01-.03-.02-.02-.02-.03-.01-.03-.02-.03-.02-.04-.01-.03-.02-.03-.02-.01-.01-.42-1.68a.5.5 0 00-.97.24l2 8a.5.5 0 00.48.38h10a.5.5 0 00.48-.38l2-8a.5.5 0 00-.36-.6zm-2.51 7.99H3.39L2.22 7.8l.04.02.04.01.04.01.05.01.04.01.04.01h.05l.04.01.05.01h.13l.05.01h.18L3 7.88h.05l.04-.01h.05l.04-.02h.04l.05-.02.04-.01.05-.01.04-.01.04-.02.04-.01.04-.02.04-.01.05-.02.04-.02.04-.01.03-.02.04-.02.04-.02.04-.02.04-.02.04-.02.03-.02.04-.02.04-.02.03-.02.04-.02.03-.02.04-.02.03-.02.04-.02.23-.14.03-.02.04-.02.03-.01.03-.02.03-.02.03-.02.03-.02.03-.01.03-.02.03-.01.03-.02.02-.01.03-.01.03-.02.03-.01.02-.01.03-.01.03-.01.02-.01.03-.01.02-.01.03-.01h.02l.02-.01h.03l.02-.01.03-.01h.04l.02-.01h.3l.03.01h.02l.02.01h.03l.02.02h.02l.03.01.03.01.02.01.03.01.02.01.03.01.03.02h.02l.03.02.03.01.03.02.03.01.03.02.03.01.03.02.03.02.03.02.03.01.03.02.03.02.03.02.04.02.2.12.03.02.03.02.04.02.03.02.04.02.03.02.04.02.03.02.04.02.04.02.04.02.03.02.04.02.04.01.04.02.04.02.04.02.04.01.04.02.04.02.04.01.04.01.04.02.05.01.04.01.04.01.04.01.05.01.04.01h.05l.04.01h.05l.04.01h.09l.05.01h.18l.04-.01h.05l.04-.01.05-.01h.04l.04-.02h.05l.04-.02.04-.01.05-.01.04-.02.04-.01.04-.02.04-.01.04-.02.04-.02.04-.01.04-.02.04-.02.04-.02.04-.02.04-.02.04-.02.03-.02.04-.01.04-.02.03-.03.04-.02.03-.02.04-.02.03-.02.04-.02.03-.02.04-.02.13-.08.03-.02.03-.02.04-.01.03-.02.03-.02.03-.02.03-.02.03-.01.03-.02.03-.02.03-.01.03-.02.03-.01.02-.01.03-.02h.03l.02-.02.03-.01.02-.01.03-.01.02-.01.03-.01h.02l.03-.02h.05l.02-.01h.03l.02-.01h.02l.02-.01h.3l.02.01h.03l.02.01h.02l.03.02h.02l.02.01.03.01.02.01.03.01.03.01.02.01.03.01.03.02.02.01.03.01.03.02.03.01.03.02.03.01.02.02.03.02.03.01.04.02.03.02h.01l.03.02.03.02.03.02.1.06.04.02.06.04.04.02.03.02.04.02.03.02.04.02.03.02.04.02.03.02.04.02.04.02.03.02.04.02.04.02.04.02.04.02.03.01.04.02.04.02.05.01.04.02.04.01.04.02.04.01.04.01.05.02h.04l.04.02h.04l.05.01.04.01h.09l.05.01h.09l.05.01h.18l.04-.01h.05l.04-.01h.05l.04-.02h.04l.05-.01.04-.02h.02l-1.17 4.67z"/>
    </svg>
  {%- when 'zoom' -%}
    <svg class="{{ class }}" {{ svg_attributes }} viewBox="0 0 19 19">
      <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M4.66724 7.93978C4.66655 7.66364 4.88984 7.43922 5.16598 7.43853L10.6996 7.42464C10.9758 7.42395 11.2002 7.64724 11.2009 7.92339C11.2016 8.19953 10.9783 8.42395 10.7021 8.42464L5.16849 8.43852C4.89235 8.43922 4.66793 8.21592 4.66724 7.93978Z"/>
      <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M7.92576 4.66463C8.2019 4.66394 8.42632 4.88723 8.42702 5.16337L8.4409 10.697C8.44159 10.9732 8.2183 11.1976 7.94215 11.1983C7.66601 11.199 7.44159 10.9757 7.4409 10.6995L7.42702 5.16588C7.42633 4.88974 7.64962 4.66532 7.92576 4.66463Z"/>
      <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M12.8324 3.03011C10.1255 0.323296 5.73693 0.323296 3.03011 3.03011C0.323296 5.73693 0.323296 10.1256 3.03011 12.8324C5.73693 15.5392 10.1255 15.5392 12.8324 12.8324C15.5392 10.1256 15.5392 5.73693 12.8324 3.03011ZM2.32301 2.32301C5.42035 -0.774336 10.4421 -0.774336 13.5395 2.32301C16.6101 5.39361 16.6366 10.3556 13.619 13.4588L18.2473 18.0871C18.4426 18.2824 18.4426 18.599 18.2473 18.7943C18.0521 18.9895 17.7355 18.9895 17.5402 18.7943L12.8778 14.1318C9.76383 16.6223 5.20839 16.4249 2.32301 13.5395C-0.774335 10.4421 -0.774335 5.42035 2.32301 2.32301Z"/>
    </svg>
{%- endcase -%}
