{%- comment -%}
  Renders the language picker for the localization form

  Accepts:
    - localPosition: pass in the position in which the form is coming up to create specific IDs
{%- endcomment -%}

<div class="localization-form relative">
  <button
    type="button"
    class="localization-form__button flex items-center gap-4 whitespace-nowrap bg-white p-2"
    aria-expanded="false"
    aria-controls="{{ localPosition }}List"
    aria-describedby="{{ localPosition }}Label">
    <span>{{ localization.language.endonym_name | capitalize }}</span>
    {% render 'icons', icon: 'chevron-down' %}
  </button>
  <div
    class="localization-form__list-wrapper absolute top-10 bg-white p-2"
    hidden
    data-localization-list>
    <ul id="{{ localPosition }}List" role="list" class="localization-form__list list-unstyled">
      {%- for language in localization.available_languages -%}
        {%- if localization.language.endonym_name != language.endonym_name -%}
          <li class="localization-form__item" tabindex="-1">
            <a
              class="link link--text localization-form__link caption-large{% if language.iso_code == localization.language.iso_code %} localization-form__link--active{% endif %} focus-inset"
              href="#"
              hreflang="{{ language.iso_code }}"
              lang="{{ language.iso_code }}"
              {% if language.iso_code == localization.language.iso_code %}
                aria-current="true"
              {% endif %}
              data-value="{{ language.iso_code }}">
              {{ language.endonym_name | capitalize }}
            </a>
          </li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
  </div>
</div>
<input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}">
