{%- liquid
  assign customer_accounts = false
  if shop.customer_accounts_enabled or shop.customer_accounts_optional
    assign customer_accounts = true
  endif

  capture menu_name
    render 'render-translation', namespace: 'accessibility', key: 'navigation', fallback: 'Menu'
  endcapture
  assign menu_name = menu_name | downcase
-%}

{%- comment -%}  Renders the menu drawer {%- endcomment -%}
<div
  id="mobileMenu"
  class="mobile-menu lg:hidden {{ section.settings.color_scheme }}"
  role="dialog"
  aria-label="{%- render 'render-translation', namespace: 'accessibility', key: 'mobile_menu', fallback: 'Mobile menu' -%}">
  <collapsible-component
    class="
      mobile-menu__inner
      fixed
      bottom-0
      start-0
      top-0
      z-modal
      flex
      h-full
      w-full
      -translate-x-full
      flex-col
      overflow-x-hidden
      bg-inherit
      text-inherit
      opacity-0
      transition-all
      duration-300

      {% comment %} When the body has class mobile-menu-is-open {% endcomment %}
      group-[.mobile-menu-is-open]/body:translate-x-0
      group-[.mobile-menu-is-open]/body:opacity-100
      xs:max-w-sm"
      data-options='
      {
        "closeSiblings": true,
        "isMobileMenu": true
      }
    '>
    <div class="mobile-menu__wrapper invisible group-[.mobile-menu-is-open]/body:visible h-screen">
      {% comment %} Header with close button {% endcomment %}
      <div class="mobile-menu__header px-4 py-3 sticky top-0 z-sticky {{ section.settings.color_scheme }}">
        <class-toggle-component
          class="inline-flex h-full"
          data-options='
            {
              "classToToggle": "mobile-menu-is-open"
            }
          '>
          <button
            type="button"
            aria-label="{%- render 'render-translation', namespace: 'accessibility', key: 'toggle_menu_drawer', fallback: 'Toggle menu drawer' -%}"
            class="mobile-menu__toggle-button button button--outline relative cursor-pointer rounded-full border-transparent p-3 states:bg-transparent">
            {%- render 'icons', icon: 'close', icon_class: 'w-6' -%}
          </button>
        </class-toggle-component>
      </div>
      <nav
        class="mobile-menu__content relative flex-1 h-[calc(100%-72px)] pb-4 overflow-y-auto overflow-x-hidden"
        aria-label="{%- render 'render-translation', namespace: 'accessibility', key: 'mobile_menu', fallback: 'Mobile menu' -%}">
        {%- comment -%} Level 1 {%- endcomment -%}
        <ul class="mobile-menu__list level-1">
          {%- for level_1 in menu_list.links -%}
            {%- liquid
              # Get link and fix deep link to native filters
              assign level_1_url = level_1.url
              if level_1_url contains 'collections' and level_1_url contains 'filter'
                assign link_1_url = link_1_url | replace: '%3F', '?'
              endif
              # check if item should be highlighted
              assign link_classes = ''
              assign level_1_title = level_1.title
              if level_1_title contains '[HIGHLIGHT]'
                assign level_1_title = level_1.title | remove: '[HIGHLIGHT]' | strip
                assign link_classes = 'button button--lg lg:button--md border-transparent me-8 my-2 ms-[calc(2rem-10px)] inline-block ps-2.5 pe-3'
              endif
              # if link is active
              assign link_active_class = 'active'
              assign level_1_is_active = false
              if level_1.child_active or level_1.current
                assign level_1_is_active = true
              endif
              assign level_1_has_link = true
              if level_1_url == '#'
                assign level_1_has_link = false
              endif
              assign sublevel_title_class = 'h3 m-0 px-8 py-4 no-underline'
              assign mobile_menu_link_class = 'mobile-menu__link block no-underline py-3 px-8'
              assign mobile_return_link_class = 'mobile-menu__return flex w-full items-center gap-2 px-4 py-5 text-sm no-underline p-[1px]'
              assign mobile_submenu_class = 'mobile-menu__submenu invisible absolute bottom-0 start-0 top-0 z-10 block w-full translate-x-full overflow-y-auto transition-all duration-300 flex flex-col min-h-mobile-menu'
            -%}
            {%- if level_1.links == blank -%}
              <li class="mobile-menu__item level-1">
                <a
                  href="{{ level_1_url }}"
                  class="{{ mobile_menu_link_class }} level-1 {{ link_classes }} {% if level_1_is_active -%}{{ link_active_class }}{%- endif -%}"
                  {% if level_1.current %}
                    aria-current="page"
                  {% endif %}>
                  {{ level_1_title }}
                </a>
              </li>
              {%- comment -%} Level 1 with submenu {%- endcomment -%}
            {%- else -%}
              <li class="mobile-menu__item level-1 group/submenu-1 p-[1px]" data-collapsible-group>
                <button
                  class="{{ mobile_menu_link_class }} level-1 flex w-full items-center justify-between gap-2 {{ link_classes }} {% if level_1_is_active -%}{{ link_active_class }}{%- endif -%}"
                  data-collapsible-trigger>
                  <span>
                    {{- level_1_title -}}
                  </span>
                  {%- render 'icons', icon: 'chevron-right', icon_class: 'w-4' -%}
                </button>

                <div
                  id="link-{{ level_1_title | handleize }}"
                  class="{{ mobile_submenu_class }} level-1 group/submenu-2 group-[.collapsible-is-open]/submenu-1:visible group-[.collapsible-is-open]/submenu-1:translate-x-0 {{ section.settings.color_scheme }}"
                  data-collapsible-target>
                  {%- comment -%} Link back to level 1 {%- endcomment -%}
                  <button
                    class="{{ mobile_return_link_class }} level-2"
                    aria-expanded="true"
                    data-collapsible-trigger>
                    {%- render 'icons', icon: 'chevron-left', icon_class: 'w-4 ms-3' -%}
                    {{ section.settings.back_link | replace: '[title]', menu_name }}
                  </button>

                  {%- liquid
                    # Level 1 title
                    assign level_1_title_start_el = 'div'
                    assign level_1_title_end_el = 'div'
                    if level_1_has_link
                      assign level_1_title_start_el = 'a href="' | append: level_1_url | append: '"'
                      assign level_1_title_end_el = 'a'
                    endif
                  -%}

                  {% comment %} Level 1 title {% endcomment %}
                  <{{ level_1_title_start_el }} class="{{ sublevel_title_class }}">
                    {{- level_1_title -}}
                  </{{ level_1_title_end_el }}>

                  {%- comment -%} Level 2 {%- endcomment -%}
                  <ul class="mobile-menu__list level-2 flex-1 pb-8">
                    {%- for level_2 in level_1.links -%}
                      {%- liquid
                        # Get link and fix deep link to native filters
                        assign level_2_url = level_2.url
                        if level_2_url contains 'collections' and level_2_url contains 'filter'
                          assign level_2_url = level_2_url | replace: '%3F', '?'
                        endif

                        # if link is active
                        assign level_2_is_active = false
                        if level_2.child_active or level_2.current
                          assign level_2_is_active = true
                        endif

                        assign level_2_has_link = true
                        if level_2_url == '#'
                          assign level_2_has_link = false
                        endif
                        assign level_2_title = level_2.title
                      -%}
                      {%- if level_2.links == blank -%}
                        {%- comment -%} Level 2 without submenu {%- endcomment -%}
                        <li class="mobile-menu__item level-2">
                          <a
                            href="{{ level_2_url }}"
                            class="{{ mobile_menu_link_class }} level-2 {% if level_2_is_active -%}{{ link_active_class }}{%- endif -%}"
                            {% if level_2.current %}
                              aria-current="page"
                            {% endif %}>
                            {{ level_2_title }}
                          </a>
                        </li>
                      {%- else -%}
                        {%- comment -%} Level 2 with submenu {%- endcomment -%}
                        <li class="mobile-menu__item level-2 group/submenu-2" data-collapsible-group>
                          <button class="{{ mobile_menu_link_class }} level-2 flex w-full items-center justify-between gap-2 {% if level_2_is_active -%}{{ link_active_class }}{%- endif -%}" data-collapsible-trigger>
                            <span>
                              {{- level_2_title -}}
                            </span>
                            {%- render 'icons', icon: 'chevron-right', icon_class: 'w-4' -%}
                          </button>
                          <div
                            id="childlink-{{ level_2.title | handleize }}"
                            class="{{ mobile_submenu_class }} level-2 group-[.collapsible-is-open]/submenu-2:visible group-[.collapsible-is-open]/submenu-2:translate-x-0 {{ section.settings.color_scheme }}"
                            data-collapsible-target>

                            {%- comment -%} Link back to level 2 {%- endcomment -%}
                            <button
                              class="{{ mobile_return_link_class }} level-3"
                              aria-expanded="true"
                              data-collapsible-trigger>
                              {%- render 'icons', icon: 'chevron-left', icon_class: 'w-4 ms-3' -%}
                              {{ section.settings.back_link | replace: '[title]', level_1_title }}
                            </button>

                            {%- liquid
                              # Level 2 title
                              assign level_2_title_start_el = 'div'
                              assign level_2_title_end_el = 'div'
                              if level_2_has_link
                                assign level_2_title_start_el = 'a href="' | append: level_2_url | append: '"'
                                assign level_2_title_end_el = 'a'
                              endif
                            -%}
                            <{{ level_2_title_start_el }} class="{{ sublevel_title_class }}">
                              {{- level_2_title -}}
                            </{{ level_2_title_end_el }}>

                            {%- comment -%} Level 3 {%- endcomment -%}
                            <ul class="mobile-menu__list level-3 pb-8">
                              {%- for level_3 in level_2.links -%}
                                {%- liquid
                                  # Get link and fix deep link to native filters
                                  assign level_3_url = level_3.url
                                  if level_3_url contains 'collections' and level_3_url contains 'filter'
                                    assign level_3_url = level_3_url | replace: '%3F', '?'
                                  endif
                                  # If link is active
                                  assign level_3_is_active = false
                                  if level_3.current
                                    assign level_3_is_active = true
                                  endif
                                -%}
                                {%- comment -%} Level 3 {%- endcomment -%}
                                <li class="mobile-menu__item level-3">
                                  <a
                                    href="{{ level_3_url }}"
                                    class="{{ mobile_menu_link_class }} level-3 {% if level_3_is_active -%}{{ link_active_class }}{%- endif -%}"
                                    {% if level_3.current %}
                                      aria-current="page"
                                    {% endif %}>
                                    {{- level_3.title -}}
                                  </a>
                                </li>
                              {%- endfor -%}
                            </ul>
                          </div>
                        </li>
                      {%- endif -%}

                      {%- liquid
                        assign images = ''
                        # Check for blocks that are linked to level 1.
                        if section.blocks.size > 0
                          capture images
                            render 'header-images', section: section, level_1_title: level_1_title
                          endcapture
                        endif
                      -%}
                    {%- endfor -%}
                  </ul>
                  {% comment %} Render the images, if they exist {% endcomment %}
                  {%- if images != '' -%}
                    <div class="header__image justify-self-end">
                      {{- images -}}
                    </div>
                  {%- endif -%}
                </div>
              </li>
            {%- endif -%}
          {%- endfor -%}
        </ul>
        {%- comment -%} Links to account, cart and search {%- endcomment -%}
        {%- if section.settings.show_mobile_cart_link or section.settings.show_mobile_search_link or customer_accounts and section.settings.show_mobile_customer_link -%}
          {%- assign link_class = 'mobile-menu__link relative flex w-full items-center gap-2 py-3 px-8 text-inherit no-underline capitalize' -%}
          <ul class="mobile-menu__icon-list mt-4">
            {%- comment -%} Render account link for mobile if it should be hidden in the icon nav {%- endcomment -%}
            {%- if customer_accounts and section.settings.show_mobile_customer_link -%}
              <li class="mobile-menu__item level-1">
                <a
                  href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}"
                  class="{{ link_class }} {% if request.page_type == 'customers/login' %}active{% endif %}">
                  {%- liquid
                    render 'icons', icon: 'user', icon_class: 'w-4'
                    if customer
                      render 'render-translation', namespace: 'customer', key: 'account_fallback', fallback: 'Account'
                    else
                      render 'render-translation', namespace: 'customer', key: 'log_in', fallback: 'Log in'
                    endif
                  -%}
                </a>
              </li>
            {%- endif -%}
            {% comment %} Cart link {% endcomment %}
            {%- if section.settings.show_mobile_cart_link -%}
              <li class="mobile-menu__item level-1">
                <a
                  href="{{ routes.cart_url }}"
                  class="{{ link_class }} {% if request.page_type == 'cart' %}active{% endif %}">
                  {%- liquid
                    render 'icons', icon: 'cart', icon_class: 'w-4'
                    render 'render-translation', namespace: 'sections.cart', key: 'title', fallback: 'Cart'
                  -%}
                </a>
              </li>
            {%- endif -%}
            {% comment %} Search link {% endcomment %}
            {%- if section.settings.show_mobile_search_link -%}
              <li class="mobile-menu__item level-1">
                <a
                  href="{{ routes.search_url }}"
                  class="{{ link_class }} {% if template.name == 'search' %}active{% endif %}">
                  {%- liquid
                    render 'icons', icon: 'search', icon_class: 'w-4'
                    render 'render-translation', namespace: 'general.search', key: 'search', fallback: 'Search'
                  -%}
                </a>
              </li>
            {%- endif -%}
          </ul>
        {%- endif -%}
      </nav>
    </div>
  </collapsible-component>

  {% comment %} Backdrop {% endcomment %}
  <class-toggle-component
    class=" mobile-menu__backdrop backdrop group-[.mobile-menu-is-open]/body:backdrop--active z-modal-backdrop lg:hidden"
    tabindex="-1"
    aria-hidden="true"
    data-options='
      {
        "classToToggle": "mobile-menu-is-open"
      }
    '></class-toggle-component>
</div>
