{%- comment -%}
  Outputs the header desktop menu.

  Accepts:
  - section:          {Object} Section liquid object (required)
  - menu_list:        {Object} Menu liquid object (required)

  Usage:
    {%- render 'header-menu', section: section, menu_list: menu_list -%}
{%- endcomment -%}

{%- if menu_list != blank -%}
  <header-collapsible-component
    class="header__menu hidden text-center lg:col-span-8 lg:block"
    data-options='
      {
        "closeSiblings": true,
        "onHover": true,
        "hoverDelay": 300,
        "closeOnMouseleave": true
      }
    '>
    {%- comment -%} Level 1 {%- endcomment -%}
    <nav aria-label="{%- render 'render-translation', namespace: 'accessibility', key: 'desktop_menu', fallback: 'Desktop menu' -%}">
      <ul class="header__menu-list header__menu-list--level-1 flex items-center justify-center">
        {%- for level_1 in menu_list.links -%}
          {%- liquid
            # Get link and fix deep link to native filters
            assign link_1_url = level_1.url
            if link_1_url contains 'collections' and link_1_url contains 'filter'
              assign link_1_url = link_1_url | replace: '%3F', '?'
            endif

            # check if item should be highlighted
            assign link_classes = 'px-4 py-6 text-inherit'
            assign link_1_title = level_1.title
            assign is_highlight = false
            if link_1_title contains '[HIGHLIGHT]'
              assign link_1_title = level_1.title | remove: '[HIGHLIGHT]' | strip
              if level_1.links == blank
                assign is_highlight = true
                assign link_classes = 'button button--sm border-transparent inline leading-none mx-3'
              endif
            endif

            assign header_link_active_class = 'active'

            # if link is active
            assign level_1_active = false
            if level_1.child_active or level_1.current
              assign level_1_active = true
            endif

            assign header_menu_link_classes = 'header__menu-link relative flex gap-1 items-center whitespace-nowrap text-start text-sm font-bold no-underline states:no-underline'
          -%}

          {%- if level_1.links == blank -%}
            {%- comment -%} Output level 1 without submenu. {%- endcomment -%}
            <li class="header__menu-item level-1">
              <a
                href="{{ link_1_url }}"
                class="{{- header_menu_link_classes }} level-1 {{ link_classes }} {% if level_1_active and is_highlight == false -%}{{ header_link_active_class }}{%- endif %}"
                {% if level_1.current %}
                  aria-current="page"
                {% endif %}>
                {{- link_1_title | escape -}}
              </a>
            </li>
          {%- else -%}
            {%- liquid
              # Set the layout type default to single submenu.
              assign submenu_layout = 'single'
              if level_1.links != blank
                assign submenu_layout = 'multi'
              endif

              assign images = ''

              # Capture the images
              if section.blocks.size > 0 and submenu_layout == 'multi'
                capture images
                  render 'header-images', section: section, link_1_title: link_1_title
                endcapture
              endif
            -%}

            {%- comment -%} Capture the submenu {%- endcomment -%}
            {%- capture submenu -%}

              {%- for level_2 in level_1.links -%}
                {%- liquid
                  # Get link and fix deep link to native filters
                  assign level_2_url = level_2.url
                  if level_2_url contains 'collections' and level_2_url contains 'filter'
                    assign level_2_url = level_2_url | replace: '%3F', '?'
                  endif
                -%}

                <li class="w-1/4">
                  {% comment %} Render the level 2 as a collapsible {% endcomment %}
                  {%- if level_2.links != blank -%}
                    <div data-collapsible-group>
                      <button class="{{- header_menu_link_classes }} level-2 w-full py-1.5" data-collapsible-trigger>
                        {{- level_2.title | escape -}}
                        {%- render 'icons', icon: 'chevron-right', icon_class: 'w-4' -%}
                      </button>
                      {%- comment -%} Level 3 {%- endcomment -%}
                      <ul class="header__menu-list level-3 absolute start-1/4 top-0 h-full w-3/4" data-collapsible-target tabindex="-1">
                        {%- for level_3 in level_2.links -%}

                          {%- liquid
                            # Get link and fix deep link to native filters
                            assign grandchildlink_url = level_3.url
                            if grandchildlink_url contains 'collections' and grandchildlink_url contains 'filter'
                              assign grandchildlink_url = grandchildlink_url | replace: '%3F', '?'
                            endif

                            # if link is active
                            assign level_3_active = false
                            if level_3.current
                              assign level_3_active = true
                            endif
                          -%}
                          <li>
                            <a
                              href="{{ grandchildlink_url }}"
                              class="{{- header_menu_link_classes }} level-3 py-1.5 font-normal focus-visible:-outline-offset-1 {% if level_3_active -%}{{ header_link_active_class }}{%- endif %}"
                              {% if level_3.current -%}
                                aria-current="page"
                              {% endif -%}
                            >
                              {{ level_3.title | escape }}
                            </a>
                          </li>
                        {%- endfor -%}
                      </ul>
                    </div>

                  {%- else -%}
                    {%- liquid
                      # if link is active
                      assign level_2_active = false
                      if level_2.child_active or level_2.current
                        assign level_2_active = true
                      endif
                    -%}
                    <a
                      href="{{ level_2_url }}"
                      class="{{- header_menu_link_classes }} level-2 py-1.5 {% if level_2_active -%}{{ header_link_active_class }}{%- endif %}"
                      {% if level_2.current %}
                        aria-current="page"
                      {% endif %}
                    >
                      {{- level_2.title | escape -}}
                    </a>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            {%- endcapture -%}

            {%- comment -%} Level 1 trigger with submenu {%- endcomment -%}
            <li
              class="header__menu-item header__menu-item--multi level-1 group/menu-item"
              data-collapsible-group>
              <a
                href="{{ link_1_url }}"
                class="{{- header_menu_link_classes }} level-1 {{ link_classes }} {% if level_1_active -%}{{ header_link_active_class }}{%- endif %}"
                {%- if level_1.current %}
                  aria-current="page"
                {% endif %}
                data-collapsible-trigger>
                {{- link_1_title | escape -}}
                {%- render 'icons', icon: 'collapsible', icon_class: 'w-4 transition-tranform group-[.collapsible-is-open]/menu-item:rotate-180' -%}
              </a>
              <div
                class="header__inner-container {% if submenu_layout == 'multi' and images != '' %}inset-x-0 w-full ps-10{% endif %} absolute top-full hidden group-[.collapsible-is-open]/menu-item:block {{ section.settings.color_scheme }}"
                data-collapsible-target
                tabindex="-1">
                <div class="header__navigation-container content-wrapper grid grid-cols-12 gap-x-4 gap-y-0 p-4">
                  <ul class="header__menu-list level-2 relative col-span-8 flex flex-col gap-y-2">
                    {{- submenu -}}
                  </ul>

                  {%- if images != '' -%}
                    <div class="header__image col-span-4 col-start-9 grid gap-4">
                      {{- images -}}
                    </div>
                  {%- endif -%}
                </div>
              </div>
            </li>
          {%- endif -%}
        {%- endfor -%}
      </ul>
    </nav>
  </header-collapsible-component>
{%- endif -%}
