{% comment %}
  Renders a set of links for paginated results. Must be used within paginate tags.

  Usage:
  {% paginate results by 2 %}
    {% render 'pagination', paginate: paginate, anchor: '#yourID' %}
  {% endpaginate %}

  Accepts:
  - paginate: {Object}
  - anchor: {String} (optional) This can be added so that on page reload it takes you to wherever you've placed your anchor tag.
  - class: {String} (optional) Appended to container element's class attribute
{% endcomment %}

{%- if paginate.parts.size > 0 -%}
  {%- liquid
    assign pagination_item_class = 'block p-3 text-sm'
    assign pagination_nav_item_classes = 'relative flex h-8 w-8 items-center justify-center rounded-full border p-0 transition-colors hover:border-primary touch:h-12 touch:w-12'
  -%}

  <nav
    class="pagination {{ class | default: 'my-14 block lg:my-16' }}"
    aria-label="{% render "render-translation", namespace: "general.pagination.label", fallback: "Label" %}">
    <ul class="pagination__list flex flex-wrap items-center justify-center text-sm font-bold">
      {%- if paginate.previous -%}
        <li class="me-3">
          <a
            href="{{ paginate.previous.url }}{{ anchor }}"
            class="pagination__item pagination__item--prev group/pagination-prev {{ pagination_nav_item_classes }}"
            aria-label="{% render "render-translation", namespace: "general.pagination.previous", fallback: "Previous" %}"
            data-pagination-trigger>
            {%- render 'icons', icon: 'chevron-left', icon_class: 'w-3 group-hover/pagination-prev:scale-125 transition-all' -%}
          </a>
        </li>
      {%- endif -%}

      {%- for part in paginate.parts -%}
        <li>
          {%- if part.is_link -%}
            <a
              href="{{ part.url }}{{ anchor }}"
              class="pagination__item {{ pagination_item_class }} text-inherit no-underline hover:text-primary states:no-underline"
              data-pagination-trigger>
              <span class="sr-only">{{ 'general.pagination.page' | t: number: part.title }}</span>
              <span aria-hidden="true">
                {{- part.title -}}
              </span>
            </a>
          {%- else -%}
            {%- if part.title == paginate.current_page -%}
              <span
                class="pagination__item pagination__item--current {{ pagination_item_class }} text-primary"
                aria-current="page"
                data-pagination-trigger>
                <span class="sr-only">{{ 'general.pagination.page' | t: number: part.title }}</span>
                <span aria-hidden="true">
                  {{- part.title -}}
                </span>
              </span>
            {%- else -%}
              <span class="pagination__item {{ pagination_item_class }}">
                {{- part.title -}}
              </span>
            {%- endif -%}
          {%- endif -%}
        </li>
      {%- endfor -%}

      {%- if paginate.next -%}
        <li class="ms-3">
          <a
            href="{{ paginate.next.url }}{{ anchor }}"
            class="pagination__item pagination__item--next group/pagination-next {{ pagination_nav_item_classes }}"
            aria-label="{% render "render-translation", namespace: "general.pagination.next", fallback: "Next" %}"
            data-pagination-trigger>
            {%- render 'icons', icon: 'chevron-right', icon_class: 'w-3 group-hover/pagination-next:scale-125 transition-all' -%}
          </a>
        </li>
      {%- endif -%}
    </ul>
  </nav>
{%- endif -%}
