{% comment %}
  Renders a product card

  Accepts:
  - product_object:         {Object} Product liquid object. (required)
  - image_aspect_ratio:     {String} Aspect of the product image card. Values are "square" and "portrait". Default is "square". (optional)
  - crop:                   {String} Defaults to 'center'. Set to 'center / top / left / right / bottom' to crop the image with the specified size. Requires both height and width in image_size. (optional)
  - image_sizes:            {String} The img sizes attribute. (optional)
  - image_max_width:        {String} The maximum @1x image size, will be * 2 in output. (optional)
  - image_alt:              {String} The img alt attribute. (optional)
  - image_title:            {String} The img title attribute. (optional)
  - show_vendor:            {Boolean} Show the product vendor. Default: false. (optional)
  - show_secondary_image:   {Boolean} Show the secondary image on hover. Default: false. (optional)
  - view:                   {String} The collection template view can be 'default' or 'alt'. For view = alt, the product images are rendered as swipers. (optional)
  - product_card_title_el:  {String} h3, h4, etc. (optional) Defaults to h2.

  Usage:
    {%- render 'product-card', product_object: product -%}

  Defaults:
{% endcomment %}

{%- liquid
  # Image logic
  if image_lazy == null
    assign image_lazy = true
  endif

  unless image_aspect_ratio
    assign image_aspect_ratio = settings.product_card_image_aspect
  endunless

  unless image_crop
    assign image_crop = 'center'
  endunless

  unless image_sizes
    assign image_sizes = '100vw'
  endunless

  unless image_max_width
    assign image_max_width = 328
  endunless

  unless show_vendor
    assign show_vendor = settings.show_vendor
  endunless

  unless show_secondary_image
    assign show_secondary_image = settings.show_secondary_image
    assign secondary_image = product_object.images[1]
  endunless

  assign product_link = product_object.url
  if settings.use_within_collection_link and collection
    assign product_link = product_object.url | within: collection
  endif

  assign product_link_image = product_object.featured_image
  unless image_alt
    assign image_alt = product_object.featured_image.alt
    if image_alt == blank
      assign image_alt = product_object.title
    endif
  endunless

  unless image_title
    assign image_title = product_object.title
  endunless

  unless product_card_title_el
    assign product_card_title_el = 'h2'
  endunless

  # Quick shop logic
  unless show_quick_shop
    assign show_quick_shop = false
  endunless

  if settings.enable_quick_shop == true and product_object.available
    assign show_quick_shop = true

    if product_object.options_with_values.size == 2
      if product_object.options_with_values.first.values.size > 1
        assign multiple_first_option = true
      endif

      if product_object.options_with_values.last.values.size > 1
        assign multiple_last_option = true
      endif

      if multiple_first_option == true and multiple_last_option == true
        assign show_quick_shop = false
      elsif multiple_last_option == true
        assign quick_shop_render_second_option = true
      endif
    elsif product_object.options_with_values.size > 2
      assign show_quick_shop = false
    endif
  endif
-%}

{%- liquid
  # Start output product card
  assign product_card_state_classes = ''
  if view != blank
    assign product_card_state_classes = 'z-20 product-card--' | append: view
  endif
-%}
<article
  class="product-card group/product-card relative z-0 flex h-full flex-col gap-4 overflow-hidden {{ product_card_state_classes }} group-[.color-scheme]/color-scheme:bg-white group-[.color-scheme]/color-scheme:pb-4 {% if view == 'alt' -%}rounded-md border border-gray-100 p-4{%- endif %} md:border-none md:p-0"
  data-product-card>
  {%- comment -%} Accesibility text {%- endcomment -%}
  <a
    href="{{ product_link }}"
    class="product-card__sr-link button button--primary sr-only !absolute inset-[3px] bottom-auto z-20 !px-2 focus:not-sr-only focus:p-2 focus:outline-dashed focus:outline-1 states:no-underline"
    title="{{ product_object.title }}">
    {%- render 'render-translation', namespace: 'products.product', key: 'go_to_product', fallback: 'Go to product page' -%}
    :
    {{ product_object.title -}}
  </a>

  <header>
    {%- comment -%} Product images {%- endcomment -%}
    <div class="product-card__images relative px-4 group-[.color-scheme]/color-scheme:pt-4">
      {%- liquid
        # Render quick shop
        if show_quick_shop
          render 'quick-shop', product: product_object, quick_shop_render_second_option: quick_shop_render_second_option
        endif
      -%}

      {%- comment -%} Render image with hover {%- endcomment -%}
      <a
        class="product-card__image relative block {% unless product_object.available -%}opacity-50 saturate-50{%- endunless %} {% unless show_secondary_image %}transition-all states:scale-105{%- endunless -%}"
        href="{{ product_link }}"
        title="{{ product_object.title }}"
        tabindex="-1">
        {%- render 'responsive-image',
          image_object: product_link_image,
          max_width: image_max_width,
          aspect_ratio: image_aspect_ratio,
          crop: image_crop,
          sizes: image_sizes,
          alt: image_alt,
          title: image_title,
          class: 'product-card__image--primary block mb-0 mx-auto'
        -%}
        {%- if secondary_image != null and show_secondary_image -%}
          {%- render 'responsive-image',
            image_object: secondary_image,
            max_width: image_max_width,
            aspect_ratio: image_aspect_ratio,
            crop: image_crop,
            sizes: image_sizes,
            alt: image_alt,
            title: image_title,
            class: 'product-card__image--secondary absolute object-cover inset-0 mb-0 transition-opacity duration-300 block opacity-0 group-hover/product-card:opacity-100 group-focus/product-card:opacity-100 mx-auto'
          -%}
        {%- endif -%}
      </a>

      {%- liquid
        # Render badges
        render 'product-badges', product: product_object
      -%}
    </div>

    {%- comment -%} Product information {%- endcomment -%}
    {%- liquid
      assign product_card_information_classes = 'text-center'
      if view == 'alt'
        assign product_card_information_classes = 'pt-3 text-center'
      endif
    -%}
    <a
      href="{{ product_link }}"
      title="{{ product_object.title }}"
      class="product-card__information block grow px-4 text-sm text-text-default no-underline states:text-primary states:no-underline {{ product_card_information_classes }}"
      tabindex="-1">
      {%- comment -%} Vendor {%- endcomment -%}
      {%- if show_vendor -%}
        <p class="product-card__vendor mb-0 text-sm">
          <span class="sr-only">
            {%- render 'render-translation', namespace: 'accessibility', key: 'vendor', fallback: 'Vendor' -%}
          </span>
          <span class="block opacity-70">
            {{- product_object.vendor -}}
          </span>
        </p>
      {%- endif -%}

      {%- comment -%} Title {%- endcomment -%}
      {%- if product_object.title -%}
        <{{ product_card_title_el }} class="product-card__title label-md mb-0">{{- product_object.title -}}</{{ product_card_title_el }}>
      {%- endif -%}
    </a>
  </header>

  <footer class="flex h-full flex-col items-center justify-end gap-2 text-center">
    {% comment %} Render formatted price {% endcomment %}
    {% render 'render-price', product: product_object %}

    <div class="flex gap-base">
      {% comment %} ATC button to display the options {% endcomment %}
      {%- if show_quick_shop -%}
        {% comment %} Show quick_shop button {% endcomment %}
        {%- liquid
          assign quick_shop_button_classes = 'hidden'
          if view == 'alt'
            assign quick_shop_button_classes = 'block no-touch:md:hidden'
          endif
        -%}
        <button
          type="button"
          class="button button--primary quick-shop__btn-add relative z-20 mx-auto {{ quick_shop_button_classes }}"
          data-quick-shop-toggle>
          {%- render 'render-translation', namespace: 'products.product', key: 'add_to_cart', fallback: 'Add to cart' -%}
        </button>
      {% endif %}

      {% comment %} Link to PDP {% endcomment %}
      <a href="{{ product_object.url }}" class="button button--outline mx-auto rounded-full p-2 touch:p-3" tabindex="-1">
        {%- render 'icons', icon: 'arrow', icon_class: 'w-5' -%}
        <span class="sr-only">
          {%- render 'render-translation', namespace: 'products.product', key: 'go_to_product', fallback: 'Go to product page' -%}
        </span>
      </a>
    </div>
  </footer>
</article>
