
{%- comment -%}
  Output product grid
{%- endcomment -%}

{%- liquid
  capture collection_grid_classes
    if template.suffix contains 'alt'
      echo 'collection__grid--alt'
    endif
  endcapture

  paginate collection.products by settings.products_per_page
    assign total_for_first_pages = paginate.items | divided_by: settings.products_per_page | times: settings.products_per_page
    assign items_on_last_page = paginate.items | minus: total_for_first_pages
    if items_on_last_page == 0
      assign items_on_last_page = settings.products_per_page
    endif

    assign progress_end = settings.products_per_page
    if progress_end > paginate.items
      assign progress_end = paginate.items
    elsif paginate.pages == paginate.current_page
      assign progress_end = items_on_last_page
    endif

    assign current_html = progress_end | prepend: '<span data-progress-current>' | append: '</span>'
    assign total_html = paginate.items | prepend: '<span data-progress-total>' | append: '</span>'
  endpaginate
-%}

{%- if pagination_type == 'load-more' -%}
  <load-more>
    <input type="hidden" value="{{ paginate.pages }}" data-total-pages>
    <input type="hidden" value="{{ paginate.items }}" data-total-items>
    <input type="hidden" value="{{ items_on_last_page }}" data-items-on-last-page>
    <input type="hidden" value="{{ paginate.current_page }}" data-current-page>
    {%- if paginate.pages > 1 -%}
      <div class="load-more load-more--prev text-center my-8 flex justify-center items-center empty:my-0" data-pagination-prev>
        {%- if paginate.current_page > 1 -%}
          <a href="{{ paginate.previous.url }}" class="button button--primary" data-load-trigger="prev">
            <span data-load-text>{% render "render-translation", namespace: "sections.load_more", key: "previous", fallback: "Previous" %}</span>
            <span class="hidden" data-loader>{% render "render-translation", namespace: "sections.load_more", key: "loading", fallback: "" %}</span>
          </a>
        {%- endif -%}
      </div>
    {%- endif -%}
{%- endif -%}

  <ul
    class="collection__grid {{ collection_grid_classes }} m-0 grid grid-cols-12 gap-x-4 gap-y-8 {% if settings.filter_display != 'grid' -%}2xl:grid-cols-10{%- endif -%}"
    data-products-wrapper>
    {%- liquid
      assign image_alt = product.title
      assign image_title = product.title

      assign classes = 'col-span-6 md:col-span-4'
      assign default_sizes = '(min-width: 1280px) 25vw, (min-width: 768px) 33vw'

      # Overwrite sizes based on template suffix alt layout
      if template.suffix contains 'alt'
        assign classes = 'col-span-12 md:col-span-4'
        assign sizes = default_sizes | prepend: '(min-width: 1440px) 328px, ' | append: ', 100vw'
        if settings.filter_display != 'grid'
          assign sizes = default_sizes | prepend: '(min-width: 1440px) 230px, ' | append: ', 100vw'
        endif
      else
        assign sizes = default_sizes | prepend: '(min-width: 1440px) 205px, ' | append: ', 50vw'
        if settings.filter_display != 'grid'
          assign sizes = default_sizes | prepend: '(min-width: 1440px) 230px, ' | append: ', 50vw'
        endif
      endif

      if settings.filter_display != 'grid'
        assign classes = classes | append: ' lg:col-span-3 2xl:col-span-2'
      else
        assign classes = classes | append: ' xl:col-span-3'
      endif
    -%}

    {%- for product in collection.products -%}
      <li class="{{ classes }}" style="--animation-delay: {{ forloop.index }}">
        {%- render 'product-card',
          product_object: product,
          image_max_width: 750,
          image_sizes: sizes,
          image_alt: image_alt,
          image_title: image_title,
          view: template.suffix,
          index: forloop.index
        -%}
      </li>
    {%- endfor -%}
  </ul>

{%- if pagination_type == 'load-more' -%}
  {%- if paginate.pages > 1 -%}
    <div class="load-more-wrapper text-center mt-20 {% if paginate.current_page >= paginate.pages -%}hidden{%- endif -%}">
      <div class="load-more load-more--next flex items-center justify-center mb-4" data-pagination-next>
        {%- if paginate.current_page < paginate.pages -%}
          <a href="{{ paginate.next.url }}" class="button button--primary" data-load-trigger="next">
            <span data-load-text>{% render "render-translation", namespace: "sections.load_more", key: "next", fallback: "Next" %}</span>
            <span class="hidden" data-loader>{% render "render-translation", namespace: "sections.load_more", key: "loading", fallback: "" %}</span>
          </a>
        {%- endif -%}
      </div>

      <p class="text-center" data-totals-text>
        {{ 'sections.load_more.info_html' | t: current: current_html, total: total_html }}
      </p>
    </div>
  {%- endif -%}
  </load-more>
{%- endif -%}

{%- if collection -%}
  <script>
    window.collection = {
      totalItems: {{ paginate.items }},
      totalPages: {{ paginate.pages }},
      itemsPerPage: {{ settings.products_per_page }},
      {% if items_on_last_page != nil %}
        itemsOnLastPage: {{ items_on_last_page }},
      {% endif %}
    }
  </script>
{%- else -%}
  <script>
    window.search = {
      totalItems: {{ paginate.items }},
      totalPages: {{ paginate.pages }},
      itemsPerPage: {{ settings.products_per_page }},
      {% if items_on_last_page != nil %}
        itemsOnLastPage: {{ items_on_last_page }},
      {% endif %}
    }
  </script>
{%- endif -%}