{% comment %}
  {%- render 'product-variant-select',
    product: product,
    section: section,
    block: block
  -%}
{% endcomment %}

<variant-selects
  data-options='
    {
      "section": "{{ section.id }}",
      "productId": "{{ product.id }}",
      "url": "{{ product.url }}",
      "isPreorder": {{ is_preorder | default: false }}
    }
  '
  class="product__variant-selector product__variant-selector--select block {{ class }} group-[.is-fixed]/add-to-cart:block"
  {{ block.shopify_attributes }}>
  <div class="{% if block.settings.picker_layout == 'inline' %}flex gap-base{%- endif %}
    group-[.is-fixed]/add-to-cart:flex
    group-[.is-fixed]/add-to-cart:gap-base">
    {%- for option in product.options_with_values -%}
      <div class="field {% if block.settings.picker_layout == 'inline' %}mb-0{%- endif- %} group-[.is-fixed]/add-to-cart:mb-0">
        <label class="field__label {% if block.settings.picker_label == false %} sr-only{% endif %}" for="{{ product.id }}-{{ option.name | handleize }}-{{ forloop.index0 }}-select">
          {{ option.name }}
        </label>
        <div class="select relative">
          <select
            id="{{ product.id }}-{{ option.name | handleize }}-{{ forloop.index0 }}-select"
            class="select__select"
            name="options[{{ option.name }}]"
            data-option-name="{{ option.name | handleize }}">
            {%- for value in option.values -%}
              <option
                value="{{ value }}"
                data-variant-option-id="{{ product.id }}-{{ option.name }}-{{ forloop.index }}"
                {% if option.selected_value == value %}
                  selected="selected"
                {% endif %}>
                {{ value | capitalize }}
              </option>
            {%- endfor -%}
          </select>
          <span class="select__select-icon">
            {%- render 'icons', icon: 'chevron-down', icon_size: 'w-3' -%}
          </span>
        </div>
      </div>
    {%- endfor -%}
  </div>
  <script type="application/json">
    {{ product.variants | json }}
  </script>
</variant-selects>
