{% comment %}
  Used in main-cart.liquid, cart-drawer.liquid, main-product.liquid

  {%- render 'quantity-input',
    id: section.id,
    input_classes: ''
    value: 1
    qty_product: item.product
    type: 'cart', 'pdp',
    max: 1000 - max available options
    is_preorder: is_preorder
  -%}
{% endcomment %}

{%- liquid
  unless value
    assign value = 1
  endunless

  unless is_preorder
    assign is_preorder = false
  endunless

  unless type
    assign type = 'pdp'
  endunless

  assign state_classes = 'states:border-primary focus-visible:ring-2 focus-visible:ring-primary-300 focus-visible:outline-none focus-visible:ring-offset-2'
  assign button_classes = 'flex h-10 w-10 touch:h-12 touch:w-12 shrink-0 cursor-pointer items-center justify-center rounded-full border bg-transparent p-0 text-black transition-all no-js:hidden group states:bg-primary states:text-primary-text bg-white ' | append: state_classes
  assign icon_class = 'w-3 group-hover:scale-110 pointer-events-none transition-transform duration-75 ease-linear'

  capture button_minus_accessibility_text
    render 'render-translation', namespace: 'products.product.quantity', key: 'decrease', product_item: qty_product.title, fallback: 'Decrease'
  endcapture
  capture button_plus_accessibility_text
    render 'render-translation', namespace: 'products.product.quantity', key: 'increase', product_item: qty_product.title, fallback: 'Increase'
  endcapture
-%}

<quantity-input class="quantity relative inline-flex h-max rounded-full border border-gray-100 p-1 js:bg-gray-50">
  <button class="quantity__button {{ button_classes }}" name="minus" type="button">
    <span class="sr-only">
      {{- button_minus_accessibility_text -}}
    </span>

    {% comment %} Trash icon or regular minus {% endcomment %}
    {%- if type == 'cart' and value == 1 and settings.show_cart_remove == false -%}
      {%- render 'icons', icon: 'trash', icon_class: icon_class -%}
    {%- else -%}
      {%- render 'icons', icon: 'minus', icon_class: icon_class -%}
    {%- endif -%}
  </button>

  <input
    class="quantity__input h-10 appearance-none border-none bg-transparent p-0 text-center text-sm text-current opacity-80 js:w-7 no-js:w-full touch:h-12 {{ state_classes }}"
    type="number"
    name="{%- if type == 'cart' -%}updates[]{%- else -%}quantity{%- endif -%}"
    id="Quantity-{{ id }}"
    min="0"
    value="{{ value }}"
    pattern="[0-9]*"
    inputmode="numeric"
    {% if max and is_preorder == false -%}
      max="{{ max }}"
    {%- endif %}
    aria-label="
      {%- render 'render-translation',
        namespace: 'products.product.quantity',
        key: 'input_label',
        product_item: product.title,
        fallback: 'Quantity for product'
      -%}
    "
    data-index="{{ id }}"
    data-qty-input
    style="-moz-appearance: textfield;">

  <button class="quantity__button {{ button_classes }} " name="plus" type="button">
    <span class="sr-only">
      {{- button_plus_accessibility_text -}}
    </span>
    {% render 'icons', icon: 'plus', icon_class: icon_class %}
  </button>
</quantity-input>
