{%- comment -%}
  # Parameters:
    id              | Add an id to the .container element
    class           | Add a class to the .container element
    data            | Add data attribute(s) to the .container element
    tag             | change the html tag of the .container element

    header_class    | Add a class to the .container__header element
    header_content  | Change the content of the .container__header element

    title           | Add a title to the .container__title element
    title_tag       | change the html tag of the .container__title element
    title_class     | Add a class to the .container__title element

    content_class   | Add a class to the .container__content element
    content         | Change the content of the .container__content element

    footer_class    | Add a class to the .container__footer element
    footer_content  | Change the content of the .container__footer element

    * All parameters can be a string or a capture

  # Example usage:
  {%- capture content %}
    <p>This is some content</p>
  {%- endcapture -%}

  {%- render 'render-container-content',
    title: 'The title'
    content: content
  -%}
{%- endcomment -%}

{%- comment %} Set id {%- endcomment %}
{%- if id != blank -%}
  {%- capture id -%}id="{{- id -}}"{%- endcapture -%}
{%- endif -%}

{%- comment %} Render Container {%- endcomment %}
<{{ tag | default: 'div' }}
  class="container {% if class != blank -%}{{ class }}{%- endif %} only:w-full only:flex-1"
  {%- if id != blank -%}
    {{- id | prepend: ' ' -}}
  {%- endif -%}
  {%- if data != blank -%}
    {{- data | prepend: ' ' -}}
  {%- endif -%}>
  {% comment %} Header {% endcomment %}
  {%- if header_content != blank or title != blank -%}
    <header class="container__header {% if header_class != blank -%}{{ header_class }}{%- endif -%}">
      {%- if header_content != blank -%}
        {{- header_content -}}
      {%- elsif title != blank -%}
        <{{ title_tag | default: 'h2' }} class="container__title {% if title_class != blank -%}{{ title_class }}{%- endif -%}">
          {{- title -}}
        </{{ title_tag | default: 'h2' }}>
      {%- endif -%}
    </header>
  {%- endif -%}

  {% comment %} Container content {% endcomment %}
  {%- if content != blank -%}
    <div class="container__content {% if content_class != blank -%}{{ content_class }}{%- endif -%}">
      {{- content -}}
    </div>
  {%- endif -%}

  {%- comment %} Container footer {%- endcomment %}
  {%- if footer_content != blank -%}
    <footer class="container__footer {% if footer_class != blank -%}{{ footer_class }}{%- endif -%}">
      {{- footer_content -}}
    </footer>
  {%- endif -%}
</{{ tag | default: 'div' }}>
