{%- comment -%}
  Optional parameters
  - prefix
  - predictive_search_enabled
  - max_results

  Example
  {%- render 'search-form', predictive_search_enabled: settings.predictive_search_enabled, prefix: 'mobile' -%}
{%- endcomment -%}

{%- comment -%} Set prefix, div or web component. {%- endcomment -%}
{%- liquid
  unless prefix
    assign prefix = ''
  endunless
  assign search_form_element = 'div'
  if predictive_search_enabled == true
    comment
      Form element
    endcomment
    assign search_form_element = 'predictive-search'

    comment
      Types of results to show
    endcomment
    capture resourceTypes
      if settings.predictive_search_articles
        echo 'article' | prepend: ','
      endif
      if settings.predictive_search_collections
        echo 'collection' | prepend: ','
      endif
      if settings.predictive_search_pages
        echo 'page' | prepend: ','
      endif
      if settings.predictive_search_products
        echo 'product' | prepend: ','
      endif
    endcapture
    assign resourceTypes = resourceTypes | remove_first: ','
  endif
-%}

{%- comment -%} Render output. {%- endcomment -%}
<{{ search_form_element }} class="relative block">
  <form
    action="{{ routes.search_url }}"
    method="get"
    role="search"
    class="search-modal__form relative mx-auto w-full lg:max-w-xs">
    <div class="search-field relative mb-0 w-full">
      <label class="search-field__label hidden" for="{{ prefix }}SearchInModal">
        {%- render 'format-translation',
          namespace: 'general.search',
          key: 'search',
          fallback: 'Search'
        -%}
      </label>
      <input
        placeholder="{% render "format-translation", namespace: "general.search", key: "search", fallback: "Search" %}"
        class="search-field__input state:text-black block w-full appearance-none border border-x-transparent  border-t-transparent bg-transparent py-[5px] pl-6 font-body text-sm leading-7 outline-none ring-transparent placeholder:text-black states:border-transparent states:border-b-secondary states:bg-transparent states:outline-none states:ring-transparent lg:border-b-transparent lg:pl-8 lg:pr-10 lg:text-base lg:states:border-b-transparent"
        id="{{ prefix }}SearchInModal"
        type="search"
        name="q"
        value="{{ search.terms | escape }}"
        {% if predictive_search_enabled %}
          data-predicative-search="input"
          autocomplete="off"
        {% endif %}>
      {%- comment -%} Extra options for search. {%- endcomment -%}
      <input type="hidden" name="options[prefix]" value="last">
    </div>
    {%- comment -%} Button for clear input field. {%- endcomment -%}
    <button
      type="button"
      class="absolute right-0 top-2/4 -translate-y-2/4 states:text-primary"
      data-predicative-search="reset">
      {%- render 'global-icon', icon: 'cross', icon_class: 'w-4' -%}
    </button>
    {%- comment -%} Submit button. {%- endcomment -%}
    <button
      type="submit"
      class="search-modal__button absolute left-0 top-2/4 block -translate-y-2/4 cursor-pointer states:text-primary lg:left-0"
      aria-label="{% render "format-translation", namespace: "general.search", key: "search", fallback: "Search" %}">
      {%- render 'global-icon', icon: 'search', icon_class: 'w-6' -%}
    </button>
  </form>
  {%- if predictive_search_enabled == true -%}
    <div
      class="predictive-search"
      data-predicative-search="results"
      tabindex="-1"
      data-resources-types="{{- resourceTypes -}}"
      data-max-results="{{- max_results | default: 4 -}}"></div>
  {%- endif -%}
</{{ search_form_element }}>

{%- comment -%} Import predictive styles & Javascript when the section is enabled. {%- endcomment -%}
{%- if predictive_search_enabled -%}
  <script src="{{ 'predictive-search.js' | asset_url }}" defer></script>
{%- endif -%}
