{%- liquid
  assign color_wrapper_class = 'flex flex-wrap gap-2 text-xs items-center'
  assign circle_class = 'h-16 w-16 rounded-full p-1 text-center mb-1'
  assign circle_class_full = 'text-lg mb-0 w-[150px] rounded-full h-fit p-2 text-center'

  assign communication_colors = 'info, success, warning, danger' | split: ', '
  assign color_names = 'primary, secondary, accent, gray' | split: ', '
-%}

{% comment %} Base {% endcomment %}
<div class="space-y-8">
  {% comment %} Communication colors {% endcomment %}
  <div class="{{ color_wrapper_class }}">
    {%- for color in communication_colors -%}
      {%- assign color_capitalized = color | capitalize -%}

      <div class="{{ color_wrapper_class }} flex-col items-center justify-center">
        {%- assign class = 'bg-' | append: color -%}
        <div
          class="{{ circle_class }} {{ class }}"
          title="{{- color_capitalized -}}"></div>
        <p>{{- color_capitalized -}}</p>
      </div>
    {%- endfor -%}
  </div>

  {%- for color_option in color_names -%}
    {% comment %} For the colors to render, we need to render the class name without using liquid {% endcomment %}
    {%- liquid
      case color_option
        when 'primary'
          assign bg_color = 'bg-primary'
          assign text_color = 'text-primary-text'
        when 'secondary'
          assign bg_color = 'bg-secondary'
          assign text_color = 'text-secondary-text'
        when 'accent'
          assign bg_color = 'bg-accent'
          assign text_color = 'text-accent-text'
        when 'gray'
          assign bg_color = 'bg-gray'
          assign text_color = 'text-gray-text'
      endcase
    -%}
    <div class="{{ color_wrapper_class }}">
      <div
        class="{{ circle_class_full }} {{ bg_color }} {{ text_color }}"
        title="{{ color_option | capitalize }}">
        <p>{{ color_option | capitalize }}</p>
      </div>
    </div>
  {%- endfor -%}
</div>
