{%- assign button_wrapper_class = 'flex flex-wrap gap-2' -%}
{%- assign button_types = 'primary, secondary, tertiary, outline, gradient' | split: ', ' -%}

<div class="space-y-6">
  {% comment %} Icon buttons {% endcomment %}
  <div class="{{ button_wrapper_class }}">
    <a href="#" class="button button--primary rounded-full border-none p-3">
      {%- render 'global-icon', icon: 'cart', icon_class: 'w-5' -%}
    </a>
    <button class="button button--primary rounded-full border-none p-3">
      {%- render 'global-icon', icon: 'heart', icon_class: 'w-5' -%}
    </button>
  </div>

  {% comment %}
    Button types
    Will render buttons for button--primary, button--secondary, button--tertiary, button--outline
  {% endcomment %}
  {%- for type in button_types -%}
    <div class="{{ button_wrapper_class }}">
      {%- assign type_label = type | replace: '-', ' ' | capitalize -%}
      {%- if type == blank -%}
        {%- assign type_label = 'Default' -%}
      {%- endif -%}

      <a href="#" class="button button--{{ type }}">{{ type_label }} anchor</a>
      <input type="button" class="button button--{{ type }}" value="{{ type_label }} input">
      <button type="button" class="button button--{{ type }}">{{ type_label }} button</button>
      <button type="button" class="button button--{{ type }} loading">
        {{ type_label }} button
      </button>
      <button type="button" class="button button--{{ type }}">
        {{ type_label }} icon button
        {%- render 'global-icon', icon: 'caret', icon_class: 'w-3' -%}
      </button>
      <button type="button" disabled="disabled" class="button button--{{ type }}">
        {{ type_label }} button disabled
      </button>
    </div>
  {%- endfor -%}

  {% comment %} Links {% endcomment %}
  <div class="{{ button_wrapper_class }}">
    <a href="#" class="button button--link">
      Link anchor
      {% render 'global-icon', icon: 'arrow', icon_class: 'w-3' %}
    </a>
    <input type="button" class="button button--link" value="Link input">
    <button type="button" class="button button--link">
      Link button
      {% render 'global-icon', icon: 'arrow', icon_class: 'w-3' %}
    </button>
    <button type="button" disabled="disabled" class="button button--link">
      Link button disabled
      {% render 'global-icon', icon: 'arrow', icon_class: 'w-3' %}
    </button>
  </div>

  <div>
    <a href="#" class="link">
      Link without padding
      {% render 'global-icon', icon: 'arrow', icon_class: 'w-3' %}
    </a>
  </div>

  <div>
    <button class="button w-full">Default full width button</button>
  </div>
</div>
