{%- liquid
  assign color_wrapper_class = 'flex flex-wrap gap-2 text-xs'
  assign circle_class = 'flex h-20 w-20 items-center justify-center rounded p-1 text-center mb-1'
  assign circle_class_full = 'flex h6 mb-0 w-full items-center justify-center rounded p-2 text-center'

  assign global_colors = 'color-bg|background, text-color-default|text, text-link-color|link, text-link-color-states|link hover' | split: ', '
  assign palette_types = '50, 100, 200, 300, 400, 500, 600, 700, 800, 900' | split: ', '
  assign communication_colors = 'info, success, warning, danger' | split: ', '
-%}

{% comment %} Base {% endcomment %}
<div class="space-y-8">
  <div class="{{ color_wrapper_class }}">
    {%- for color in global_colors -%}
      {%- liquid
        assign color_class = color | split: '|' | first
        assign color_capitalized = color | split: '|' | last | capitalize
      -%}

      <div>
        <div
          class="{{ circle_class }}"
          style="background-color: var(--{{- color_class -}});"
          title="{{- color_capitalized -}}"></div>
        <p>{{- color_capitalized -}}</p>
      </div>
    {%- endfor -%}
  </div>

  {% comment %} Communication colors {% endcomment %}
  <div class="{{ color_wrapper_class }}">
    {%- for color in communication_colors -%}
      {%- assign color_capitalized = color | capitalize -%}

      <div>
        <div
          class="{{ circle_class }}"
          style="background-color: var(--color-{{- color -}});"
          title="{{- color_capitalized -}}"></div>
        <p>{{- color_capitalized -}}</p>
      </div>
    {%- endfor -%}
  </div>

  {% comment %} Primary {% endcomment %}
  <div class="{{ color_wrapper_class }}">
    <div
      class="{{ circle_class_full }}"
      style="background: var(--color-primary); color: var(--color-primary-text)"
      title="Primary">
      <p class="text-white">Primary</p>
    </div>

    {%- for type in palette_types -%}
      <div>
        <div
          class="{{ circle_class }}"
          style="background-color: var(--color-primary-{{ type }});"
          title="Primary {{ type }}"></div>
        <p>{{ type }}</p>
      </div>
    {%- endfor -%}
  </div>

  {% comment %} Secondary {% endcomment %}
  <div class="{{ color_wrapper_class }}">
    <div
      class="{{ circle_class_full }}"
      style="background-color: var(--color-secondary); color: var(--color-secondary-text)"
      title="Secondary">
      <p>Secondary</p>
    </div>

    {%- for type in palette_types -%}
      <div>
        <div
          class="{{ circle_class }}"
          style="background-color: var(--color-secondary-{{ type }});"
          title="Secondary {{ type }}"></div>
        <p>{{ type }}</p>
      </div>
    {%- endfor -%}
  </div>

  {% comment %} Accent {% endcomment %}
  <div class="{{ color_wrapper_class }}">
    <div
      class="{{ circle_class_full }}"
      style="background-color: var(--color-accent); color: var(--color-accent-text);"
      title="Accent">
      <p>Accent</p>
    </div>

    {%- for type in palette_types -%}
      <div>
        <div
          class="{{ circle_class }}"
          style="background-color: var(--color-accent-{{ type }});"
          title="Accent {{ type }}"></div>
        <p>{{ type }}</p>
      </div>
    {%- endfor -%}
  </div>

  {% comment %} Gray {% endcomment %}
  <div class="{{ color_wrapper_class }}">
    <div
      class="{{ circle_class_full }} bg-gray-400 text-white"
      title="Gray">
      <p>Gray</p>
    </div>

    {%- assign gray_palette_types = 'bg-gray-50, bg-gray-100, bg-gray-200, bg-gray-300, bg-gray-400, bg-gray-500, bg-gray-600, bg-gray-700, bg-gray-800, bg-gray-900'
      | split: ', '
    -%}
    {%- for type in gray_palette_types -%}
      <div>
        <div
          class="{{ circle_class }} {{ type }}"
          title="Gray {{ type }}"></div>
        <p>{{ type | split: '-' | last }}</p>
      </div>
    {%- endfor -%}
  </div>
</div>
